﻿<div ng-controller="UmbracoStarterKitPrevalueDropdown">
    <select name="dropDownList" class="umb-editor umb-dropdown" 
        ng-model="model.value" 
        ng-options="item.text as item.text for item in model.prevalues">
        <option></option>
    </select>
</div>