/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #0b0b0b;
	opacity: 0.8; }

  .mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; }

  .mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	box-sizing: border-box; }

  .mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; }

  .mfp-align-top .mfp-container:before {
	display: none; }

  .mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; }

  .mfp-inline-holder .mfp-content,
  .mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; }

  .mfp-ajax-cur {
	cursor: progress; }

  .mfp-zoom-out-cur {
	cursor: -moz-zoom-out;
	cursor: -webkit-zoom-out;
	cursor: zoom-out; }

  .mfp-zoom {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in; }

  .mfp-auto-cursor .mfp-content {
	cursor: auto; }

  .mfp-arrow,
  .mfp-preloader,
  .mfp-counter {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none; }

  .mfp-loading.mfp-figure {
	display: none; }

  .enhance {

	  .mfp-hide {
		display: none !important; }

  }

  .mfp-preloader {
	color: #CCC;
	position: absolute;
	top: 50%;
	width: auto;
	text-align: center;
	margin-top: -0.8em;
	left: 8px;
	right: 8px;
	z-index: 1044; }
	.mfp-preloader a {
	  color: #CCC; }
	  .mfp-preloader a:hover {
		color: #FFF; }

  .mfp-s-ready .mfp-preloader {
	display: none; }

  .mfp-s-error .mfp-content {
	display: none; }

  button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	touch-action: manipulation; }

  button::-moz-focus-inner {
	padding: 0;
	border: 0; }



  .mfp-counter {
	position: absolute;
	top: 0;
	right: 0;
	color: #CCC;
	font-size: 12px;
	line-height: 18px;
	white-space: nowrap; }

  .mfp-arrow {
	position: absolute;
	opacity: 0.65;
	margin: 0;
	top: 50%;
	margin-top: -55px;
	padding: 0;
	width: 90px;
	height: 110px;
	-webkit-tap-highlight-color: transparent; }
	.mfp-arrow:active {
	  margin-top: -54px; }
	.mfp-arrow:hover,
	.mfp-arrow:focus {
	  opacity: 1; }
	.mfp-arrow:before,
	.mfp-arrow:after {
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  position: absolute;
	  left: 0;
	  top: 0;
	  margin-top: 35px;
	  margin-left: 35px;
	  border: medium inset transparent; }
	.mfp-arrow:after {
	  border-top-width: 13px;
	  border-bottom-width: 13px;
	  top: 8px; }
	.mfp-arrow:before {
	  border-top-width: 21px;
	  border-bottom-width: 21px;
	  opacity: 0.7; }

  .mfp-arrow-left {
	left: 0; }
	.mfp-arrow-left:after {
	  border-right: 17px solid #FFF;
	  margin-left: 31px; }
	.mfp-arrow-left:before {
	  margin-left: 25px;
	  border-right: 27px solid #3F3F3F; }

  .mfp-arrow-right {
	right: 0; }
	.mfp-arrow-right:after {
	  border-left: 17px solid #FFF;
	  margin-left: 39px; }
	.mfp-arrow-right:before {
	  border-left: 27px solid #3F3F3F; }

  .mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px; }
	.mfp-iframe-holder .mfp-content {
	  line-height: 0;
	  width: 100%;
	  max-width: 900px; }
  .mfp-iframe-scaler {
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-top: 56.25%; }
	.mfp-iframe-scaler iframe {
	  position: absolute;
	  display: block;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	  background: #000; }

  /* Main image in popup */
  img.mfp-img {
	width: auto;
	max-width: 100%;
	height: auto;
	display: block;
	line-height: 0;
	box-sizing: border-box;
//	padding: 40px 0 40px;
	margin: 0 auto; }

  /* The shadow behind the image */
  .mfp-figure {
	line-height: 0; }
	.mfp-figure:after {
	  content: '';
	  position: absolute;
	  left: 0;
	  top: 40px;
	  bottom: 40px;
	  display: block;
	  right: 0;
	  width: auto;
	  height: auto;
	  z-index: -1;
	  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
	  background: #444; }
	.mfp-figure small {
	  color: #BDBDBD;
	  display: block;
	  font-size: 12px;
	  line-height: 14px; }
	.mfp-figure figure {
	  margin: 0; }

  .mfp-bottom-bar {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	cursor: auto; }

  .mfp-title {
	text-align: left;
	line-height: 18px;
	color: #F3F3F3;
	word-wrap: break-word;
	padding-right: 36px; }

  .mfp-image-holder .mfp-content {
	max-width: 100%; }

  .mfp-gallery .mfp-image-holder .mfp-figure {
	cursor: pointer; }

  @media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
	/**
	 * Remove all paddings around the image on small screen
	 */
	.mfp-img-mobile .mfp-image-holder {
	  padding-left: 0;
	  padding-right: 0; }
	.mfp-img-mobile img.mfp-img {
	  padding: 0; }
	.mfp-img-mobile .mfp-figure:after {
	  top: 0;
	  bottom: 0; }
	.mfp-img-mobile .mfp-figure small {
	  display: inline;
	  margin-left: 5px; }
	.mfp-img-mobile .mfp-bottom-bar {
	  background: rgba(0, 0, 0, 0.6);
	  bottom: 0;
	  margin: 0;
	  top: auto;
	  padding: 3px 5px;
	  position: fixed;
	  box-sizing: border-box; }
	  .mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0; }
	.mfp-img-mobile .mfp-counter {
	  right: 5px;
	  top: 3px; }
  }

  @media all and (max-width: 900px) {
	.mfp-arrow {
	  -webkit-transform: scale(0.75);
	  transform: scale(0.75); }
	.mfp-arrow-left {
	  -webkit-transform-origin: 0;
	  transform-origin: 0; }
	.mfp-arrow-right {
	  -webkit-transform-origin: 100%;
	  transform-origin: 100%; }
	.mfp-container {
	  padding-left: 6px;
	  padding-right: 6px; }
  }


  ////////////
  /* text-based popup styling */
  .white-popup {
	position: relative;
	background: $background-colour;
	padding: 4rem 2rem 2rem;
	width: auto;
	margin: $line-height * 2 auto;
	max-width: $wrap-small;
  }

  .mfp-close {
	  width: 6rem;
	  height: 6rem;
	  color: $white;
	  position: absolute;
	  font-weight: $bold;
	  border-radius: 50%;
	  background-color: $pri;
	  top: -3rem;
	  right: -3rem;
	  line-height: 1;
	  text-align: center;
	  padding: 2.2rem 2.5rem;
	  z-index: 1;
	  box-shadow: $box-shadow-1;
	  transition: color $speed $ease,
				  background $speed $ease;

		&:hover {
			background: $yellow-2;
		}

		&:focus {
			border-color: $yellow-3;
		}
  }

  @include respond-min( $mq-medium ) {

	  .white-popup {
		  padding: 4rem;
	  }

  }

  .mfp-content {

	.grecaptcha-badge {
		display: none;
	}

  }

  .modal-wrap {
	position: relative;
	background: $background-colour;
	width: auto;
	margin: $line-height * 2 auto;

	.c-alert--error {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}
  }

  /*
  ====== Zoom effect ======
  */

  .mfp-zoom-in {
	/* start state */
	/* animate in */
	/* animate out */
  }
  .mfp-zoom-in .mfp-with-anim,
  .mfp-zoom-in .mfp-content {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
  }
  .mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
  }
  .mfp-zoom-in.mfp-ready .mfp-with-anim,
  .mfp-zoom-in.mfp-ready .mfp-content {
	opacity: 1;
	transform: scale(1);
  }
  .mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
  }
  .mfp-zoom-in.mfp-removing .mfp-with-anim,
  .mfp-zoom-in.mfp-removing .mfp-content {
	transform: scale(0.8);
	opacity: 0;
  }
  .mfp-zoom-in.mfp-removing.mfp-bg, {
	opacity: 0;
  }

  /*
  ====== Move-from-top effect ======


  .mfp-move-from-top {
	// start state
	// animate in
	// animate out
  }
  .mfp-move-from-top .mfp-content {
	vertical-align: top;
  }
  .mfp-move-from-top .mfp-with-anim {
	opacity: 0;
	transition: all 0.2s;
	transform: translateY(-100px);
  }
  .mfp-move-from-top.mfp-bg {
	opacity: 0;
	transition: all 0.2s;
  }
  .mfp-move-from-top.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: translateY(0);
  }
  .mfp-move-from-top.mfp-ready.mfp-bg {
	opacity: 0.8;
  }
  .mfp-move-from-top.mfp-removing .mfp-with-anim {
	transform: translateY(-50px);
	opacity: 0;
  }
  .mfp-move-from-top.mfp-removing.mfp-bg {
	opacity: 0;
  }

  /*

  ====== Zoom-out effect ======


  .mfp-zoom-out {
	// start state
	// animate in
	// animate out
  }
  .mfp-zoom-out .mfp-with-anim {
	opacity: 0;
	transition: all 0.3s ease-in-out;
	transform: scale(1.3);
  }
  .mfp-zoom-out.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
  }
  .mfp-zoom-out.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1);
  }
  .mfp-zoom-out.mfp-ready.mfp-bg {
	opacity: 0.8;
  }
  .mfp-zoom-out.mfp-removing .mfp-with-anim {
	transform: scale(1.3);
	opacity: 0;
  }
  .mfp-zoom-out.mfp-removing.mfp-bg {
	opacity: 0;
  }

  */
