/* ===========================================================
	# Selectric
=========================================================== */

.selectric-wrapper {
	position: relative;
	cursor: pointer;
	z-index: 9;
}

.selectric-responsive {
	width: 100%;
}

.selectric {
	width: 100%;
	border: $border-width solid $light-2;
	padding: 1rem 2rem;
	background: $white;
	position: relative;
	box-shadow: $box-shadow-2;
	border-radius: $border-radius;
	transition: border $speed $ease,
				background $speed $ease,
				border-radius $speed $ease,
				box-shadow $speed $ease;

	.label {
		color: $text-colour;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 0 30px 0 0;
		min-height: 18px;
	}

	.button {
		width: 4rem;
		height: 100%;
		display: block;
		color: $sec;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.3rem;
		padding: 1.3rem 1.6rem;
		text-align: center;
		transition: color $speed $ease,
					background $speed $ease;

		&:after {
			width: 100%;
			font-size: 2.4rem;
			background-color: $pri;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY( -50% );
			transition: color $speed $ease,
						background $speed $ease;
		}
	}
}

.selectric-hover {

	.selectric .button {

	}

}

.selectric-open {
	z-index: 9999;

	.selectric {
		border-color: $sec;
		box-shadow: $box-shadow-focus;
		border-radius: $border-radius $border-radius 0 0;
	}

	.selectric-items {
		visibility: visible;
		opacity: 1;
		transform: translateY(0) !important;
	}

	&.selectric-above {

		.selectric {
			border-radius: 0 0 $border-radius $border-radius;
		}

		.selectric-items {
		   top: auto;
		   bottom: 100%;
		   border-radius: $border-radius $border-radius 0 0;
	   }

	}

}

.selectric-disabled {
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
	      user-select: none;
}

.selectric-hide-select {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;

	select {
		position: absolute;
		left: -100%;
		display: none;
	}
}

.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */

.selectric-items {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	background: $white;
	border-top-width: 0;
	z-index: -1;
	padding: 0;
	overflow: hidden;
	border-radius: 0 0 $border-radius $border-radius;
	box-shadow: $box-shadow-focus;
	transform: translateY(-1rem);
	transition: opacity $speed $ease,
				visibility $speed $ease,
				transform $speed $ease;

	.selectric-scroll {
		height: 100%;
		overflow: auto;
	}

	ul,
	li {
		list-style: none;
		padding: 0;
		margin: 0;
		line-height: 1.4;
		min-height: 4rem;
	}

	li {
		display: block;
		padding: 1rem 1.5rem;
		color: $text-colour;
		cursor: pointer;
		transition: color $speed $ease,
					background $speed $ease;

		&.selected {
			color: $pri;
			font-weight: $bold;
			background-color: $light-1;
		}

		&.highlighted,
		&:hover {
			background-color: $light-1;
		}
	}

	.disabled {
		filter: alpha(opacity=50);
		opacity: 0.5;
		cursor: default !important;
		background: none !important;
		color: #666 !important;
		-webkit-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
		      user-select: none;
	}
}

.selectric-above {

	.selectric-items {
		transform: translateY(1rem);
	}

}


.selectric-items {

	.selectric-group .selectric-group-label {
		font-weight: bold;
		padding-left: 10px;
		cursor: default;
		-webkit-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
		      user-select: none;
		background: none;
		color: #444;
	}

	.selectric-group.disabled li {
		filter: alpha(opacity=100);
		opacity: 1;
	}

	.selectric-group li {
		padding-left: 25px;
	}

}



// show overflow scroll

.selectric-scroll {

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
		width: 11px;
	}

	&::-webkit-scrollbar:horizontal {
		height: 11px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 2px solid white; /* should match background, can't be transparent */
		background-color: rgba(0, 0, 0, .5);
	}

	&::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 8px;
	}

}
