/* ===========================================================

	# Variables

=========================================================== */

$old-ie: 					false!default;
$base-dir: 					'/assets';
$fonts: 					'#{$base-dir}/fonts';
$images: 					'#{$base-dir}/img';
$icons: 					'#{$base-dir}/img/icons';


/* ===========================================================

	# COLOURS

=========================================================== */

$white: 					#FFFFFF;
$black: 					#000000;
$red:						#892020;

$l-red-1:					#ed1c24;
$l-red-2:					#f68d91;
$l-red-3:					#fcddde;

$green:						#a4c616;
$green-2:					#adcc2d;
$green-3:					#e4eeb9;

$grey-1:					#838691;
$grey-2:					#747782;

$dark-1:					#4e5263;
$navy-1:					#28295d;
$navy-2:					#3d3e6d;
$navy-3:					#68698d;
$navy-4:					#bebece;

$yellow-1:					#f8a800;
$yellow-2:					#fac24c;
$yellow-3:					#fde5b2;

$light-0:					#f6f6f7;
$light-1:					#f1f1f2;
$light-2:					#dcdce0;
$light-3:					#cacbd0;

$pri: 						$yellow-1;
$sec: 						$navy-2;

$facebook: 					#3b5998;
$twitter: 					#55acee;
$google: 					#dc4e41;
$instagram: 				#db2c74;
$linkedin:	 				#0077b5;
$pinterest: 				#bd081c;
$youtube: 					#cd201f;
$vimeo: 					#1ab7ea;
$flcikr: 					#0063dc;
$dribbble: 					#ea4c89;
$behance: 					#1769ff;

/* ===========================================================

	# Base values

=========================================================== */

$ff-pri-fallback:			Arial, Geneva, sans-serif;
$ff-pri-webfont:			'Lato';

$ff-sec-fallback:			Georgia, serif;
$ff-sec-webfont:			'Merriweather';

$font-size-small:			1.6rem;
$font-size-large:			1.6rem;
$line-height:				1.8em;
$type-scale-small:			1.125;
$type-scale-medium:			1.150;
$type-scale-large:			1.25;

$heading-colour:			$dark-1;
$text-colour:				$grey-2;
$background-colour:			$white;
$border-colour:				$light-1;
$link-colour:				$pri;
$link-colour-hover:			$yellow-2;
$form-placeholder-colour:	$grey-1;
$placeholder-colour:		$light-1;
$highlight-colour:			lighten( $pri, 30 );

$error:						$red;
$success:					$green;
$disabled:					$light-1;

// section padding
$padding-small:				4rem;
$padding-medium:			6rem;
$padding-large:				8rem;

$border-width: 				.1rem;
$border-radius: 			.4rem;
$speed: 					.3s;
$ease:						ease;

$light:						300;
$regular:					500;
$bold:						700;

$wrap-small:				75rem;
$wrap-medium:				82rem;
$wrap-large:				93rem;
$wrap-x-large:				114rem;
$wrap-xx-large:				137rem;

// utility

$box-shadow-1:				0 0 60px rgba(#444,0.3);
$box-shadow-2:				0 0 10px 2px rgba(#444,0.1);
$box-shadow-focus:			0 0 10px 2px rgba($sec,0.3);

/* ===========================================================

	# Media queries

=========================================================== */

$mq-small:	 				600px;
$mq-medium: 				800px;
$mq-large: 					1000px;
$mq-x-large: 				1280px;
$mq-xx-large: 				1380px;
$mq-xxx-large: 				1540px;

/* ===========================================================

	# Grid settings

=========================================================== */

$jeet-gutter:				5      !default;
$jeet-parent-first:     	false  !default;
$jeet-layout-direction: 	"LTR"  !default;
$jeet-max-width:			1410px !default;
