/* ===========================================================

	# Align

=========================================================== */

.o-align--full,
.o-align--default {
	clear: both;
}


@include respond-min( $mq-medium ) {

	.o-align--default {
		margin-left: -3rem;
		margin-right: -3rem;
	}

	.o-align--left,
	.o-align--right {
		width: 45%;
	}

	.o-align--left {
		float: left;
		margin-left: -3rem;
		margin-right: $line-height;
	}

	.o-align--right {
		float: right;
		margin-right: -3rem;
		margin-left: $line-height;
	}

}

@include respond-min( $mq-xx-large ) {

	.o-align--default {
		margin-left: -15%;
		margin-right: -15%;
	}

	.o-align--left,
	.o-align--right {
		width: 55%;
	}

	.o-align--left {
		margin-left: -15%;
	}

	.o-align--right {
		margin-right: -15%;
	}

}
