/* ===========================================================

	# Generic columns

=========================================================== */

@include respond-max( $mq-small ) {

	.o-col + .o-col {
		margin-top: $line-height;
	}

}

@include respond-min( $mq-small ) {

	.o-col + .o-col.o-col {
		margin-top: 0;
	}

	.o-col--two {

		.o-col {
			@include column(1/2);
		}

	}

	.o-col--three {

		.o-col {
			@include column( 1/3 );
		}

	}

	.o-col--four {
		.o-col {
			@include column( 1/4 );
		}
	}

}

@include respond-max( $mq-medium ) {

	.o-col--med-two {

		.o-col + .o-col {
			margin-top: $line-height;
		}

	}

}

@include respond-min( $mq-medium ) {

	.o-col--two-one {

		.o-col--first {
			@include column(2/3);
			min-height: 1px;
		}

		.o-col--last {
			@include column(1/3);
		}

	}

	.o-col--one-three-reversed {

		.o-col--first {
			@include column(3/4);
			@include shift(1/4);
		}

		.o-col--last {
			@include column(1/4);
			@include shift(-3/4)
		}
	}

	.o-col--med-two {

		.o-col {
			@include column(1/2);
		}

	}

}

@include respond-max( $mq-large ) {

	.o-col--lg-two {

		.o-col + .o-col {
			margin-top: $line-height;
		}

	}

}

@include respond-min( $mq-large ) {

	.o-col--lg-two {

		.o-col {
			@include column(1/2);
		}

	}

}
