/* ===========================================================

	# Form

=========================================================== */
$line-height-half: $line-height / 2;

.o-form__field
{
	& + &
	{
		margin-top: 1.4rem;
	}
	&.is-invalid {
		margin-bottom: 2.0em;
	}

	position: relative;

	input,
	textarea
	{
		box-shadow: $box-shadow-2;
		background-color: $white;

		&:focus
		{
			box-shadow: $box-shadow-focus;
		}
	}

	.o-validation
	{
		position: absolute;
		right: 0;
	}
}

.o-input,
.o-select select,
.o-textarea
{
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.o-validation
{
	display: none;
	margin-top: $line-height / 4;

	.is-valid &
	{
		display: block;
		color: $success;
	}

	.is-invalid &
	{
		display: block;
		color: $error;
	}
}

.field-validation-error
{
	color: $error;
}

.enhance
{

	.o-form--simple
	{

		.o-label
		{
			@include hide-text;
		}
	}
}

.o-form__field--submit
{
	text-align: right;
}


//= LABEL ====================================================

.o-label
{
	font-size: 1.8rem;
	color: $dark-1;
	padding-bottom: $line-height / 2;
}

.o-label__note
{
	color: $border-colour;
	float: right;
	font-size: .8em;
	font-style: italic;
}



//= SELECT ===================================================

.o-select
{
	position: relative;
	vertical-align: middle;
	z-index: 8675309; //as this will not normally flow over top a range slider

	select
	{
		position: relative;
		text-indent: .01px;
		text-overflow: '';
		z-index: 1;

		&::-ms-expand
		{
			display: none;
		}

		.lt-ie10 &
		{
			padding-right: 1rem;
		}
	}

	&:after
	{
		background: $background-colour;
		border-radius: 0 $border-radius - $border-width $border-radius - $border-width 0;
		box-sizing: border-box;
		color: $border-colour;
		content: '\25BE';
		display: block;
		height: calc( 100% - .2rem );
		padding: 1rem 1.5rem;
		position: absolute;
		pointer-events: none;
		right: $border-width;
		top: $border-width;
		z-index: 0;

		.lt-ie10 &
		{
			display: none;
		}
	}
}

// FireFox 30 hide native down arrow
:-moz-any( .o-select ):after
{
	z-index: 1;
}


//= FIELDSET =================================================

.o-fieldset__legend
{
	font-weight: $bold;
	padding-bottom: $line-height / 4;
	width: 100%;

	.o-label__note
	{
		float: none;
	}
}

.o-fieldset__list
{
	list-style: none;
}

.o-fieldset__item
{
	margin: 0;

	.o-label
	{
		font-weight: normal;
	}

	input
	{
		margin: 0 .5rem 0 0;
		width: auto;
	}
}

.o-fieldset--description-list
{

	.o-fieldset__item
	{

		& + .o-fieldset__item
		{
			margin-top: $line-height;
		}
	}
}

@include respond-min($mq-large)
{

	.o-fieldset--description-list
	{

		.o-fieldset__item
		{
			@include clearfix();
			font-size: 1.8rem;

			& + .o-fieldset__item
			{
				margin-top: $line-height;
			}
		}

		.o-checkbox,
		.o-radio
		{
			@include column(2.5/10, $gutter: 2);
		}

		.o-fieldset__item-description
		{
			@include column(7.5/10, $gutter: 2);
		}
	}

	.enhance
	{

		.o-fieldset--description-list
		{

			.o-checkbox,
			.o-radio
			{
				padding-top: 0;
			}
		}
	}
}

.enhance
{

	.o-checkbox,
	.o-radio
	{
		font-weight: normal;
		padding: $line-height-half 0;
		position: relative;

		.o-checkbox__button,
		.o-radio__button
		{
			width: 3rem;
			height: 3rem;
			border: .2rem solid $light-3;
			background-color: $white;
			display: inline-block;
			margin-right: 1rem;
			vertical-align: middle;
			border-radius: $border-radius;
			transition: background-color $speed $ease;
			position: absolute;
			left: 0;

			.no-enhance &
			{
				display: none;
			}
		}

		.o-checkbox__input,
		.o-radio__input
		{
			display: none;

			&:checked
			{

				& + input[type="hidden"] + .o-checkbox__label .o-checkbox__button,
				& + input[type="hidden"] + .o-radio__label-radio__button .o-radio__button,
				& + .o-checkbox__label .o-checkbox__button,
				& + .o-radio__label-radio__button .o-radio__button
				{

					.o-checkbox__icon
					{
						opacity: 1;
					}
				}
			}
		}

		.o-radio__label:before
		{
			border-radius: 50%;
		}
	}

	.o-checkbox__label,
	.o-radio__label
	{
		font-weight: 900;
		font-size: 1.8rem;
		display: block;
		position: relative;
		padding-left: 4rem;
	}

	.o-checkbox__icon
	{
		width: 14px;
		height: 12px;
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		transform: translate(-50%, -50%) rotate(45deg);
		transition: opacity $speed $ease;
		line-height: 1;

		&::before
		{
			content: "";
			width: 50%;
			height: 100%;
			display: block;
			margin: auto;
			border-right: 3px solid $dark-1;
			border-bottom: 3px solid $dark-1;
			box-sizing: border-box;
		}
	}


	.o-label--checkbox
	{
		&:after
		{
			border-radius: $border-radius;
		}
	}

	.o-label--radio
	{
		&:after
		{
			border-radius: 100%;
		}
	}

	.is-disabled
	{

		.o-checkbox__label,
		.o-radio__label
		{

			&:before
			{
				background-color: $disabled;
			}
		}
	}
}


//= BUTTON ===================================================

.o-input + .c-button,
.o-select + .c-button,
.o-textarea + .c-button
{
	margin-top: $line-height * 2;
}

@include respond-max( $mq-medium )
{

	.enhance
	{

		.o-fieldset__item + .o-fieldset__item
		{
			// margin-top: $padding-small / 2;
		}
	}
}

.o-form__inline-field
{

	.flexbox &
	{
		display: flex;
		align-items: center;
	}

	.o-label
	{
		display: inline-block;
		padding-bottom: 0;
		margin-right: $line-height;
	}

	.selectric-wrapper
	{
		display: inline-block;
	}
}

.o-form__row
{

	& + &
	{
		margin-top: $line-height;
	}
}


@include respond-min( $mq-medium )
{

	.o-form__row
	{

		& + &
		{
			margin-top: 5rem;
		}
	}

	.o-form__row--two,
	.o-form__row--three
	{
		@include clearfix();

		.o-form__field
		{
			margin-top: 0;
		}
	}

	.o-form__row--two
	{

		.o-form__field
		{
			@include column(1/2, $gutter: 2);
		}
	}

	.o-form__row--three
	{

		.o-form__field
		{
			@include column(1/3, $gutter: 2);
		}
	}
}

@include respond-min-max( $mq-small, $mq-large )
{

	.o-form__row--two-one
	{
		@include clearfix();

		.o-form__field--first,
		.o-form__field--second
		{
			@include column(1/2, $cycle: 2, $gutter: 2);
			margin-top: 0;
			margin-bottom: $line-height;
		}

		.o-form__field--last
		{
			clear: both;
		}
	}
}

@include respond-min( $mq-large )
{

	.o-form__row--two-one
	{
		@include clearfix();

		.o-form__field
		{
			margin-top: 0;
		}

		.o-form__field--first,
		.o-form__field--second
		{
			@include column(1/4, $gutter: 2);
		}

		.o-form__field--last
		{

			@include column(2/4, $gutter: 2);
		}
	}
}
