/* ===========================================================

	# Generic grid

=========================================================== */

@include respond-max( $mq-small ) {

	.o-grid__item {
		margin-bottom: $line-height;
	}

}

@include respond-min-max( 400px, $mq-small ) {

	.o-grid__item {
		@include column( 1/2, $cycle: 2 );
	}

}

@include respond-min( $mq-small ) {

	.o-grid--three {

		.o-grid__item {
			@include column( 1/3, $cycle: 3 );
			margin-bottom: $line-height * 2;
		}

	}

}
