/* ===========================================================

	# Page

=========================================================== */

html {
	height: 100%;
}

.o-page {
	background: $background-colour;
	min-height: 100%;
	overflow-x: hidden;
}

.o-page__inner {
	width: 100%;

	&:before {
		content: "";
		width: 100%;
		max-height: 100%;
		height: 47rem;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		background: linear-gradient(to bottom, $light-3 0%,#ffffff 100%);
	}
}

.flexbox {

	.o-page {
		display: flex;
		flex-direction: column;
	}

	.o-page__inner {
		flex: 1 1 auto;
	}

}
