/* ===========================================================

	# Section

=========================================================== */

.o-section {
	padding-bottom: $padding-small;
	padding-top: $padding-small;
}

.o-section__headline {
	padding-bottom: 0;
	margin-bottom: 4rem;
}

@include respond-min-max( $mq-small, $mq-medium ) {

	.o-section {
		padding-bottom: $padding-medium;
		padding-top: $padding-medium;
	}

}

@include respond-min( $mq-medium ) {

	.o-section {
		padding-bottom: $padding-large;
		padding-top: $padding-large;
	}

	.o-section__headline {
		margin-bottom: 6rem;
	}

}
