@using System.Xml;
@using System.ServiceModel.Syndication;
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
	var locations = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("location");
	if (locations == null) {
		return;
	}
	var location = locations.FirstOrDefault();
	if (location == null) {
		return;
	}
	var docType = location.DocumentTypeAlias;
	var country = docType == "country" ? location : location.Ancestor();

	var feedLink = country.GetPropertyValue<string>("travelAdviceLink");
	if (String.IsNullOrWhiteSpace(feedLink)) {
		feedLink = "https://www.gov.uk/foreign-travel-advice/" + country.Name.ToUrlSegment();
	}
	feedLink = feedLink + ".atom";

	try {
		XmlReader reader = XmlReader.Create(feedLink);
		SyndicationFeed feed = SyndicationFeed.Load(reader);

		var entry = feed.Items.FirstOrDefault();
		if (entry == null) {
			return;
		}

		var link = entry.Links.FirstOrDefault().Uri;
		<article class="c-travel-alert u-space-bottom">
			<a href="@link" class="c-travel-alert__link" target="_blank">
				<div class="c-travel-alert__inner o-wrap">
					<h2 class="c-travel-alert__headline u-visually-hidden">@entry.Title.Text</h2>
					<svg class="c-travel-alert__icon u-icon u-icon--24 u-icon--white">
						<use xlink:href="/assets/icons/icons.svg#warning"></use>
					</svg>
					<div class="c-travel-alert__copy">
						@Html.Raw(entry.Summary.Text)<span>. </span>
						<div class="c-travel-alert__cta">Read more</div>
					</div>
				</div>
			</a>
		</article>
	} catch (WebException ex) {

	}
}
