/* ===========================================================

  # Colours

=========================================================== */

.u-background--white {
	background-color: $white;
}

.u-background--light {
	background-color: $light-1;
}

.u-background--light-2 {
	background-color: $light-2
}

.u-background--navy {
	color: $white;
	background-color: $navy-1;
	position: relative;
	z-index: 1;

	h1,
	h2,
	h3 {
		color: inherit;
	}
}
