/* ===========================================================

  # Icons

=========================================================== */

.u-icon {
	fill: $sec;
}

.u-icon--white,
.u-icon--invert {
	fill: $white;
}

.u-icon--16 {
	width: 1.6rem;
	height: 1.6rem;
}

.u-icon--24 {
	width: 2.4rem;
	height: 2.4rem;
}

.u-icon--32 {
	width: 3.2rem;
	height: 3.2rem;
}

.u-icon--42 {
	width: 4.2rem;
	height: 4.2rem;
}

.u-icon--middle {
	vertical-align: middle;
}

.u-icon--arrow-up {
	@include arrow-up();
}

.u-icon--arrow-down {
	@include arrow-down();
}

.u-icon--arrow-right {
	@include arrow-right();
}

.u-icon--arrow-left {
	@include arrow-left();
}
