/* ===========================================================
	# Enhanced icons
	https://sarasoueidan.com/blog/navicon-transformicons/
=========================================================== */

$button-size: 3.2rem;

@mixin line {
	display: inline-block;
	width: $button-size;
	height: .2rem;
	background: $white;
	transition: $speed;
}

.enhance {

	.u-icon--list {
		//create middle line
		@include line;
		position: relative;
		vertical-align: middle;
		margin-top: -.3rem;

		/*create the upper and lower lines as pseudo-elements of the middle line*/
		&:before,
		&:after {
			@include line;
			content: "";
			position: absolute;
			left:0;
			transform-origin: $button-size / 14 center;
		}
		&:before {
			top: .9rem;
		}
		&:after {
			top: -.9rem;
		}
	}

	&.nav-main-open {

		 .u-icon--list {

		    /* hide the middle line */
		    background: transparent;

		    /* overlay the lines by setting both their top values to 0 */
		    &:before,
			&:after{
				transform-origin: 50% 50%;
				top:0;
				width: $button-size;
		    }

		    // rotate the lines to form the x shape
		    &:before{
				transform: rotate3d(0,0,1,45deg);
		    }
		    &:after{
				transform: rotate3d(0,0,1,-45deg);
		    }
		}

	}

}
