/* ===========================================================

  # Overrides

=========================================================== */

.u-clearfix {
	@include clearfix;
}

.u-hide-text,
.u-visually-hidden {
	@include hide-text;
}

.u-center-content,
.u-center-text {
	text-align: center;
}

.u-strong {
	font-weight: $bold;
}

.u-light {
	font-weight: 300;
}

.u-highlight-text {
	color: $pri;
}

.u-space-top {
	margin-top: $line-height;
}

.u-space-top--large {
	margin-top: $line-height * 2;
}

.u-space-bottom {
	margin-bottom: $line-height
}

.u-space-bottom--large {
	margin-bottom: $line-height * 2;
}

.u-hide {
	display: none !important;
	@include respond-max( $mq-small) {
		&-small {
			display: none !important;
		}
	}
	@include respond-min-max( $mq-small, $mq-medium) {
		&-medium {
			display: none !important;
		}
	}
	@include respond-min-max( $mq-medium, $mq-large) {
		&-large {
			display: none !important;
		}
	}
	@include respond-min-max( $mq-large, $mq-x-large) {
		&-x-large {
			display: none !important;
		}
	}
	@include respond-min( $mq-x-large) {
		&-xx-large {
			display: none !important;
		}
	}
}
