/* ===========================================================

  # Utility - text

=========================================================== */

.u-font-pri {
	font-family: $ff-pri-fallback;
}

.u-font-sec {
	font-family: $ff-sec-fallback;
}

.fonts-loaded {

	.u-font-pri {
		font-family: $ff-pri-webfont;
	}

	.u-font-sec {
		font-family: $ff-sec-webfont;
		letter-spacing: .5px;
	}

}

.u-font--small {
	font-size: 1.4rem;
}

.u-font--space-1 {
	letter-spacing: 1px;
}

.u-font--space-2 {
	letter-spacing: 2px;
}

.u-intro {
	font-weight: $bold;
}

.u-text-navy {
	color: $navy-1;
}

.u-text-yellow {
	color: $yellow-1;
}


.u-text-heavy {
	font-weight: 900;
}
