﻿@using TGDH;
@using TGDH.Core.Data;
@using TGDH.Core.Utility;
@using TGDH.Core.Models;
@using Diplo.Helpers;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var qSubject = Request.QueryString["subject"] ?? "";
	var qCity = Request.QueryString["city"] ?? "";
	var qCountry = Request.QueryString["country"] ?? "";

	var qAuthor = Request.QueryString["author"] ?? "";
    var qCat = Request.QueryString["category"] ?? "";
    var qMonth = Request.QueryString["month"] ?? "";
    var qYear = Request.QueryString["year"] ?? "";

	var allposts = Blog.AllOrderedPosts(Umbraco).ToList().Where(x => x.IsVisible() && x.TemplateId > 0).ToList();

	@*
    var filteredPosts = Blog.FilterSelection(allposts, qAuthor, qCat, qMonth, qYear).ToList();
*@
	var filteredPosts = Blog.GetFiltered(allposts, qSubject, qCountry, qCity, qAuthor, qMonth, qYear).ToList();

    var paging = new Paging(filteredPosts.Count(), 5);
    var selection = filteredPosts.Skip(paging.Skip).Take(paging.Take).ToList();
}
@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
<div class="o-page__inner o-wrap o-wrap--xx-large u-clearfix o-col--two-one o-section">
	@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
			Headline = Model.GetPropertyValue<string>("headline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("subheadline"),
			Level = "h1"
		})
	<main id="main" class="o-col o-col--first" role="main">
		@if (selection.Any()) {

			foreach (var item in selection) {
				@*
				var cat = item.GetPropertyValue<IEnumerable<IPublishedContent>>("category").FirstOrDefault();
				*@
				var author = item.GetPropertyValue<IEnumerable<IPublishedContent>>("author").FirstOrDefault();
				var hasAuthor = author != null;
				var catLabel = "";
				@*
				var hasCat = cat != null;
				if (hasCat) {
					catLabel = cat.Name;
				}
				*@
				if (hasAuthor) {
					@*
					if (hasCat) {
						catLabel = catLabel + " | ";
					}
					*@
					catLabel = catLabel + author.Name;
				}
				@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel {
					Headline = item.GetPropertyValue<string>("headline", item.Name),
					Subtitle = catLabel,
					Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM"),
					Url = item.Url,
					Copy = item.GetPropertyValue<string>("pageDescription"),
					Image = item.GetPropertyValue<IPublishedContent>("featuredImage")
				})
			}

			@Html.Partial("~/Views/Partials/Components/Pagination.cshtml", new PaginationViewModel {
				Paging = paging,
				CurrentModel = Model
			})
		} else {
			@Model.GetPropertyValue("noResultsMessage")
		}

	</main>
	<aside class="o-col o-col--last">
		@{
			var pageUrl = Model.Url;
@*
			var categoryLinks = Filters.GetCategoryLinks(Umbraco, pageUrl, qCat);
*@
			var authorLinks = Filters.GetAuthorLinks(Umbraco, pageUrl, qAuthor);
			var dateLinks = Filters.GetDatesFromSelection(allposts, pageUrl, qMonth, qYear);

			var locationLinks = Filters.GetLocationLinks(Umbraco, pageUrl, qCountry, qCity);
			var subjectLinks = Filters.GetSubjectLinks(Umbraco, pageUrl, qSubject);
		}
@*
		@if (categoryLinks != null) {
			<h2>Categories</h2>
			@Html.Partial("~/Views/Partials/Components/LinkList.cshtml", new LinkListViewModel(categoryLinks))
		}
*@

		@if (subjectLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Subject</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(subjectLinks))
			</article>
		}

		@if (locationLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Location</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(locationLinks))
			</article>
		}

		@if (dateLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Archive</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(dateLinks))
			</article>
		}

		@if (authorLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Authors</h2>
				@Html.Partial("~/Views/Partials/Components/LinkList.cshtml", new LinkListViewModel(authorLinks))
			</article>
		}
	</aside>
</div>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
