﻿@using Terratype
@using StudyTripsFinder.Forms.Models
@using TGDH.Core.Models
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var map = Model.GetPropertyValue<Terratype.Models.Model>("mapLocation");
	var contacts = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("individualContactDetails");
}

<main id="main" class="o-page__inner u-clearfix" role="main">
	<div id="mapCanvas" class="c-map js-map" data-location="@map.Position"></div>
	<div class="o-section">
		<div class="o-wrap o-wrap--x-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = Model.GetPropertyValue<string>("headline", Model.Name),
				Subtitle = Model.GetPropertyValue<string>("subheadline"),
				Level = "h1"
			})
		</div>
		<div class="o-wrap o-wrap--large s-contact__cols u-clearfix">
			<div class="s-contact__cols__col--first">
				@Html.Partial("~/Views/Partials/Components/PrimaryContactDetails.cshtml")
			</div>
			<div class="s-contact__cols__col--last">
				@Html.Partial("~/Views/Partials/Forms/ContactFormView.cshtml", new ContactForm {
					PageName = Model.Name
				})
			</div>
		</div>
	</div>

	<div class="o-section o-wrap o-wrap--x-large">
		@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
			Headline = Model.GetPropertyValue<string>("individualContactsHeadline"),
			Subtitle = Model.GetPropertyValue<string>("individualContactsSubtitle"),
			Level = "h2"
		})
		@if (contacts != null) {
			<div class="u-clearfix o-grid--three">
				@foreach (var item in contacts) {
					var headline = item.GetPropertyValue<string>("headline");
					var jobTitle = item.GetPropertyValue<string>("jobTitle");
					var email = item.GetPropertyValue<string>("emailAddress");
					var tel = item.GetPropertyValue<string>("phoneNumber");

					<div class="o-grid__item">
						@if (!String.IsNullOrWhiteSpace(headline)) {
							<h3 class="u-epsilon">@headline</h3>
						}
							<ul class="o-list--minimal">

								<li class="u-font--space-1">@jobTitle</li>
								<li><a href="mailto:@email">@email</a></li>
								<li>@tel</li>
							</ul>

					</div>
				}
			</div>
		}
	</div>
</main>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)

@section Scripts {
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
