﻿@using TGDH;
@using TGDH.Core.Data;
@using TGDH.Core.Utility;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var qSubject = Request.QueryString["subject"] ?? "";
	var qCity = Request.QueryString["city"] ?? "";
	var qCountry = Request.QueryString["country"] ?? "";

    var qMonth = Request.QueryString["month"] ?? "";
    var qYear = Request.QueryString["year"] ?? "";

	var allEvents = Events.AllUpcomingEvents(Umbraco).ToList();
@*
	var filteredEvents = Events.FilterSelection(allEvents, qMonth, qYear).ToList();
*@
	var filteredEvents = Events.GetFiltered(allEvents, qSubject, qCountry, qCity, qMonth, qYear).ToList();

    var paging = new Paging(filteredEvents.Count(), 5);
    var selection = filteredEvents.Skip(paging.Skip).Take(paging.Take).ToList();
}

@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
<div class="o-page__inner o-wrap o-wrap--xx-large u-clearfix o-col--two-one o-section">
	@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
			Headline = Model.GetPropertyValue<string>("headline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("subheadline"),
			Level = "h1"
		})
	<main id="main" class="o-col o-col--first" role="main">
		@if (selection.Any()) {

			foreach (var item in selection) {
				@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel {
					Headline = item.GetPropertyValue<string>("headline", item.Name),
					Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM – %h:mmtt").ToLower(),
					Url = item.Url,
					Copy = item.GetPropertyValue<string>("pageDescription"),
					Image = item.GetPropertyValue<IPublishedContent>("featuredImage")
				})
			}

			@Html.Partial("~/Views/Partials/Components/Pagination.cshtml", new PaginationViewModel {
				Paging = paging,
				CurrentModel = Model
			})
		} else {
			@Model.GetPropertyValue("noResultsMessage")
		}

	</main>
	<aside class="o-col o-col--last">
		@{
			var pageUrl = Model.Url;
			@*
			var dateLinks = Filters.GetDatesFromSelection(allEvents, pageUrl, qMonth, qYear);
			*@
			var locationLinks = Filters.GetLocationLinks(Umbraco, pageUrl, qCountry, qCity);
			var subjectLinks = Filters.GetSubjectLinks(Umbraco, pageUrl, qSubject);
		}

		@if (subjectLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Subject</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(subjectLinks))
			</article>
		}

		@if (locationLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Location</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(locationLinks))
			</article>
		}
		@*
		@if (dateLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Archive</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(dateLinks))
			</article>
		}
		*@
	</aside>
</div>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
