﻿@using TGDH;
@using TGDH.Core.Models;
@using StudyTripsFinder.Forms.Controllers;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";

	var selection = Model.Children().Where(x => x.IsVisible());
}

@if (!GatedContentController.HasGatedAccess(Model.GetPropertyValue<bool>("gatedContent"))) {
	@Html.Partial("~/Views/Partials/Modules/GatedContent.cshtml")
} else {
	<main id="main" class="o-page__inner u-clearfix" role="main">
		@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
		<div class="o-section o-wrap o-wrap--xx-large">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = Model.GetPropertyValue<string>("headline", Model.Name),
				Subtitle = Model.GetPropertyValue<string>("subheadline"),
				Level = "h1"
			})
			@if (selection.Any()) {
				<div class="o-grid--three u-clearfix">
					@foreach (var item in selection) {
						@Html.Partial("~/Views/Partials/Components/Card.cshtml", new CardViewModel {
							Headline = item.GetPropertyValue<string>("headline", item.Name),
							Url = item.Url,
							Image = item.GetPropertyValue<IPublishedContent>("featuredImage", TGDH.Settings<IPublishedContent>("defaultFeaturedImage")),
							Copy = item.GetPropertyValue<string>("pageDescription"),
							ModifierClass = "o-grid__item"
						})
					}
				</div>
			}
		</div>
	</main>
}
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
