﻿@using TGDH;
@using TGDH.Core.ExtensionMethods;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Master.cshtml";
}

<main id="main" class="o-page__inner u-clearfix" role="main">
	<div class="c-trip-search__cover-wrap">
		@Html.Partial("~/Views/Partials/Components/Cover.cshtml", new CoverViewModel
		{
			Image = Model.GetPropertyValue<IPublishedContent>("coverImage"),
			VideoUrl = Model.GetPropertyValue<string>("youtubeVideo"),
			Headline = Model.GetPropertyValue<string>("coverHeadline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("coverSubtitle"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy")
		})
		@Html.Partial("~/Views/Partials/Forms/TripSearchForm.cshtml")
	</div>

	@{
		var logos = TGDH.Settings<IEnumerable<IPublishedContent>>("accreditations");
		if (logos.Any())
		{
			<section class="u-space-top--large">
				<h2 class="u-visually-hidden">Accreditations</h2>
				<div class="s-home__logos c-logos u-clearfix">
					@foreach (var item in logos)
					{
						@Html.Partial("~/Views/Partials/Components/Logo.cshtml", new LogoViewModel
						{
							Logo = item.GetPropertyValue<IPublishedContent>("blackLogo"),
							Name = item.GetPropertyValue<string>("title"),
							Link = item.GetPropertyValue("Link") as RJP.MultiUrlPicker.Models.Link,
							ImageWidth = 200,
							ModifierClass = "s-home__logo"
						})
					}
				</div>
			</section>
		}
	}

	@{
		var featuredHeadline = Model.GetPropertyValue<string>("featuredHeadline");
		var featuredSelection = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("featuredContent");
		var hasFeaturedContent = featuredSelection != null && featuredSelection.Any();
		var reviewHidden = Model.GetPropertyValue<bool>("reviewHidden") ? "o-col--four" : "o-col--two";

	}
	<section class="o-section">
		<div class="o-wrap o-wrap--xx-large">
			<div class="u-clearfix">
				<div class="s-home__featured-col u-clearfix">
					@if (!String.IsNullOrWhiteSpace(featuredHeadline))
					{
						<h2 class="u-text-navy u-beta">@featuredHeadline</h2>
					}
					@if (hasFeaturedContent)
					{
						<div class="@reviewHidden">
							@foreach (var item in featuredSelection)
							{
								var featuredButton = item.GetPropertyValue("link") as RJP.MultiUrlPicker.Models.Link;
								var hasButton = featuredButton != null;

								@Html.Partial("~/Views/Partials/Components/Tile.cshtml", new TileViewModel
								{
									Headline = item.GetPropertyValue<string>("headline"),
									Url = hasButton ? featuredButton.Url : "",
									Copy = item.GetPropertyValue<string>("subheadline"),
									CtaLabel = hasButton ? featuredButton.Name : "View more",
									Image = item.GetPropertyValue<IPublishedContent>("image"),
									ModifierClass = "s-home__popular-destinations__item"
								})
							}
						</div>
					}
				</div>
				@if (!Model.GetPropertyValue<bool>("reviewHidden"))
				{
					var reviewHeadline = Model.GetPropertyValue<string>("reviewHeadline");
					var reviewVid = Model.GetPropertyValue<string>("reviewVideo");
					var reviewText = Model.GetPropertyValue<string>("reviewQuote").TruncateAtWord(85);
					<article class="s-home__featured-col">
						@if (!String.IsNullOrWhiteSpace(reviewHeadline))
						{
							<h2 class="u-text-navy u-beta">@reviewHeadline</h2>
						}
						@if (reviewVid == null)
						{

						}
						@if (!String.IsNullOrWhiteSpace(reviewVid))
						{
							<div class="o-media o-media--video u-space-bottom">
								@Html.Raw(reviewVid)
							</div>
						}
						@Html.Partial("~/Views/Partials/Components/Review.cshtml", new ReviewViewModel
						{
							StarRatingCount = Model.GetPropertyValue<int>("reviewStarRating"),
							Quote = Html.Raw(reviewText),
							Author = Model.GetPropertyValue<string>("reviewAuthor"),
							Source = Model.GetPropertyValue<string>("reviewSource"),
							Image = Model.GetPropertyValue<IPublishedContent>("reviewImage")
						})
					</article>
				}
			</div>
		</div>
	</section>

	@* offers *@
	@{
		var featuredOffers = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("featuredOffers");
	}
	@if (featuredOffers.Any())
	{
		var offersHeadline = Model.GetPropertyValue<string>("offersHeadline");
		<section class="o-section u-background--light">
			<div class="o-wrap o-wrap--xx-large">
				@if (!String.IsNullOrWhiteSpace(offersHeadline))
				{
					<h2 class="o-section__headline u-text-navy u-center-text u-beta">@offersHeadline</h2>
				}
				<div class="u-clearfix">
					@foreach (var item in featuredOffers)
					{
						var featuredButton = item.GetPropertyValue("link") as RJP.MultiUrlPicker.Models.Link;
						var hasButton = featuredButton != null;
						@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel
						{
							Headline = item.GetPropertyValue<string>("headline"),
							Subtitle = item.GetPropertyValue<string>("subtitle"),
							Label = item.GetPropertyValue<string>("label"),
							Url = hasButton ? featuredButton.Url : "",
							Copy = item.GetPropertyValue<string>("copy"),
							Image = item.GetPropertyValue<IPublishedContent>("image"),
							ModifierClass = "s-home__offers-col"
						})
					}
				</div>
			</div>
		</section>
	}

	@* why study trips *@
	@{
		var whySelection = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("whyContent");
		var whyHeadline = Model.GetPropertyValue<string>("whyHeadline");
	}
	@if (whySelection.Any())
	{
		<section class="o-section">
			<div class="o-wrap o-wrap--xx-large">
				@if (!String.IsNullOrWhiteSpace(whyHeadline))
				{
					<h2 class="o-section__headline u-text-navy u-center-text u-beta">@whyHeadline</h2>
				}
				<div class="o-col--three u-clearfix u-center-content">
					@foreach (var item in whySelection)
					{
						var image = item.GetPropertyValue<IPublishedContent>("image");
						var imageUrl = Url.GetCropUrl(image, cropAlias: "16:9", width: 600, htmlEncode: false);
						<div class="o-col">
							<div class="o-aspect--16-9">
								<img src="@imageUrl" alt="@image.GetPropertyValue("altText", item.GetPropertyValue("headline"))">
							</div>
							<h3 class="u-delta">@item.GetPropertyValue("headline")</h3>
							@item.GetPropertyValue("copy")
						</div>
					}
				</div>
			</div>
		</section>
	}

	@Html.CachedPartial("~/Views/Partials/Modules/KeepUpToDate.cshtml", Model, 3600)
</main>

@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model, new ViewDataDictionary {
{"modifierClass", "c-newsletter--light"}
})
