﻿@using TGDH.Core.ExtensionMethods
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = null;
    var pageScope = "s-" + Model.DocumentTypeAlias.ConvertToId();

	@*
	if (Model.GetPropertyValue<IPublishedContent>("coverImage") != null) {
		pageScope = pageScope + " s-has-cover";
	}
	*@
}

<!doctype html>
<html lang="en-GB" class="no-js no-enhance @pageScope">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        @Html.CachedPartial("~/Views/Partials/Meta/SEO.cshtml", Model, 3600, true)
        <!--<meta name="theme-color" content="#000000">-->
		@Html.CachedPartial("~/Views/Partials/Meta/Favicons.cshtml", Model, 3600, true)
		<link rel="stylesheet" href="/assets/css/style.css" />
		<script src="/assets/js/head.js"></script>
		@Html.CachedPartial("~/Views/Partials/Meta/Fonts.cshtml", Model, 3600)
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body class="o-page">
		<a href="#main" class="c-button c-button--skiplink">Skip to main content</a>
        @Html.Partial("~/Views/Partials/Modules/Header.cshtml")
        @RenderBody()
		@Html.CachedPartial("~/Views/Partials/Modules/Footer.cshtml", Model, 3600)
        @Html.CachedPartial("~/Views/Partials/Meta/Analytics.cshtml", Model, 3600)
		<!--[if gte IE 9]><!-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
            <script src="/assets/js/main.js"></script>
        <!--<![endif]-->
		@RenderSection("Scripts", required: false)
    </body>
</html>
