﻿@using TGDH.Core.Data;
@using TGDH.Core.Utility;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
    var qCat = Request.QueryString["category"] ?? "";
    var qMonth = Request.QueryString["month"] ?? "";
    var qYear = Request.QueryString["year"] ?? "";

	var qSubject = Request.QueryString["subject"] ?? "";
	var qCity = Request.QueryString["city"] ?? "";
	var qCountry = Request.QueryString["country"] ?? "";

    var allArticles = News.AllArticles(Umbraco).ToList().Where(x => x.IsVisible()).ToList();
	@*
    var filteredArticles = News.FilterSelection(allArticles, qCat, qMonth, qYear).ToList();
	*@
	var filteredArticles = News.GetFiltered(allArticles, qSubject, qCountry, qCity, qCat, qMonth, qYear).ToList();

    var paging = new Paging(filteredArticles.Count(), 5);
    var selection = filteredArticles.Skip(paging.Skip).Take(paging.Take).ToList();
}

@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
<div class="o-page__inner o-wrap o-wrap--xx-large u-clearfix o-col--two-one o-section">
	@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
		Headline = Model.GetPropertyValue<string>("headline", Model.Name),
		Subtitle = Model.GetPropertyValue<string>("subheadline"),
		Level = "h1"
	})
	<main id="main" class="o-col o-col--first" role="main">
		@if (selection.Any()) {

			foreach (var item in selection) {
				if (item.DocumentTypeAlias == "inTheMedia") {
					@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel {
						Headline = item.GetPropertyValue<string>("headline", item.Name),
						Subtitle = "In the media",
						Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM"),
						Url = item.GetPropertyValue<string>("source", "#"),
						Copy = item.GetPropertyValue<string>("pageDescription"),
						Image = item.GetPropertyValue<IPublishedContent>("featuredImage"),
						UrlTarget = "_blank",
						ModifierClass = "is-external"
					})
				} else {
					var cat = News.GetCategoryNameFromDocType(item.DocumentTypeAlias);
					@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel {
						Headline = item.GetPropertyValue<string>("headline", item.Name),
						Subtitle = cat,
						Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM"),
						Url = item.Url,
						Copy = item.GetPropertyValue<string>("pageDescription"),
						Image = item.GetPropertyValue<IPublishedContent>("featuredImage")
					})
				}
			}

			@Html.Partial("~/Views/Partials/Components/Pagination.cshtml", new PaginationViewModel {
				Paging = paging,
				CurrentModel = Model
			})
		} else {
			@Model.GetPropertyValue("noResultsMessage")
		}
	</main>
	<aside class="o-col o-col--last">
		@{
			var pageUrl = Model.Url;
			var dateLinks = Filters.GetDatesFromSelection(allArticles, pageUrl, qMonth, qYear);
			var categoryLinks = News.GetCategoryLinks(allArticles, pageUrl, qCat);

			var locationLinks = Filters.GetLocationLinks(Umbraco, pageUrl, qCountry, qCity);
			var subjectLinks = Filters.GetSubjectLinks(Umbraco, pageUrl, qSubject);
		}

		@if (categoryLinks != null) {
			<article class="c-pod">
				<h2>Categories</h2>
				@Html.Partial("~/Views/Partials/Components/LinkList.cshtml", new LinkListViewModel(categoryLinks))
			</article>
		}

		@if (subjectLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Subject</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(subjectLinks))
			</article>
		}

		@if (locationLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Location</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(locationLinks))
			</article>
		}

		@if (dateLinks != null) {
			<article class="c-pod">
				<h2 class="c-pod__headline u-epsilon">Archive</h2>
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(dateLinks))
			</article>
		}
	</aside>
</div>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
