﻿@using StudyTripsFinder.Forms.Models;
@using TGDH.Core.Models;
@using StudyTripsFinder.Forms.Controllers;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}

@Html.CachedPartial("~/Views/Partials/Components/Breadcrumb.cshtml", Model, 3600, true)

<div class="o-page__inner">
	<main id="main" class="o-section u-clearfix" role="main">
		@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
			Headline = Model.GetPropertyValue<string>("headline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("subheadline"),
			Level = "h1"
		})
		@Html.Partial("~/Views/Partials/Modules/PageComponents.cshtml")
	</main>
</div>

@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
