﻿@using TGDH;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var releaseDate = Model.GetPropertyValue<DateTime>("releaseDate");
	var headline = Model.GetPropertyValue<string>("headline", Model.Name);
	var featuredImage = Model.GetPropertyValue<IPublishedContent>("featuredImage");
	var author = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("author").FirstOrDefault();
	@*
	var category = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("category").FirstOrDefault();
*@
	var blogHome = Model.Ancestor();
	var blogUrl = blogHome != null ? blogHome.Url : "";
}

<div class="o-page__inner">
	@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
	<main id="main" class="o-section u-clearfix" role="main" itemscope itemtype="http://schema.org/BlogPosting">
		<article itemscope itemType="http://schema.org/BlogPosting">
			<header class="c-heading">
				<h1 class="c-heading__headline" itemprop="headline">@headline</h1>
				<ul class="c-meta c-heading__subtitle o-list--inline">
					<li class="c-meta__item">
						<span class="u-visually-hidden">Published on: </span>
						<time datetime="@releaseDate.ToString("yyyy-MM-dd")">@releaseDate.ToString("%d MMM yyyy")</time>
						<meta content="@releaseDate.ToString("yyyy-MM-ddThh:mm:ss")" itemprop="datePublished" />
					</li>
					@*
					@if (category != null) {
						var catName = category.Name;
						var catUrl = blogUrl + "?category=" + catName.ToUrlSegment();
						<li class="c-meta__item">
							<span>Category: </span>
							<a href="@catUrl" rel="category tag">@catName</a>
						</li>
					}
					*@
					@if (author != null) {
						var authorName = author.Name;
						var authorUrl = blogUrl + "?author=" + authorName.ToUrlSegment();
						<li class="c-meta__item">
							<span>Author: </span>
							<a href="@authorUrl" rel="category tag">@authorName</a>
						</li>
					}
				</ul>
			</header>
			<div class="u-intro o-wrap o-wrap--medium u-space-bottom" itemprop="description">
				<p>@Model.GetPropertyValue("pageDescription")</p>
			</div>
			<div class="s-free-content" itemprop="articleBody">
				@Html.Partial("~/Views/Partials/Modules/PageComponents.cshtml")
			</div>

			@Html.Partial("~/Views/Partials/Components/SocialShare.cshtml")

			@Html.Partial("~/Views/Partials/Components/Comments.cshtml")

			@*
			* meta data related to the article - an image that will appear in search results
			*@
			@if (featuredImage != null) {
				var searchImageUrl = Url.GetCropUrl(featuredImage, cropAlias: "1:1", width: 800, htmlEncode: false);
				<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="@searchImageUrl">
					<meta itemprop="width" content="800">
					<meta itemprop="height" content="800">
				</div>
			}

			@{
				var websiteName = TGDH.Settings<string>("websiteName");
				var siteLogo = TGDH.Settings<IPublishedContent>("siteLogo");
				if(!String.IsNullOrWhiteSpace(websiteName) && siteLogo != null) {
					var siteLogoUrl = Url.GetCropUrl(siteLogo, cropAlias: "1:1", width: 60, htmlEncode: false);
					<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
						<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="@siteLogoUrl">
							<meta itemprop="width" content="60">
							<meta itemprop="height" content="60">
						</div>
						<meta itemprop="name" content="@websiteName">
					</div>
				}
			}
		</article>
	</main>
</div>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
