﻿@using TGDH;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var releaseDate = Model.GetPropertyValue<DateTime>("releaseDate");
	var headline = Model.GetPropertyValue<string>("headline", Model.Name);
	var featuredImage = Model.GetPropertyValue<IPublishedContent>("featuredImage");
}

<div class="o-page__inner">
	@Html.Partial("~/Views/Partials/Components/Breadcrumb.cshtml")
	<main id="main" class="o-section u-clearfix" role="main" itemscope itemtype="http://schema.org/BlogPosting">
		<article itemscope itemType="http://schema.org/BlogPosting">
			<header class="c-heading">
				<h1 class="c-heading__headline" itemprop="headline">@headline</h1>
				<ul class="c-meta c-heading__subtitle o-list--inline">
					<li class="c-meta__item">
						@for (var i = 0; i < 5; i++) {
							var modifierClass = i < Model.GetPropertyValue<int>("starRating") ? "c-stars__icon--fill" : "";
							<svg class="c-stars__icon c-stars__icon--@i @modifierClass">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#star"></use>
							</svg>
						}
					</li>
				</ul>
			</header>
			<div class="u-intro o-wrap o-wrap--medium u-space-bottom" itemprop="description">
				<p>@Model.GetPropertyValue("pageDescription")</p>
			</div>
			<div class="s-free-content" itemprop="articleBody">
				@Html.Partial("~/Views/Partials/Modules/PageComponents.cshtml")
			</div>

			@Html.Partial("~/Views/Partials/Components/SocialShare.cshtml")

		</article>
	</main>
</div>
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
