﻿@using StudyTripsFinder.Forms.Models;
@using TGDH.Core.Models;
@using StudyTripsFinder.Forms.Controllers;
@inherits UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
	var hasSubNav = Model.AncestorOrSelf(2).Children().Any(x => x.IsVisible() && x.TemplateId > 0);
}

@Html.CachedPartial("~/Views/Partials/Components/Breadcrumb.cshtml", Model, 3600, true)

@if (!GatedContentController.HasGatedAccess(Model.GetPropertyValue<bool>("gatedContent"))) {
	@Html.Partial("~/Views/Partials/Modules/GatedContent.cshtml")
} else {

	if (!hasSubNav) {
		<div class="o-page__inner">
			<main id="main" class="o-section u-clearfix" role="main">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
					Headline = Model.GetPropertyValue<string>("headline", Model.Name),
					Subtitle = Model.GetPropertyValue<string>("subheadline"),
					Level = "h1"
				})
				@Html.Partial("~/Views/Partials/Modules/PageComponents.cshtml")
			</main>
		</div>
	} else {
		<div class="o-page__inner o-wrap o-wrap--xx-large u-clearfix o-col--one-three-reversed o-section">
			<main id="main" class="o-col o-col--first" role="main">
				@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = Model.GetPropertyValue<string>("headline", Model.Name),
				Subtitle = Model.GetPropertyValue<string>("subheadline"),
				Level = "h1"
			})
				@Html.Partial("~/Views/Partials/Modules/PageComponents.cshtml")
			</main>
			<nav class="o-col o-col--last c-nav--sub" role="navigation">
				@Html.CachedPartial("~/Views/Partials/Components/SubNavigation.cshtml", Model, 3600, true)
			</nav>
		</div>
	}

}
@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)
