﻿@using TGDH.Core.Utility;
@using TGDH.Core.Models;
@using TGDH.Core.Data;
@using StudyTripsFinder.Trips.Controllers;
@using Diplo.Helpers;
@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Master.cshtml";

	var baseUrl = Model.Url;
	QueryStringHelper qAll = new QueryStringHelper(Request.QueryString);

	var pageCount = qAll.GetValueByName<int>("pagesize");
	if (pageCount == 0) {
		pageCount = 10;
	}
	var qSort = qAll.GetValueByName("sort");
	if (String.IsNullOrWhiteSpace(qSort)) {
		qSort = "Low to high";
	}

	var subject = qAll.GetValueByName("subject");
	var country = qAll.GetValueByName("country");
	var city = qAll.GetValueByName("city");

	var hasSubject = !String.IsNullOrWhiteSpace(subject);
	var hasCountry = !String.IsNullOrWhiteSpace(country);
	var hasCity = !String.IsNullOrWhiteSpace(city);

	var tripSurface = new TripSurfaceController();
	var filteredTrips = tripSurface.GetTripsBySearch("", subject, country, city);

	switch(qSort) {
		case "low-to-high":
			filteredTrips = filteredTrips.OrderBy(x => x.GetPropertyValue<int>("price")).ToList();
			break;
		case "high-to-low":
			filteredTrips = filteredTrips.OrderByDescending(x => x.GetPropertyValue<int>("price")).ToList();
			break;
		default:
			filteredTrips = filteredTrips.OrderByDescending(x => x.GetPropertyValue<bool>("recommended")).ToList();
			break;
	}

	var paging = new Paging(filteredTrips.Count(), pageCount);
    var selection = filteredTrips.Skip(paging.Skip).Take(paging.Take).ToList();

	var hasSelection = selection.Any();

	var mainColumnDisplay = string.Format("{0}{1}", "o-col", Model.GetPropertyValue<bool>("hideSidebar") ? string.Empty : " o-col--first");

}
<div class="o-page__inner">
	<div class="c-trip-search__cover-wrap">
		@Html.Partial("~/Views/Partials/Components/Cover.cshtml", new CoverViewModel {
			Image = Model.GetPropertyValue<IPublishedContent>("coverImage"),
			Headline = Model.GetPropertyValue<string>("coverHeadline", Model.Name),
			Subtitle = Model.GetPropertyValue<string>("coverSubtitle"),
			Copy = Model.GetPropertyValue<IHtmlString>("coverCopy")
		})

		@Html.Partial("~/Views/Partials/Forms/TripSearchForm.cshtml")
	</div>

	<div class="o-wrap o-wrap--xx-large u-clearfix o-col--two-one o-section">
		<div class="u-gamma u-font-sec u-text-navy u-center-text s-trips__results-message">
		@if (hasSelection) {
			if (hasSubject || hasCountry || hasCity) {
				<span>We have found <strong class="u-heavy">@filteredTrips.Count() trips</strong> that match your criteria</span>
			} else {
				<span>We have found <strong class="u-heavy">@filteredTrips.Count() trips</strong> to choose from</span>
			}
		} else {
			<span>Sorry, we couldn&rsquo;t find any trips that match your criteria</span>
		}

		</div>
		@if (hasSelection) {
			<main id="main" class="@mainColumnDisplay" role="main">
				<div class="c-spaced-text u-space-bottom--large">
					@{
						var sortLinks = new List<Link> {
							GetLink("Recommended", "Recommended", baseUrl, "sort", qSort),
							GetLink("Price: Low to high", "Low to high", baseUrl, "sort", qSort),
							GetLink("Price: High to low", "High to low", baseUrl, "sort", qSort)
						};
						<div class="c-spaced-text__item">
							@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(sortLinks))
						</div>
						var pageCountString = pageCount.ToString();
						var pageSizes = new List<Link> {
							GetLink("10", "", baseUrl, "pageSize", pageCountString),
							GetLink("50", "", baseUrl, "pageSize", pageCountString),
							GetLink("100", "", baseUrl, "pageSize", pageCountString)
						};
						<div class="c-spaced-text__item o-form__inline-field">
							<label class="o-label">Results per page</label>
							@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel{
								Id = "resultsPerPage",
								Links = pageSizes
							})
						</div>
					}
				</div>

				@foreach (var item in selection) {
					var location = item.GetPropertyValue<IEnumerable<IPublishedContent>>("location").FirstOrDefault();
					var countryName = "";
					if (location != null) {
						var docType = location.DocumentTypeAlias;
						var isCity = docType == "city";

						if (isCity) {
							countryName = location.Ancestor().Name;
						} else {
							countryName = location.Name;
						}
					}

					@Html.Partial("~/Views/Partials/Components/TripSummary.cshtml", new TripSummaryViewModel {
						Headline = item.GetPropertyValue<string>("headline", item.Name),
						Subtitle = item.GetPropertyValue<string>("duration") + " from only &pound;" + item.GetPropertyValue<string>("price") + "pp",
						Url = item.Url,
						Copy = item.GetPropertyValue<string>("pageDescription", item.GetPropertyValue<string>("overview").StripHtml()),
						Image = item.GetPropertyValue<IPublishedContent>("featuredImage", item.GetPropertyValue<IPublishedContent>("coverImage")),
						Operator = item.GetPropertyValue<IEnumerable<IPublishedContent>>("operator").FirstOrDefault(),
						Country = countryName,
						Subject = item.GetPropertyValue<string>("subject"),
						IsRecommended = item.GetPropertyValue<bool>("recommended")
					})
				}
				@Html.Partial("~/Views/Partials/Components/Pagination.cshtml", new PaginationViewModel {
					Paging = paging,
					CurrentModel = Model
				})
			</main>
			if (mainColumnDisplay.Contains("o-col--first"))
			 {
				 <aside class="o-col o-col--last">
					 @{
						 var sidebarHeadline = Model.GetPropertyValue<string>("crossCurriculumHeadline");
						 var sidebarCopy = Model.GetPropertyValue<string>("crossCurriculumCopy");
					 }
					 <article class="u-space-bottom--large">
						 @if (!String.IsNullOrWhiteSpace(sidebarHeadline))
						 {
							 <h2 class="u-epsilon">@sidebarHeadline</h2>
						 }
						 @Html.Raw(sidebarCopy)
					 </article>

					 <article class="u-space-bottom--large">
						 <h2 class="u-visually-hidden">Review</h2>
						 <div class="o-media o-media--video u-space-bottom"><iframe src="https://player.vimeo.com/video/220432783?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						 </div>
						 @Html.Partial("~/Views/Partials/Components/Review.cshtml", new ReviewViewModel
						 {
							 StarRatingCount = Model.GetPropertyValue<int>("reviewStarRating"),
							 Quote = Model.GetPropertyValue<IHtmlString>("reviewQuote"),
							 Author = Model.GetPropertyValue<string>("reviewAuthor"),
							 Source = Model.GetPropertyValue<string>("reviewSource"),
							 Image = Model.GetPropertyValue<IPublishedContent>("reviewAuthorImage"),
							 IsCompact = true
						 })
					 </article>

					 @{
						 var related = KeepUpToDate.GetFiltered(subject, country, city, 2);
					 }

					 @if (related.Any())
					 {
						 foreach (var item in related)
						 {
							 @Html.Partial("~/Views/Partials/Components/Card.cshtml", new CardViewModel
							 {
								 Headline = item.GetPropertyValue<string>("headline", item.Name),
								 Subtitle = ContentTypeHelper.GetContentTypeLabelFromPage(item),
								 Url = item.Url,
								 Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM"),
								 Image = item.GetPropertyValue<IPublishedContent>("featuredImage"),
								 Copy = item.GetPropertyValue<string>("pageDescription"),
								 ModifierClass = "u-space-bottom"
							 })
						 }
					 }
				 </aside>
			 }
		}
	</div>
</div>

@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model)

@functions
{
    public Link GetLink(string linkName, string linkVal = "", string baseUrl = "", string qCat = "", string qVal = "") {
		QueryStringHelper qAll = new QueryStringHelper(Request.QueryString);
		if (String.IsNullOrWhiteSpace(linkVal)) {
			linkVal = linkName;
		}
		var urlFriendlyName = linkVal.ToUrlSegment();

		qAll.RemoveByName("page");
		qAll.AddOrReplace(qCat, urlFriendlyName);

		var linkUrl = baseUrl + "?" + qAll.ToString();
		var isActive = urlFriendlyName.InvariantEquals(qVal);
		var linkItem = new Link {
			Name = linkName,
			Url = linkUrl,
			IsActive = isActive
		};

		return linkItem;
	}

}
