﻿@using System.Text;
@using TGDH.Core.Utility;
@using TGDH.Core.Models;
@using StudyTripsFinder.Trips.Controllers;
@using StudyTripsFinder.Forms.Models;
@using TGDH.Core.ExtensionMethods;
@inherits UmbracoViewPage<IPublishedContent>
@{
	Layout = "Master.cshtml";

	var duration = Model.GetPropertyValue<string>("duration");
	var priceFrom = StringExtensionMethods.GetFromPrice(Model.GetPropertyValue<int>("price"));
	var hasPrice = !String.IsNullOrWhiteSpace(priceFrom);

	var tourOperator = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("operator").FirstOrDefault();

	var coverImage = Model.GetPropertyValue<IPublishedContent>("coverImage");
	var headline = coverImage != null ? "Overview" : Model.Name;

	var subject = Model.GetPropertyValue<string>("subject");

	var tripsPage = Model.AncestorOrSelf();
}

<div class="o-page__inner">
	<main id="main" class="o-col o-col--first" role="main">
		@{
			var copy = new StringBuilder();
			copy.Append(Model.GetPropertyValue<string>("coverCopy"));
			copy.Append("<p class='u-text-yellow u-text-heavy'><span class='u-delta'>" + priceFrom + "</span></p>");
		}
		@Html.Partial("~/Views/Partials/Components/Cover.cshtml", new CoverViewModel
		{
			Image = coverImage,
			Headline = Model.GetPropertyValue<string>("coverHeadline", Model.Name),
			Subtitle = duration,
			Copy = Html.Raw(copy)
		})

		@Umbraco.RenderMacro("Countrytraveladvice")

		<section class="o-section">
			<div class="o-wrap o-wrap--xx-large">
				<h2 class="u-beta u-text-navy">@headline</h2>
				<div class="o-col--lg-two u-clearfix">
					<div class="o-col o-col--first">
						<div class="c-spaced-text u-delta u-text-heavy">
							@if (!String.IsNullOrWhiteSpace(duration))
							{
								<span class="c-spaced-text__item">@duration</span>
							}
							@if (hasPrice)
							{
								<span class="c-spaced-text__item u-text-yellow">@priceFrom</span>
							}
						</div>

						<div class="u-space-bottom">
							@Html.CachedPartial("~/Views/Partials/Components/TourOperatorLogo.cshtml", Model, 3600, true)
						</div>

						@Model.GetPropertyValue("overview")
						@{
							var videoLink = Model.GetPropertyValue<string>("overviewVideoLink");
							var hasVideoLink = !String.IsNullOrWhiteSpace(videoLink);
							if (hasVideoLink)
							{
								<p class="u-text-heavy">
									<a href="@videoLink" class="js-modal" data-modal-type="video">
										Watch video
										<svg class="u-icon u-icon--42 u-icon--middle">
											<use xlink:href="/assets/icons/icons.svg#youtube"></use>
										</svg>
									</a>
								</p>
							}
						}
					</div>
					<div class="o-col o-col--last">
						@Html.Partial("~/Views/Partials/Components/Gallery.cshtml", new GalleryViewModel
						{
							Images = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("gallery"),
							AspectRatio = "16:9",
							Alignment = "none"
						})
					</div>
				</div>
			</div>
		</section>

		<section class="o-section">
			<div class="o-wrap o-wrap--large">
				@renderButtonGroup()
			</div>
		</section>

		@{
			var reviewQuote = Model.GetPropertyValue<IHtmlString>("reviewQuote");
			var reviewImages = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("reviewImages");
			var reviewAuthorImage = Model.GetPropertyValue<IPublishedContent>("reviewAuthorImage");

			if (!string.IsNullOrWhiteSpace(reviewQuote.ToString()) || reviewImages != null || reviewAuthorImage != null)
			{
				<section class="o-section">
					<div class="o-wrap o-wrap--x-large m-trip-review u-clearfix">
						<div class="m-trip-review__images">
							@Html.Partial("~/Views/Partials/Components/ImageGrid.cshtml", new GalleryViewModel
							{
								Images = reviewImages
							})
							@Html.Partial("~/Views/Partials/Components/Image.cshtml", new ImageViewModel
							{
								Image = reviewAuthorImage,
								AspectRatio = "1:1",
								ImageWidth = 300,
								ModifierClass = "m-trip-review__author-image"
							})
						</div>
						<div class="m-trip-review__quote">
							@Html.Partial("~/Views/Partials/Components/Review.cshtml", new ReviewViewModel
							{
								StarRatingCount = Model.GetPropertyValue<int>("reviewStarRating"),
								Quote = reviewQuote,
								Author = Model.GetPropertyValue<string>("reviewAuthor"),
								Source = Model.GetPropertyValue<string>("reviewSource")
							})
						</div>
					</div>
				</section>
			}
		}


		@{
			var related = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("relatedContent");

			if (related != null && related.Any())
			{
				<section class="o-section u-clearfix">
					<div class="o-wrap o-wrap--xx-large">
						<div class="o-col--three u-clearfix">
							@foreach (var item in related)
							{
								@Html.Partial("~/Views/Partials/Components/Card.cshtml", new CardViewModel
								{
									Headline = item.GetPropertyValue<string>("headline", item.Name),
									Subtitle = ContentTypeHelper.GetContentTypeLabelFromPage(item),
									Url = item.Url,
									Image = item.GetPropertyValue<IPublishedContent>("featuredImage"),
									Copy = item.GetPropertyValue<string>("pageDescription"),
									ModifierClass = "o-col"
								})
							}
						</div>
					</div>
				</section>
			}
		}

		@* curriculum focus *@
		@{
			var curriculumBullets = Model.GetPropertyValue<string[]>("curriculumFocusBulletPoints");

			if (curriculumBullets.Length > 0)
			{
				<section class="o-section u-background--light">
					<h2 class="o-section__headline u-beta u-text-navy u-center-text o-wrap o-wrap--large">@Model.GetPropertyValue("curriculumFocusHeadline", "Curriculum focus")</h2>
					<div class="o-wrap o-wrap--large u-clearfix">
						@Html.Partial("~/Views/Partials/Components/IconList.cshtml", new IconListViewModel
						{
							Bullets = curriculumBullets,
							IconRef = "STF_curriculum_icon",
							ModifierClass = "icon-list--grid-two"
						})
					</div>
				</section>
			}
		}

		@* price includes *@
		@{
			var priceIncludesBullets = Model.GetPropertyValue<string[]>("priceIncludesBulletPoints");
			if (priceIncludesBullets.Length > 0)
			{
				<section class="o-section">
					<h2 class="o-section__headline u-beta u-text-navy u-center-text o-wrap o-wrap--large">@Model.GetPropertyValue("priceIncludesHeadline", "What's included in the trip?")</h2>
					<div class="o-wrap o-wrap--large u-clearfix">
						@Html.Partial("~/Views/Partials/Components/IconList.cshtml", new IconListViewModel
						{
							Bullets = priceIncludesBullets,
							IconRef = "STF_price_includes_icon",
							ModifierClass = "icon-list--grid-two"
						})
					</div>
				</section>
			}
		}

		@* base itinerary *@
		@{
			var baseItinerary = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("baseItinerary");

			if (baseItinerary != null && baseItinerary.Any())
			{
				<section class="o-section u-background--light">
					<div class="o-wrap o-wrap--large">
						<h2 class="o-section__headline u-beta u-text-navy u-center-text">@Model.GetPropertyValue("itineraryHeadline", "Sample itinerary")</h2>
						@Html.Partial("~/Views/Partials/Components/Timeline.cshtml", new TimelineViewModel
						{
							Points = baseItinerary
						})
					</div>
				</section>
			}
		}

		@* accommodation *@
		@{
			var accommodation = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("accommodation");
			if (accommodation != null && accommodation.Any())
			{
				var accomodationHeadline = Model.GetPropertyValue<string>("accomodationHeadline", "Accommodation");
				<section class="o-section">
					<div class="o-wrap o-wrap--large">
						<h2 class="o-section__headline u-beta u-text-navy u-center-text">@accomodationHeadline</h2>
						<div class="u-clearfix">
							<div class="c-carousel c-carouse--large">
								<div class="c-carousel__inner js-carousel" data-nav="true">
									@foreach (var item in accommodation)
									{
										@Html.Partial("~/Views/Partials/Components/MultiImageListing.cshtml", new MultiImageListingViewModel
										{
											Images = item.GetPropertyValue<IEnumerable<IPublishedContent>>("images"),
											Link = item.GetPropertyValue("link") as RJP.MultiUrlPicker.Models.Link,
											Headline = item.GetPropertyValue<string>("headline"),
											Copy = item.GetPropertyValue<string>("copy")
										})
									}
								</div>
							</div>
						</div>
					</div>
				</section>
			}
		}

		@{
			var enhanceTrip = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("enhanceTrip");
			var hasEnhanceTrip = enhanceTrip != null && enhanceTrip.Any();
			var i = 0;
		}
		@if (hasEnhanceTrip)
		{
			<fieldset class="o-section u-background--light">
				<div class="o-wrap o-wrap--x-large">
					<h2 class="o-section__headline u-beta u-text-navy u-center-text">@Model.GetPropertyValue("enhanceHeadline", "Enhance your trip")</h2>

					<ul class="o-fieldset__list o-fieldset--description-list js-checkbox-group u-clearfix">
						@foreach (var item in enhanceTrip)
						{
							var label = item.GetPropertyValue<string>("label");
							if (String.IsNullOrWhiteSpace(label))
							{
								continue;
							}
							var groupName = label.ToUrlSegment() + i;

							<li class="o-fieldset__item">
								<label class="o-checkbox" for="@groupName">
									<input type="checkbox" id="@groupName" data-group="@groupName" class="o-checkbox__input">
									<span class="o-checkbox__label">
										<span class="o-checkbox__button">
											<span class="o-checkbox__icon"></span>
										</span>
										@label
									</span>
									@* @Html.HiddenFor(x => Model.Workflow[i].Name) *@
								</label>
								<div class="o-fieldset__item-description">
									@item.GetPropertyValue("value")
								</div>
							</li>
							i = i + 1;
						}
					</ul>

				</div>
			</fieldset>
		}

		@* CTAs and account handler *@
		@{
			var accountHandler = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("accountHandler").FirstOrDefault();

			<div class="o-section u-background--navy">
				<div class="o-wrap o-wrap--large">
					@renderButtonGroup()
					@if (accountHandler != null)
					{
						@Html.Partial("~/Views/Partials/Components/Profile.cshtml", new ProfileViewModel
						{
							Image = accountHandler.GetPropertyValue<IPublishedContent>("image"),
							Headline = accountHandler.Name,
							Subtitle = accountHandler.GetPropertyValue<string>("jobTitle"),
							Email = accountHandler.GetPropertyValue<string>("emailAddress"),
							Tel = accountHandler.GetPropertyValue<string>("phoneNumber"),
							ModifierClass = "o-wrap o-wrap--small u-space-top--large"
						})
					}
				</div>
			</div>
		}
		@{
			var enhanceOptions = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("enhanceTrip");
			var checkboxList = new List<CheckboxItem>();

			if (enhanceOptions != null && enhanceOptions.Any())
			{
				var index = 0;

				foreach (var item in enhanceOptions)
				{
					var checkboxName = item.GetPropertyValue<string>("label");
					var description = item.GetPropertyValue<string>("value");

					checkboxList.Add(
						new CheckboxItem { Id = index, Name = checkboxName, Subtitle = description, Checked = false }
						);

					index = index + 1;
				}
			}
		}

		<section id="requestQuote" class="mfp-with-anim mfp-hide o-wrap--xx-large modal-wrap js-modal-content">
			<div class="o-section o-wrap o-wrap--x-large">
				<h2 class="o-section__headline u-alpha u-text-navy u-center-text">Request a quote</h2>

				<h3 class="u-beta u-text-navy u-center-text">Summary</h3>
				<dl class="c-key-val u-clearfix u-space-top--large">
					@RenderDLItem("Trip name", Model.Name, "STF_trip_name_icon")
					@RenderDLItem("Trip duration", duration, "STF_duration_icon")
					@RenderDLItem("Base price", priceFrom, "STF_price_icon")
					@*
						@{
							var accommodationLabel = "Reykjavik youth hostel";
						}
						@RenderDLItem("Accommodation", accommodationLabel, "STF_accomodation_icon")
					*@
				</dl>

				<p class="u-center-content u-space-top">Not quite what you were after? <a href="@tripsPage.Url">View all trips</a></p>
			</div>
			@Html.Action("RenderTripQuoteForm", "TripQuoteForm", new
			{
				tripName = Model.Name,
				priceFrom = priceFrom,
				duration = duration,
				enhanceTripOptions = checkboxList
			})
		</section>

		<section id="emailTrip" class="mfp-with-anim mfp-hide o-wrap--xx-large modal-wrap js-modal-content">
			<div class="o-section o-wrap o-wrap--x-large">
				<h2 class="o-section__headline u-alpha u-text-navy u-center-text">Email me my trip</h2>

				<h3 class="u-beta u-text-navy u-center-text">Summary</h3>
				<dl class="c-key-val u-clearfix u-space-top--large">
					@RenderDLItem("Trip name", Model.Name, "STF_trip_name_icon")
					@RenderDLItem("Trip duration", duration, "STF_duration_icon")
					@RenderDLItem("Base price", priceFrom, "STF_price_icon")
					@*
						@RenderDLItem("Accommodation", accommodationLabel, "STF_accomodation_icon")
					*@
				</dl>

				<p class="u-center-content u-space-top">Not quite what you were after? <a href="@tripsPage.Url">View all trips</a></p>
			</div>
			@Html.Action("RenderEmailTripForm", "EmailTripForm", new
			{
				tripName = Model.Name,
				priceFrom = priceFrom,
				duration = duration,
				enhanceTripOptions = checkboxList
			})
		</section>

		@*
			@Html.Partial("~/Views/Partials/Modules/RequestTripQuote.cshtml", Model, new ViewDataDictionary {
				{ "price", priceFrom },
				{ "duration", duration }
			})
		*@
		@Html.CachedPartial("~/Views/Partials/Modules/RelatedTrips.cshtml", Model, 3600, true)
		@Html.Partial("~/Views/Partials/Modules/KeepUpToDate.cshtml", Model, new ViewDataDictionary {
{ "subject", subject }
})
	</main>
</div>

@Html.Partial("~/Views/Partials/Modules/Newsletter.cshtml", Model, new ViewDataDictionary {
{"modifierClass", "c-newsletter--light"}
})

<article id="callbackRequest" class="white-popup mfp-with-anim mfp-hide modal-wrap js-modal-content">
	<h2 class="o-section__headline u-beta u-text-navy u-center-text">Request a callback</h2>
	@Html.Partial("~/Views/Partials/Forms/CallbackFormView.cshtml", new CallbackForm
	{
		PageName = Model.Name
	})
</article>

@helper RenderDLItem(string key, string val, string iconRef)
	{
		<dt class="c-key-val__key">
			<svg class="u-icon c-key-val__icon">
				<use xlink:href="/assets/icons/icons.svg#@iconRef"></use>
			</svg>
			<span class="c-key-val__key-text">@Html.Raw(key)</span>
		</dt>
		<dd class="c-key-val__val">@Html.Raw(val)</dd>
}

@helper renderButtonGroup()
	{
		<div class="c-button-group--inline">
			<a href="#requestQuote" class="c-button c-button--primary c-button--icon js-modal js-no-scroll">
				<svg class="u-icon u-icon--24 u-icon--white">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_curriculum_icon"></use>
				</svg>
				<span>Request a quote</span>
			</a>
			<a href="#callbackRequest" class="c-button c-button--primary c-button--icon js-modal js-no-scroll">
				<svg class="u-icon u-icon--24 u-icon--white">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_request_callback_icon"></use>
				</svg>
				<span>Request a callback</span>
			</a>
			<a href="#emailTrip" class="c-button c-button--primary c-button--icon js-modal js-no-scroll">
				<svg class="u-icon u-icon--24 u-icon--white">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_email_trip_icon"></use>
				</svg>
				<span>Email me my trip</span>
			</a>
		</div>
}

@section Scripts {
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
