@using TGDH.Core.Models;
@using TGDH.Core.ExtensionMethods;
@inherits UmbracoViewPage<ArticleSummaryViewModel>
@{
	var imageUrl = "";
	var altText = "";

	if (Model.Image != null) {
		imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "3:2", width: 460, htmlEncode: false).ToString();
		altText = Model.Image.GetPropertyValue<string>("altText", Model.Headline);
	}
    var urlTarget = !String.IsNullOrWhiteSpace(Model.UrlTarget) ? "target=" + Model.UrlTarget  : "";

	var hasImage = Model.Image != null;
	Model.ModifierClass = hasImage ? Model.ModifierClass + " c-article-summary--has-image" :
	 Model.ModifierClass + " c-article-summary--no-image";
}

<article class="c-article-summary @Model.ModifierClass">
    <a href="@Model.Url" class="c-article-summary__link u-clearfix" @urlTarget>
		@if (hasImage) {
			<div class="c-article-summary__image-wrap o-aspect--3-2">
				<img src="@imageUrl" alt="@altText" class="c-article-summary__image">
			</div>
		}
        <div class="c-article-summary__content">
            @if(!String.IsNullOrWhiteSpace(Model.Headline)) {
                <h2 class="c-article-summary__headline u-delta">@Model.Headline</h2>
            }
			@if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
				<div class="c-article-summary__subtitle">@Model.Subtitle</div>
			}
			@if (!String.IsNullOrWhiteSpace(Model.Label)) {
				<div class="c-article-summary__label">@Model.Label</div>
			}
			@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
				<p>@Html.Raw(StringExtensionMethods.TruncateAtWord(Model.Copy, 100)) <strong class="c-article-summary__cta">Read more</strong></p>
			}
        </div>
    </a>
</article>

