@using TGDH.Core.Models;
@inherits UmbracoViewPage<ButtonViewModel>
@{
    if (Model.Link == null)
    {
        return;
    }
}

<div class="@Model.ModifierClass">
	<a href="@Model.Link.Url" class="c-button c-button--primary" target="@Model.Link.Target">@Model.Link.Name</a>
</div>
