@using TGDH;
@using TGDH.Core.Models;
@using TGDH.Core.ExtensionMethods;
@inherits UmbracoViewPage<CardViewModel>
@{
    if (Model.Image == null) {
        Model.Image = TGDH.Settings<IPublishedContent>("defaultFeaturedImage");
        if( Model.Image == null ) {
            return;
        }
    }

    var imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "16:9", width: 500, htmlEncode: false);
    var altText = Model.Image.GetPropertyValue("altText", Model.Headline);

    var urlTarget = !String.IsNullOrWhiteSpace(Model.UrlTarget) ? "target=" + Model.UrlTarget  : "";
}

<article class="c-card @Model.ModifierClass">
    <a href="@Model.Url" class="c-card__link" @urlTarget>
        <div class="c-card__image-wrap o-aspect--16-9">
            <img src="@imageUrl" alt="@altText" class="c-card__image">
        </div>
        <div class="c-card__content">
            @if (!String.IsNullOrWhiteSpace(Model.Headline)) {
                <h2 class="c-card__headline u-delta">@Model.Headline</h2>
            }
			@if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
				<div class="c-card__subtitle">@Model.Subtitle</div>
			}
			@if (!String.IsNullOrWhiteSpace(Model.Label)) {
				<div class="c-card__label">@Model.Label</div>
			}
			@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
				<p>@Html.Raw(StringExtensionMethods.TruncateAtWord(Model.Copy, 100)) <strong class="c-article-summary__cta">Read more</strong></p>
			}
        </div>
    </a>
</article>
