@using TGDH;
@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
	if (TGDH.Settings<bool>("disableComments")) {
		return;
	}

    var disqusShortname = TGDH.Settings<string>("disqusShortname");
	if (String.IsNullOrWhiteSpace(disqusShortname) || Model.GetPropertyValue<bool>("disableComments")) {
		return;
	}

}
<aside class="c-comments o-wrap o-wrap--medium u-space-top--large">
	<h2>Comments</h2>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES * * */
		// Required: on line below, replace text in quotes with your forum shortname
		var disqus_shortname = '@disqusShortname';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</aside>


