@using TGDH.Core.Models;
@inherits UmbracoViewPage<GalleryViewModel>
@{
    if (Model.Images == null)
    {
        return;
    }

	@* aspect ratio *@
	if( string.IsNullOrWhiteSpace(Model.AspectRatio) ) {
		Model.AspectRatio = "16:9";
	}

	@* alignment *@
    var alignment = !string.IsNullOrWhiteSpace(Model.Alignment) ? Model.Alignment.ToLower() : "default";
    if (alignment == "full width")
    {
        alignment = "full";
    }
    var alignmentClass = "o-align--" + alignment;

	@* image *@
    var imageWidth = alignment != "default" ? Model.ImageWidth/2 : Model.ImageWidth;

	if( Model.Images.Count() == 1 ) {
		<div class="js-modal" data-nav="true" data-loop="true" data-modal-type="gallery">
			@RenderImage(Model.Images.First(), Model.AspectRatio, imageWidth)
		</div>
@*
		@Html.Partial("~/Views/Partials/Components/Image.cshtml", new ImageViewModel {
			Image = Model.Images.First(),
				Alignment = alignment,
				AspectRatio = Model.AspectRatio,
				ImageWidth = imageWidth
		})
*@
		return;
	}

}

<figure class="c-carousel @alignmentClass @Model.ModifierClass">
    <div class="c-carousel__inner js-carousel js-modal" data-nav="true" data-loop="true" data-modal-type="gallery">
	        @foreach (var media in Model.Images)
	        {
	            if (media != null)
	            {
	                if (media.DocumentTypeAlias == "Image")
	                {
	                    @RenderImage(media, Model.AspectRatio, imageWidth)
	                }

	                if (media.Descendants("Image").Any())
	                {
	                    foreach (var image in media.Descendants("Image"))
	                    {
	                        @RenderImage(image, Model.AspectRatio, imageWidth)
	                    }
	                }
	            }
	        }
		</div>
</figure>

@helper RenderImage(IPublishedContent image, string aspectRatio, int imageWidth)
{
	var aspectRatioClass = "o-aspect--" + aspectRatio.Replace(":", "-");
    var imageUrl = image.Url + "?width=1200&upscale=false";
    var imageCropUrl = Url.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, quality: 85, htmlEncode: false).ToString();

	var imageUrlLow = Url.GetCropUrl(image, cropAlias: aspectRatio, width: 20, htmlEncode: false);
    var imageUrlHigh = Url.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, htmlEncode: false);

    var caption = image.GetPropertyValue<string>("caption");
    var altText = image.GetPropertyValue<string>("altText");

    <a href="@imageUrl" target="_blank" class="c-carousel__item @aspectRatioClass">
        <img src="@imageUrlLow" class="c-carousel__image js-lazyload" alt="@altText" data-src="@imageUrlHigh"/>

        @if (!string.IsNullOrEmpty(caption))
        {
            <figcaption class="c-caption clearfix">
                @caption
            </figcaption>
        }
    </a>
}
