@using TGDH.Core.Models;
@inherits UmbracoViewPage<IconListViewModel>
@{
	var bullets = Model.Bullets.Where(x => !string.IsNullOrWhiteSpace(x));
	if (!bullets.Any()) {
		return;
	}
}

<ul class="c-icon-list @Model.ModifierClass">
	@foreach (var item in bullets) {
		<li class="c-icon-list__item">
			@if (!String.IsNullOrWhiteSpace(Model.IconRef)) {
				<svg class="c-icon-list__icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#@Model.IconRef"></use>
				</svg>
			}
			<span class="c-icon-list__text">@item</span>
		</li>
	}
</ul>
