@using TGDH.Core.Models;
@inherits UmbracoViewPage<GalleryViewModel>
@{
    if (Model.Images == null)
    {
        return;
    }

	var imageCount = Model.Images.Count();

	Model.ModifierClass = Model.ModifierClass + " c-image-grid__" + imageCount;

}

<div class="c-image-grid u-clearfix @Model.ModifierClass">
	@switch(imageCount) {
		case 1:
			@renderImage(Model.Images.First(), 500, "4:3", "c-image-grid__image-default")
			break;
		case 2:
			@renderImage(Model.Images.First(), 200, "4:3", "c-image-grid__image-pos-1")
			@renderImage(Model.Images.Skip(1).First(), 200, "3:4", "c-image-grid__image-pos-3")
			break;
		default:
			@renderImage(Model.Images.First(), 200, "4:3", "c-image-grid__image-pos-1")
			@renderImage(Model.Images.Skip(1).First(), 200, "4:3", "c-image-grid__image-pos-2")
			@renderImage(Model.Images.Skip(2).First(), 200, "3:4", "c-image-grid__image-pos-3")
			break;
	}
</div>

@helper renderImage (IPublishedContent image, int imageWidth, string aspectRatio = "", string modifierClass = "") {
    var hasRatio = !string.IsNullOrEmpty(Model.AspectRatio);
    var aspectRatioClass = "o-aspect--" + aspectRatio.Replace(":", "-");
	var imageUrl = Url.GetCropUrl(image, cropAlias: aspectRatio, width: imageWidth, htmlEncode: false);

	<div class="c-image-grid__image-wrap @aspectRatioClass @modifierClass">
		<img src="@imageUrl" class="c-image-grid__image" alt="@image.GetPropertyValue("altText", image.Name)" />
	</div>
}
