@using TGDH.Core.Models
@inherits UmbracoViewPage<LogoViewModel>
@{
    if (Model.Logo == null)
    {
        return;
    }

    var imageUrl = Url.GetCropUrl(Model.Logo, width: Model.ImageWidth, quality: 100, upScale: false, htmlEncode: false).ToString();

    var altText = Model.Logo.GetPropertyValue<string>("altText");
	if( String.IsNullOrEmpty(altText) ) {
		altText = Model.Name;
	}

	var hasLabel = !String.IsNullOrWhiteSpace(Model.Label);
}

<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="c-label-logo @Model.ModifierClass">
    @if (Model.Link != null)
	{
	    <a href="@Model.Link.Url" itemprop="" class="c-label-logo__link" target="@Model.Link.Target" title="@Model.Link.Name">
			<div class="c-label-logo__wrap">
				@if (hasLabel) {
					<span class="c-label-logo__label">@Model.Label</span>
				}
				<img src="@imageUrl" itemprop="thumbnail" alt="@altText" class="c-label-logo__image" />
			</div>
	    </a>
    } else {
		<div class="c-label-logo__wrap">
			@if (hasLabel) {
				<span class="c-label-logo__label">@Model.Label</span>
			}
			<img src="@imageUrl" itemprop="thumbnail" alt="@altText" class="c-label-logo__image" />
		</div>
    }
</figure>
