@using Diplo.Helpers;
@inherits UmbracoViewPage<IPublishedContent>
@{
	var root = Umbraco.TypedContentSingleAtXPath("//locations");
	if (root == null) {
		return;
	}
	QueryStringHelper qAll = new QueryStringHelper(Request.QueryString);

	var baseUrl = "/trips";

	var qCountry = qAll.GetValueByName("country");
	var qCity = qAll.GetValueByName("city");

	var locationSelection = root.Children();
}

@if (locationSelection.Any()) {
	var isDefaultActive = String.IsNullOrWhiteSpace(qCountry) && String.IsNullOrWhiteSpace(qCity);

	qAll.AddOrReplace("city", "");
	qAll.AddOrReplace("country", "");

	<select id="locationSelect" class="js-select">
		<option value="@(baseUrl + "?" + qAll.ToString())" @(isDefaultActive ? "selected" : "") class="c-select__item c-select__item--level-1">All locations</option>

		@foreach( var country in locationSelection ) {
			var cities = country.Children();

			var countryName = country.Name;
			var countryUrlName = countryName.ToUrlSegment();
			qAll.AddOrReplace("city", "");
			qAll.AddOrReplace("country", countryUrlName);
			var countryLinkUrl = baseUrl + "?" + qAll.ToString();

			var isCountryActive = countryUrlName.InvariantEquals(qCountry);
			var countryActiveClass = isCountryActive ? "selected" : "";

			<option value="@countryLinkUrl" class="c-select__item--level-1" @countryActiveClass>@countryName</option>
			if (cities.Any()) {
				foreach (var city in cities) {
					var cityName = city.Name;
					var cityUrlName = cityName.ToUrlSegment();
					qAll.AddOrReplace("country", countryUrlName);
					qAll.AddOrReplace("city", cityUrlName);
					var cityLinkUrl = baseUrl + "?" + qAll.ToString();
					var isCityActive = cityUrlName.InvariantEquals(qCity);

					var cityActiveClass = isCountryActive && isCityActive ? "selected" : "";

					<option value="@cityLinkUrl" class="c-select__item--level-2" @cityActiveClass>@cityName</option>
				}
			}
		}
	</select>
}


@**
@{
	QueryStringHelper qAll = new QueryStringHelper(qString);
	var qSubject = qAll.GetValueByName("subject");
	qAll.RemoveByName("subject");

	var subjects = root.Children().ToList();

	if (!subjects.Any())
	{
		return null;
	}

	var subjectLinks = new List<Link> {
		new Link{
			Name = "All subjects",
			Url = baseUrl + "?" + qAll.ToString(),
			IsActive = String.IsNullOrWhiteSpace(qSubject)
		}
	};

	foreach (var item in subjects)
	{
		var linkName = item.Name;
		var urlFriendlyName = linkName.ToUrlSegment();
		qAll.AddOrReplace("subject", urlFriendlyName);
		var linkUrl = baseUrl + "?" + qAll.ToString();
		var isActive = urlFriendlyName.InvariantEquals(qSubject);
		subjectLinks.Add(
			new Link
			{
				Name = linkName,
				Url = linkUrl,
				IsActive = isActive
			});
	}

}
@**@
