@using TGDH.Core.Models
@inherits UmbracoViewPage<LogoViewModel>
@{
    if (Model.Logo == null)
    {
        return;
    }

    var imageUrl = Url.GetCropUrl(Model.Logo, width: Model.ImageWidth, quality: 100, upScale: false, htmlEncode: false).ToString();

    var altText = Model.Logo.GetPropertyValue<string>("altText");
	if( String.IsNullOrEmpty(altText) ) {
		altText = Model.Name;
	}
}

<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="c-logo @Model.ModifierClass">
    @if (Model.Link != null)
	{
	    <a href="@Model.Link.Url" itemprop="" class="c-logo__link" target="@Model.Link.Target" title="@Model.Link.Name">
			<img src="@imageUrl" itemprop="thumbnail" alt="@altText" class="c-logo__image" />
	    </a>
    } else {
		<img src="@imageUrl" itemprop="thumbnail" alt="@altText" class="c-logo__image" />
    }
</figure>
