@using TGDH.Core.Models;
@using TGDH.Core.ExtensionMethods;
@inherits UmbracoViewPage<MultiImageListingViewModel>
@{
	var hasImages = Model.Images != null && Model.Images.Any();
	var imageCounter = 0;

	if (hasImages) {
		Model.ModifierClass = Model.ModifierClass + " c-multi-image-listing--has-images";
	}

	var hasLink = Model.Link != null;
}

<article class="c-multi-image-listing @Model.ModifierClass">
	@if (hasLink) {
		<a href="@Model.Link.Url" class="c-multi-image-listing__link u-clearfix" target="@Model.Link.Target" title="@Model.Link.Name">
			@if (hasImages) {
				<div class="c-multi-image-listing__images u-clearfix">
					@foreach (var item in Model.Images) {
						imageCounter = imageCounter + 1;
						var imageUrl = Url.GetCropUrl(item, cropAlias: "3:2", width: 500, htmlEncode: false);

						<div class="c-multi-image-listing__image c-multi-image-listing__image--@imageCounter o-aspect--3-2">
							<img src="@imageUrl" alt="">
						</div>
					}
				</div>
			}
			<div class="c-multi-image-listing__content">
				@if(!String.IsNullOrWhiteSpace(Model.Headline)) {
					<h3 class="c-multi-image-listing__headline u-delta">@Model.Headline</h3>
				}
				@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
					<p>@Html.Raw(StringExtensionMethods.TruncateAtWord(Model.Copy, 100)) <strong class="c-multi-image-listing__cta">Read more</strong></p>
				}
			</div>
		</a>
	} else {
		<div class="c-multi-image-listing__link u-clearfix">
			@if (hasImages) {
				<div class="c-multi-image-listing__images u-clearfix">
					@foreach (var item in Model.Images) {
						imageCounter = imageCounter + 1;
						var imageUrl = Url.GetCropUrl(item, cropAlias: "3:2", width: 500, htmlEncode: false);

						<div class="c-multi-image-listing__image c-multi-image-listing__image--@imageCounter o-aspect--3-2">
							<img src="@imageUrl" alt="">
						</div>
					}
				</div>
			}
			<div class="c-multi-image-listing__content">
				@if(!String.IsNullOrWhiteSpace(Model.Headline)) {
					<h3 class="c-multi-image-listing__headline u-delta">@Model.Headline</h3>
				}
				@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
					<p>@Html.Raw(Model.Copy)</p>
				}
			</div>
		</div>
	}
</article>
