@using TGDH.Core.Models;
@inherits UmbracoViewPage<PaginationViewModel>
@{
	if (Model.Paging.EndPage <= 1) {
		return;
	}

    var queryString = string.Empty;

	if(!String.IsNullOrWhiteSpace(Model.HashLink)){
		Model.HashLink = "#" + Model.HashLink;
	}

    foreach (var key in Request.QueryString)
    {
        if (key != null && (string)key != "page")
        {
            queryString = queryString + "&" + key + "=" + Request.QueryString[(string)key];
        }
    }
}

<nav class="c-pagination @Model.ModifierClass">
    <span id="label-pagination" class="u-visually-hidden">Pagination</span>
    <ol class="c-pagination__items" aria-labelledby="label-pagination">
        @if (Model.Paging.CurrentIndex > 1) {
            @*
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url@queryString@Model.HashLink">First</a>
            </li>
            *@
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.CurrentIndex - 1)@queryString@Model.HashLink" class="c-pagination__link c-pagination__link--prev" rel="prev">
                    <span class="u-icon--arrow-left"></span>
                    <span class="u-visually-hidden">Go to previous page</span>
                </a>
            </li>
        } else {
            <li class="c-pagination__item">
                <a class="c-pagination__link c-pagination__link--prev is-disabled">
                    <span class="u-icon--arrow-left"></span>
                </a>
            </li>
        }

        @for (var page = Model.Paging.StartPage; page <= Model.Paging.EndPage; page++) {
            var activeClass = Model.Paging.CurrentIndex == page ? "is-active" : "";

            <li class="c-pagination__item c-pagination__item--index @activeClass">
                <a href="@Model.CurrentModel.Url?page=@page@queryString@Model.HashLink" class="c-pagination__link">
                    <span class="u-visually-hidden">Go to page</span> <span class="c-pagination__no">@page</span>
                </a>
            </li>
        }

        @if (Model.Paging.CurrentIndex < Model.Paging.TotalPages) {
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.CurrentIndex + 1)@queryString" class="c-pagination__link c-pagination__link--next" rel="next">
                    <span class="u-visually-hidden">Go to next page</span>
                    <span class="u-icon--arrow-right"></span>
                </a>
            </li>
            @*
            <li class="c-pagination__item">
                <a href="@Model.CurrentModel.Url?page=@(Model.Paging.TotalPages)@queryString@Model.HashLink">Last</a>
            </li>
            *@
        } else {
            <li class="c-pagination__item">
                <a class="c-pagination__link c-pagination__link--next is-disabled">
                    <span class="u-icon--arrow-right"></span>
                </a>
            </li>
        }
    </ol>
</nav>
