@using TGDH.Core.Models;
@inherits UmbracoViewPage<ProfileViewModel>
@{
	var hasImage = Model.Image != null;

	var hasEmail = !String.IsNullOrWhiteSpace(Model.Email);
	var hasTel = !String.IsNullOrWhiteSpace(Model.Tel);

	if (hasImage) {
		Model.ModifierClass = Model.ModifierClass + " c-profile--has-image";
	}
}

<div class="c-profile @Model.ModifierClass u-clearfix">
	@if (hasImage) {
		var imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "1:1", width: 200, htmlEncode: false);
		<div class="c-profile__image-wrap o-aspect--1-1">
			<img src="@imageUrl" alt="@Model.Image.GetPropertyValue("altText", Model.Headline)" class="c-profile__image">
		</div>
	}
	<div class="c-profile__content">
		@if (!String.IsNullOrWhiteSpace(Model.Headline)) {
			<h3 class="c-profile__headline u-delta">@Model.Headline</h3>
		}
		@if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
			<div class="c-profile__subtitle">@Model.Subtitle</div>
		}
		@if (hasEmail || hasTel) {
			<ul class="c-profile__details">
				@if (hasEmail) {
					<li class="c-profile__item c-profile__item--first">
						<a href="mailto:@Model.Email">@Model.Email</a>
					</li>
				}
				@if (hasTel) {
					<li class="c-profile__item c-profile__item--last">
						@Model.Tel
					</li>
				}
			</ul>
		}
	</div>
</div>
