@using TGDH.Core.Models;
@inherits UmbracoViewPage<QuoteViewModel>
@{
    var alignment = !string.IsNullOrWhiteSpace(Model.Alignment) ? Model.Alignment.ToLower() : "default-quote";
    var alignmentClass = "o-align--" + alignment;
}

@if (!string.IsNullOrWhiteSpace(Model.Quote.ToString()))
{
	var hasAuthor = !String.IsNullOrWhiteSpace(Model.Author);
	var hasSource = !String.IsNullOrWhiteSpace(Model.Source);

    <blockquote class="c-quote @alignmentClass @Model.ModifierClass">
        <div class="c-quote__copy u-font-sec">
            @Model.Quote
        </div>

        @if (hasAuthor && hasSource) {
            <footer class="c-quote__src u-small"><strong>@Model.Author</strong>, @Model.Source</footer>
        } else if( hasAuthor ) {
			<footer class="c-quote__src u-small"><strong>@Model.Author</strong></footer>
		} else if( hasSource ) {
			<footer class="c-quote__src u-small"><strong>@Model.Source</strong></footer>
		}
    </blockquote>
}
