@using TGDH.Core.Models;
@inherits UmbracoViewPage<ReviewViewModel>
@{
	if (string.IsNullOrWhiteSpace(Model.Quote.ToString()))	{
		return;
	}

	var hasAuthor = !String.IsNullOrWhiteSpace(Model.Author);
	var hasSource = !String.IsNullOrWhiteSpace(Model.Source);

	var hasImage = Model.Image != null;
	if (hasImage) {
		Model.ModifierClass = "has-image";
	}
}

@if (Model.IsCompact) {
	<blockquote class="c-review-compact u-clearfix @Model.ModifierClass">
		<div class="c-review-compact__content">
			@if (Model.StarRatingCount != 0) {
				<div class="c-review-compact__stars c-stars c-stars--@Model.StarRatingCount" role="progressbar" aria-valuenow="@Model.StarRatingCount" aria-valuemin="0" aria-valuemax="5">
					@for (var i = 0; i < 5; i++) {
						var modifierClass = i < Model.StarRatingCount ? "c-stars__icon--fill" : "";
						<svg class="c-stars__icon c-stars__icon--@i @modifierClass">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#star"></use>
						</svg>
					}
				</div>
			}
			<div class="c-review-compact__copy u-font-sec">
				@Model.Quote
			</div>
		</div>
		<div class="c-review-compact__author u-clearfix">
			@if (hasImage) {
				var imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "1:1", width: 200, htmlEncode: false);
				<div class="c-review-compact__image-wrap o-aspect--1-1">
					<img src="@imageUrl" alt="@Model.Image.GetPropertyValue("altText", Path.GetFileNameWithoutExtension(Model.Image.Name))" class="c-review-compact__image">
				</div>
			}
			@if (hasAuthor && hasSource) {
				<footer class="c-review-compact__src"><strong>@Model.Author</strong>, @Model.Source</footer>
			} else if( hasAuthor ) {
				<footer class="c-review-compact__src"><strong>@Model.Author</strong></footer>
			} else if( hasSource ) {
				<footer class="c-review-compact__src"><strong>@Model.Source</strong></footer>
			}
		</div>
	</blockquote>
} else {
	<blockquote class="c-review u-clearfix @Model.ModifierClass">
		@if (hasImage) {
			var imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "1:1", width: 200, htmlEncode: false);
			<div class="c-review__image-wrap o-aspect--1-1">
				<img src="@imageUrl" alt="@Model.Image.GetPropertyValue("altText", Path.GetFileNameWithoutExtension(Model.Image.Name))" class="c-review__image">
			</div>
		}
		<div class="c-review__content">
			@if (Model.StarRatingCount != 0) {
				<div class="c-review__stars c-stars c-stars--@Model.StarRatingCount" role="progressbar" aria-valuenow="@Model.StarRatingCount" aria-valuemin="0" aria-valuemax="5">
					@for (var i = 0; i < 5; i++) {
						var modifierClass = i < Model.StarRatingCount ? "c-stars__icon--fill" : "";
						<svg class="c-stars__icon c-stars__icon--@i @modifierClass">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#star"></use>
						</svg>
					}
				</div>
			}
			<div class="c-review__copy u-font-sec">
				@Model.Quote
			</div>
			@if (hasAuthor && hasSource) {
				<footer class="c-review__src u-small"><strong>@Model.Author</strong>, @Model.Source</footer>
			} else if( hasAuthor ) {
				<footer class="c-review__src u-small"><strong>@Model.Author</strong></footer>
			} else if( hasSource ) {
				<footer class="c-review__src u-small"><strong>@Model.Source</strong></footer>
			}
		</div>
	</blockquote>
}
