@inherits UmbracoViewPage<IPublishedContent>
@{
    var site = Model.Site();
}

<div id="sitemap" class="c-sitemap">
    @Traverse(site)
</div>

@helper Traverse(IPublishedContent model)
{
    const int maxLevelForSitemap = 6;
    var selection = model.Children
        .Where(x => x.IsVisible() && x.Level <= maxLevelForSitemap && x.TemplateId > 0 && DocumentTypeIsNotIgnored(x)).ToList();

    if (selection.Any())
    {
        var listClass = selection.First().Level > 2 ? "c-sitemap__list--sub" : "c-nav__item--parent";

        <ol class="c-sitemap__list @listClass">
            @foreach (var item in selection)
            {
                var levelClass = "c-sitemap__item--level-" + item.Level;

                <li class="c-sitemap__item @levelClass">
                    <a href="@item.Url" class="c-sitemap__link">@item.Name</a>
                    @Traverse(item)
                </li>
            }
        </ol>
    }
}

@functions {

    private static bool DocumentTypeIsNotIgnored(IPublishedContent arg)
    {
        const string ignoredDocTypes = "errorPage,notFound,post,inTheMedia,pressRelease,generalNews,review,event";

        return ignoredDocTypes.Split(',').All(docType => docType != arg.DocumentTypeAlias);
    }

}
