@using Umbraco.Web
@inherits UmbracoViewPage<IPublishedContent>
@{
    var menuItems = Model.AncestorOrSelf(2).Children().Where( x => x.IsVisible() && x.TemplateId > 0 );

	if (!menuItems.Any()) {
		return;
	}
}

<ul class="c-nav__list">
    @foreach (var item in menuItems) {
		var isActive = item.IsAncestorOrSelf(Model) ? "is-active" : "";
        <li class="c-nav__item c-nav__item--parent @isActive">
            <a href="@item.Url" class="c-nav__link">
                @item.Name
            </a>
            @if( item.IsAncestorOrSelf(Model) ) {
                @Traverse(item)
            }
        </li>
    }
</ul>

@helper Traverse(IPublishedContent node) {
    var maxLevelForNav = 5;
    var items = node.Children.Where(
                    x => x.IsVisible() &&
                    x.Level <= maxLevelForNav &&
                    x.TemplateId > 0
                ).ToList();

    if ( items.Any() ) {
        <ul class="c-nav__list--sub">
           @foreach (var item in items) {
			   var isActive = Model.Id == item.Id ? "is-active" : "";

                <li class="c-nav__item c-nav__item--child c-nav__item--child--@item.Level @isActive">
                    <a href="@item.Url" class="c-nav__link">@item.Name</a>
                    @Traverse(item)
                </li>
           }
        </ul>
    }
}


@functions {

    private static bool DocumentTypeIsNotIgnored(IPublishedContent arg)
    {
        const string ignoredDocTypes = "errorPage,notFound,generalNews,inTheMedia,pressRelease,post";

        return ignoredDocTypes.Split(',').All(docType => docType != arg.DocumentTypeAlias);
    }

}
