@using TGDH;
@using TGDH.Core.Models;
@using TGDH.Core.ExtensionMethods;
@using Umbraco.Web.Models
@inherits UmbracoViewPage<TileViewModel>
@{
	if (Model.Image == null)
	{
		Model.Image = TGDH.Settings<IPublishedContent>
	("defaultFeaturedImage");
	if (Model.Image == null)
	{
	return;
	}
	}
	const string aspectRatio = "3:5";
	const int baseWidth = 20;
	const int maxWidth = 500;
	var cropWidth = 0;
	var cropHeIght = 0;

	var croppedImage = Model.Image;
	var defaultCrops = croppedImage as ImageCropDataSet;

	if (defaultCrops != null)
	{
	var crops = defaultCrops.Crops.FirstOrDefault((x => x.Alias.InvariantEquals(aspectRatio)));
	if( crops != null)
	{
	cropWidth = crops.Width;
	cropHeIght = crops.Height;
	}
	}

	var imageUrlLow = Url.GetCropUrl(Model.Image, cropAlias: aspectRatio, width: baseWidth, htmlEncode: false);
	var imageUrlHigh = Url.GetCropUrl(Model.Image, cropAlias: aspectRatio, width: maxWidth, htmlEncode: false);
	var imageSrcSet = Model.Image.GetSrcSet(cropWidth, cropHeIght, "600,800,1000,1280,1380,1540");

	var altText = Model.Image.GetPropertyValue("altText", Model.Headline);

	var urlTarget = !String.IsNullOrWhiteSpace(Model.UrlTarget) ? "target=" + Model.UrlTarget : "";

	var baseUrl = new Uri(Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.UriEscaped));

	var urlPath = new Uri(Model.Url, UriKind.Relative);

	var urlLocation = new Uri(baseUrl, urlPath);

	var urlLength = urlLocation.Segments.Length;

	var searchUrl = "trips";

	//Location link: SITEURL/settings-sitewide-content/locations/country/city/
	//Pattern: trips?=&city=new-york&country=united-states-of-america
	//uri.Segments.length includes site url as segment 1

	switch (urlLength)
	{
	case 5:
	searchUrl = string.Format("trips?=&country={0}&city={1}", urlLocation.Segments[urlLength - 2].TrimEnd('/'), urlLocation.Segments[urlLength - 1].TrimEnd('/'));
	break;
	case 4:
	searchUrl = string.Format("trips?=&country={0}", urlLocation.Segments[urlLength - 1].TrimEnd('/'));
	break;
	default:
	break;
	}
	}

	<article class="c-tile @Model.ModifierClass">
		<a href="@searchUrl" class="c-tile__link" @urlTarget>
			<div class="c-tile__image-wrap o-aspect--3-5">
				<img src="@imageUrlLow" data-src="@imageUrlHigh" alt="@altText" class="c-tile__image js-lazyload">
			</div>
			<div class="c-tile__content">
				@if (!String.IsNullOrWhiteSpace(Model.Headline)) {
				<h2 class="c-tile__headline">@Model.Headline</h2>
				}
				@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
				<p>@Html.Raw(StringExtensionMethods.TruncateAtWord(Model.Copy, 100))</p>
				}
				@if (!String.IsNullOrWhiteSpace(Model.CtaLabel)) {
				<div class="c-tile__cta-label">@Model.CtaLabel</div>
				}
			</div>
		</a>
	</article>
