@using TGDH.Core.Models;
@inherits UmbracoViewPage<TimelineViewModel>
@{
    if (Model.Points == null)
    {
        return;
    }
}

<ul class="c-timeline @Model.ModifierClass">
	@foreach (var item in Model.Points) {
		var label = item.GetPropertyValue<string>("label");
		if (String.IsNullOrWhiteSpace(label)) {
			label = "-";
		}
		<li class="c-timeline__item u-clearfix">
			<div class="c-timeline__icon-wrap">
				<svg class="c-timeline__icon">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_itinerary_icon"></use>
				</svg>
			</div>
			<div class="c-timeline__content">
				<span class="c-timeline__label">@label</span>
				<span class="c-timeline__copy">@item.GetPropertyValue("copy")</span>
			</div>
		</li>
	}
</ul>
