@inherits UmbracoViewPage<IPublishedContent>
@{
	var tourOperator = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("operator").FirstOrDefault();
	if (tourOperator == null) {
		return;
	}
}

@Html.Partial("~/Views/Partials/Components/LabelLogo.cshtml", new LogoViewModel {
	Logo = tourOperator.GetPropertyValue<IPublishedContent>("logo"),
	Name = tourOperator.Name,
	Link = tourOperator.GetPropertyValue("link") as RJP.MultiUrlPicker.Models.Link,
	Label = "Operated by",
	ImageWidth = 160
})
