@using TGDH.Core.Models;
@using TGDH.Core.ExtensionMethods;
@inherits UmbracoViewPage<TripSummaryViewModel>
@{
	var imageUrl = "";
	var altText = "";

	if (Model.Image != null) {
		imageUrl = Url.GetCropUrl(Model.Image, cropAlias: "3:2", width: 460, htmlEncode: false).ToString();
		altText = Model.Image.GetPropertyValue<string>("altText", Model.Headline);
	}
	var hasImage = Model.Image != null;
	Model.ModifierClass = hasImage ? Model.ModifierClass + " c-trip-summary--has-image" :
		Model.ModifierClass + " c-trip-summary--no-image";

	if (Model.IsRecommended) {
		Model.ModifierClass = Model.ModifierClass + " is-recommended";
	}

	var hasOperator = Model.Operator != null;

	var hasCountry = !String.IsNullOrWhiteSpace(Model.Country);
	var hasSubject = !String.IsNullOrWhiteSpace(Model.Subject);
}

<article class="c-trip-summary @Model.ModifierClass">
    <a href="@Model.Url" class="c-trip-summary__link">
		@if (Model.IsRecommended) {
			<div class="c-trips-summary__note">
				<span class="c-trips-summary__note-label u-font-sec">Recommended trip</span>
				<svg class="u-icon u-icon--16">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_heart_icon"></use>
				</svg>
			</div>
		}
		<div class="c-trip-summary__inner u-clearfix">
			@if (hasImage) {
				<div class="c-trip-summary__image-wrap o-aspect--3-2">
					<img src="@imageUrl" alt="@altText" class="c-trip-summary__image">
				</div>
			}
			<div class="c-trip-summary__content">
				@if(!String.IsNullOrWhiteSpace(Model.Headline)) {
					<h2 class="c-trip-summary__headline u-delta">@Model.Headline</h2>
				}



				<div class="c-trip-summary__header u-clearfix">
					@if (hasCountry) {
						<div class="c-trip-summary__country">@Html.Raw(Model.Country)@if (hasSubject) {<span>,</span>}
						</div>
					}
					@if (hasSubject) {
						<div class="c-trip-summary__subject">@Html.Raw(Model.Subject)</div>
					}
					@if (hasOperator) {
						@Html.Partial("~/Views/Partials/Components/LabelLogo.cshtml", new LogoViewModel {
							Logo = Model.Operator.GetPropertyValue<IPublishedContent>("logo"),
							Name = Model.Operator.Name,
							Label = "Operated by",
							ImageWidth = 160,
							ModifierClass = "c-trip-summary__operator"
						})
					}
				</div>

				<div class="c-trip-summary__subheader u-clearfix">
					@if (!String.IsNullOrWhiteSpace(Model.Subtitle)) {
						<div class="c-trip-summary__subtitle">@Html.Raw(Model.Subtitle)</div>
					}
				</div>

				@if (!String.IsNullOrWhiteSpace(Model.Label)) {
					<div class="c-trip-summary__label">@Model.Label</div>
				}
				@if (!String.IsNullOrWhiteSpace(Model.Copy)) {
					<p>@Html.Raw(StringExtensionMethods.TruncateAtWord(Model.Copy, 100)) <strong class="c-trip-summary__cta">View trip details</strong></p>
				}
			</div>
		</div>
    </a>
</article>

