@using TGDH;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
  var siteName = TGDH.Settings<string>("websiteName");
  var copyright = TGDH.Settings<string>("copyrightDisclaimer");

  var logos = TGDH.Settings<IEnumerable<IPublishedContent>>("accreditations");

	var accreditationsByline = TGDH.Settings<string>("accreditationsByline", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id elit non mi porta gravida at eget metus.");
}

<footer id="footer" class="c-footer u-spacer" role="contentinfo">
	<div class="c-footer__inner o-section o-wrap o-wrap--xx-large u-clearfix">
		<a href="#main" class="c-footer__scroll-top js-scroll-top">
			<span class="u-visually-hidden">Scroll to top</span>
			<span class="c-footer__scroll-top__icon"></span>
		</a>
		<div class="c-footer__col c-footer__col--first">
			@Html.CachedPartial("Components/PrimaryContactDetails", Model, 3600)

			@Html.CachedPartial("Components/SocialChannels", new SocialChannelsViewModel {
				SocialChannels = TGDH.Settings<IEnumerable<IPublishedContent>>("socialChannels"),
				ModifierClass = "c-footer__social"
			}, 3600)

			<div class="c-footer__micro u-space-top">
				<p>StudyTripsFinder is part of <a href="#">Oxford International Education Group</a></p>
			</div>
		</div>
		<div class="c-footer__col c-footer__col--last">
			<h3 class="u-delta">Accreditations</h3>
			<p>@accreditationsByline</p>
			@if (logos.Any()) {
				<div class="c-footer__logos u-clearfix u-space-top">
					@foreach (var item in logos) {
						@Html.CachedPartial("Components/Logo", new LogoViewModel {
							Logo = item.GetPropertyValue<IPublishedContent>("whiteLogo"),
							Name = item.GetPropertyValue<string>("title"),
							Link = item.GetPropertyValue("Link") as RJP.MultiUrlPicker.Models.Link,
							ImageWidth = 100,
							ModifierClass = "c-footer__logo"
						}, 3600)
					}
				</div>
			}
		</div>
	</div>

	<div class="c-footer__sub u-clearfix">
		<div class="o-wrap o-wrap--xx-large">
			@if (!string.IsNullOrWhiteSpace(copyright))
			{
				<p class="c-footer__copyright">
					@Html.Raw(copyright.Replace("\n", "<br/>"))
				</p>
			}
			@Html.CachedPartial("~/Views/Partials/Components/FooterNavigation.cshtml", Model, 3600)
			<div class="c-footer__tgdh">Creatd by <a href="http://tgdh.co.uk" target="_blank">TGDH</a></div>
		</div>
	</div>
</footer>
