@using TGDH;
@using TGDH.Core.Models;
@using StudyTripsFinder.Forms.Controllers;
@using StudyTripsFinder.Forms.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
	var gatedContentPage = Umbraco.TypedContent(1274);
	var headline = "";
	var subtitle = "";
	var copy = "";

	if (gatedContentPage != null) {
		headline = gatedContentPage.GetPropertyValue<string>("headline");
		subtitle = gatedContentPage.GetPropertyValue<string>("subtitle");
		copy = gatedContentPage.GetPropertyValue<string>("content");
	}
}
<div class="o-page__inner">
	<main id="main" class="o-section u-clearfix" role="main">
		<div class="o-wrap o-wrap--small">
			@Html.Partial("~/Views/Partials/Components/Heading.cshtml", new HeadingViewModel {
				Headline = headline,
				Subtitle = subtitle,
				Level = "h1"
			})

			@if (!String.IsNullOrWhiteSpace(copy)) {
				<div class="u-space-bottom--large">
					@Html.Raw(copy)
				</div>
			}

			@Html.Partial("~/Views/Partials/Forms/GatedContentFormView.cshtml", new GatedContentForm {
				PageName = Model.Name
			})
		</div>
	</main>
</div>
