@using TGDH;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
  var siteName = TGDH.Settings<string>("websiteName");

  var requestQuote = TGDH.Settings<IPublishedContent>("requestQuotePage");
  var hasRequestPage = requestQuote != null;

  var portalLink = TGDH.Settings<RJP.MultiUrlPicker.Models.Link>("headerPortalLink");
  var hasPortalLink = portalLink != null;}

<header id="header" class="c-header js-header" role="banner">
	<div class="c-header__inner o-wrap o-wrap--xx-large u-clearfix">
		<a href="/" class="c-header__logo-link">
			<img src="/assets/img/study-trips-finder-logo-white.svg" alt="@siteName" class="c-header__logo-image js-header-logo">
		</a>

		<div class="c-header__group">
			<div class="c-header__cta-group js-header-group">
				<button class="c-header__toggle-menu-button js-toggle" id="toggle-menu" aria-haspopup="true" data-toggle="nav-main">
					<span class="u-icon--list" aria-hidden="hidden"></span>
					<span class="u-visually-hidden">Menu</span>
				</button>
				@Html.CachedPartial("Components/SocialChannels", new SocialChannelsViewModel
				{
					SocialChannels = TGDH.Settings<IEnumerable<IPublishedContent>>("socialChannels"),
					ModifierClass = "c-header__social u-hide--small u-hide--medium u-hide--large"
				}, 3600)
				@if (hasRequestPage)
				{
					<a href="@requestQuote.Url" class="c-header__cta c-button c-button--outline-invert u-hide--small u-hide--medium u-hide--large">Request a quote</a>
				}
				@if (hasPortalLink)
				{
					if (!string.IsNullOrWhiteSpace(portalLink.Url))
					{
						<a href="@portalLink.Url" class="c-header__cta c-button c-button--outline-invert u-hide--small u-hide--medium u-hide--large">@portalLink.Name</a>
					}
				}

			</div>

			<div class="c-header__nav-wrap">
				@Html.CachedPartial("~/Views/Partials/Components/MainNavigation.cshtml", new PageListingViewModel
				{
					Listing = Model.Site().Children.Where(x => x.IsVisible() && x.TemplateId > 0),
					CurrentModel = Model
				}, 3600, true)
				@if (hasRequestPage)
				{
					<a href="@requestQuote.Url" class="c-header__cta c-button c-button--outline-invert u-hide--x-large u-hide--xx-large">Request a quote</a>
				}
				@if (hasPortalLink)
				{
					if (!string.IsNullOrWhiteSpace(portalLink.Url))
					{
						<a href="@portalLink.Url" class="c-header__cta c-button c-button--outline-invert u-hide--x-large u-hide--xx-large">@portalLink.Name</a>
					}
				}
			</div>
		</div>
	</div>
</header>
