@using TGDH;
@using TGDH.Core.Data;
@using TGDH.Core.Models;
@using TGDH.Core.Utility;
@using Diplo.Helpers;
@inherits UmbracoViewPage<IPublishedContent>
@{
	if (TGDH.Settings<bool>("hideKeepUpToDate") || Model.GetPropertyValue<bool>("hideKeepUpToDate")) {
		return;
	}

	var subject = (string)ViewData["subject"];
	var city = (string)ViewData["city"];
	var country = (string)ViewData["country"];

	<!-- var keepUpToDate = KeepUpToDate.AllOrderedEntries(Umbraco); -->

	var keepUpToDate = KeepUpToDate.GetFiltered(subject, country, city, 6);

	if (!keepUpToDate.Any()) {
		return;
	}
}

<section class="o-section u-background--light-2 u-clearfix">
	<div class="o-wrap o-wrap--xx-large">
		<h2 class="o-section__headline u-beta u-text-navy u-center-text">Keep up to date</h2>
		<div class="c-carousel c-carousel--cards">
			<div class="c-carousel__inner js-carousel u-clearfix" data-items="3" data-nav="true">
				@foreach (var item in keepUpToDate) {
					@Html.Partial("~/Views/Partials/Components/Card.cshtml", new CardViewModel {
						Headline = item.GetPropertyValue<string>("headline", item.Name),
						Subtitle = ContentTypeHelper.GetContentTypeLabelFromPage(item),
						Url = item.Url,
						Label = item.GetPropertyValue<DateTime>("releaseDate").ToString("dd/MM"),
						Image = item.GetPropertyValue<IPublishedContent>("featuredImage"),
						Copy = item.GetPropertyValue<string>("pageDescription")
					})
				}
			</div>
		</div>
	</div>
</section>
