@using TGDH;
@inherits UmbracoViewPage<IPublishedContent>
@{
	if (TGDH.Settings<bool>("hideNewsletter")) {
		return;
	}

	var headline = TGDH.Settings<string>("newsletterHeadline");
	var copy = TGDH.Settings<string>("newsletterCopy");

	var modifierClass = ViewData["modifierClass"];

	if (TGDH.Settings<bool>("hideKeepUpToDate") || Model.GetPropertyValue<bool>("hideKeepUpToDate")) {
		modifierClass = "";
	}

	var cta = TGDH.Settings<RJP.MultiUrlPicker.Models.Link>("newsletterCTA");
	var hasCta = cta != null;
}

<section class="c-newsletter @modifierClass">
	<div class="o-wrap o-wrap--xx-large c-newsletter__wrap u-clearfix">
		<div class="c-newsletter__image-wrap">
			<img src="/assets/img/newsletter-image.png" alt="Mobile with email option" class="c-newsletter__image">
		</div>
		<div class="c-newsletter__content o-section">
			@if (!String.IsNullOrWhiteSpace(headline)) {
				<h2 class="c-newsletter__headline">@Html.Raw(headline)</h2>
			}
			@if (!String.IsNullOrWhiteSpace(copy)) {
				<div class="c-newsletter__copy">
					@Html.Raw(copy)
				</div>
			}
			@if (hasCta ) {
				if (!String.IsNullOrWhiteSpace(cta.Url)) {
					<a href="@cta.Url" class="c-button c-button--primary u-space-top--large js-modal" data-modal-type="ajax" data-template="AJAXNewsletter">Sign up</a>
				}
			}
		</div>
	</div>
</section>
