@using TGDH.Core.Models;
@using StudyTripsFinder.Trips.Controllers;
@inherits UmbracoViewPage<IPublishedContent>
@{
	var subject = Model.GetPropertyValue<string>("subject").ToUrlSegment();
	var country = "";
	var city = "";
	var tripSurface = new TripSurfaceController();
	var relatedTrips = tripSurface.GetTripsBySearch("", subject, country, city, 2).Where(x => x.Id != Model.Id);

	var relatedCount = relatedTrips.Count();

	if (!relatedTrips.Any()) {
		return;
	}
}

<section class="o-section">
	<div class="o-wrap o-wrap--xx-large">
		<h2 class="o-section__headline u-beta u-text-navy u-center-text">You may also be interested in</h2>
		<div class="u-clearfix @(relatedCount < 2 ? "o-wrap o-wrap--small" : "")">
			@foreach (var item in relatedTrips) {
				var location = item.GetPropertyValue<IPublishedContent>("location");
				var subtitle = location != null ? location.Name : "";
				@Html.Partial("~/Views/Partials/Components/ArticleSummary.cshtml", new ArticleSummaryViewModel {
					Headline = item.GetPropertyValue<string>("headline", item.Name),
					Subtitle = subtitle,
					Label = "",
					Url = item.Url,
					Copy = item.GetPropertyValue<string>("pageDescription", item.GetPropertyValue<string>("overview").StripHtml()),
					Image = item.GetPropertyValue<IPublishedContent>("featuredImage", item.GetPropertyValue<IPublishedContent>("coverImage")),
					ModifierClass = relatedCount == 2 ? "s-trip__related-col" : ""
				})
			}
		</div>
	</div>
</section>
