@using StudyTripsFinder.Forms.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
	var tripName = Model.Name;
	var duration = ViewData["duration"].ToString();
	var price = ViewData["price"].ToString();
	var accommodation = "Reykjavik youth hostel";

	var enhanceOptions = Model.GetPropertyValue<IEnumerable<IPublishedContent>>("enhanceTrip");
	var tripsPage = Umbraco.TypedContentSingleAtXPath("//trips");
}

<section class="">
	<div class="o-section o-wrap o-wrap--x-large">
		<h2 class="o-section__headline u-alpha u-text-navy u-center-text">Request a quote</h2>

		<h3 class="u-beta u-text-navy u-center-text">Summary</h3>
		<dl class="c-key-val u-clearfix u-space-top--large">
			@RenderDLItem("Trip name", tripName, "STF_trip_name_icon")
			@RenderDLItem("Trip duration", duration, "STF_duration_icon")
			@RenderDLItem("Accommodation", accommodation, "STF_accomodation_icon")
			@RenderDLItem("Base price", price, "STF_price_icon")
		</dl>

		@if (tripsPage != null) {
			<p class="u-center-content u-space-top">Not quite what you were after? <a href="@tripsPage.Url">View all trips</a></p>
		}
	</div>
@*
	@Html.Partial("~/Views/Partials/Forms/TripQuoteFormView.cshtml", new TripQuoteForm {
		TripName = tripName,
		EnhanceTripOptions = enhanceOptions
	})
*@
	@Html.Action("RenderTripQuoteForm", "TripQuoteForm", new { tripName = Model.Name, priceFrom = price, duration = duration })

</section>

@helper RenderDLItem(string key, string val, string iconRef ) {
	<dt class="c-key-val__key">
		<svg class="u-icon c-key-val__icon">
			<use xlink:href="/assets/icons/icons.svg#@iconRef"></use>
		</svg>
		<span class="c-key-val__key-text">@Html.Raw(key)</span>
	</dt>
	<dd class="c-key-val__val">@Html.Raw(val)</dd>
}
