/* ===========================================================

	# Contact

=========================================================== */

.s-contact {

	.s-contact__cols__col--first {

		.c-contact-details__address {
			margin-bottom: $line-height;
		}

	}

}

.s-contact__form-submit {

	.u-icon {
		width: 2.2rem;
		height: 2.2rem;
		margin-right: -3.2rem;
		margin-left: 1rem;
		vertical-align: text-bottom;
	}

}

@include respond-max( $mq-small ) {

	.s-contact__cols__col--first + .s-contact__cols__col--last {
		margin-top: $line-height;
	}

}


@include respond-min( $mq-small ) {

	.s-contact__cols__col--first {
		font-size: 1.8rem;
		@include column(4/9);

		.c-contact-details__headline {
			font-size: 3.125rem;
			padding-bottom: 1.5625rem;
		}
	}

	.s-contact__cols__col--last {
		@include column(5/9);
	}

}
