/* ===========================================================

	# Home

=========================================================== */

.s-home__popular-destinations__item
{
	margin-bottom: 1em;

	.o-col--two &,
	.o-col--four &
	{
		@include column(1/1);
		max-width: 440px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.s-home__logo
{
	max-width: 10rem;
	opacity: 0.2;
}

.s-home__featured-col
{
	& + &
	{
		&.u-hide
		{
			display: none;
		}
	}
}

@include respond-min-max( $mq-small, $mq-medium )
{

	.s-home__logo
	{
		max-width: 12rem;
	}
}

@include respond-max( $mq-large )
{

	.s-home__featured-col
	{

		& + &
		{
			margin-top: $line-height;
		}
	}
}

@include respond-min( $mq-medium )
{

	.s-home__logo
	{
		max-width: 14rem;
	}
}

@include respond-min-max( $mq-medium, $mq-large )
{

	.s-home__featured-col
	{
		h2
		{
			font-size: 2.8rem;
		}
	}

	.s-home__popular-destinations__item
	{
		.o-col--two &,
		.o-col--four &
		{
			@include column(1/2, $gutter: 3);
			left: 0;
			transform: translateX(0);
		}

		&:nth-child(2n)
		{
			margin-right: 0;
		}
	}
}


@include respond-min( $mq-large )
{

	.s-home__featured-col
	{
		@include column(1/1);
	}

	.s-home__offers-col.s-home__offers-col
	{
		@include column(1/2);
		margin-top: 0;
	}

	.s-home__popular-destinations__item
	{
		margin-bottom: 0;

		.o-col--four &
		{
			@include column(1/4, $gutter: 1);
			left: 0;
			transform: translateX(0);
		}
	}
}
