/* ===========================================================

	# Trip

=========================================================== */

@include respond-max( $mq-large ) {

	.s-trip__related-col {

		& + & {
			margin-top: $line-height
		}
	}

}

@include respond-min( $mq-large ) {

	.s-trip__related-col {
		@include column(1/2);
		margin-top: 0;

		& + & {
			margin-top: 0;
		}
	}

	.s-trip__related-col.s-home__offers-col {
		@include column(1/2);
		margin-top: 0;
	}

}
