/* ===========================================================

	# Trips

=========================================================== */

@include respond-min-max( $mq-medium, $mq-large ) {

	.s-trips__results-message {
		margin-top: -4rem;
	}

}

@include respond-max( $mq-large ) {

	.s-trips__results-message {
		margin-bottom: 6rem;
	}

}

@include respond-min( $mq-large ) {

	.s-trips__results-message {
		margin-top: 6rem;
		margin-bottom: 10rem;
		font-size: 3.6rem;
	}

}
