/* ===========================================================

	# Trip review

=========================================================== */

.m-trip-review__images {
	position: relative;
}

.m-trip-review__author-image {
	border-radius: 50%;
	border: 0.5rem solid $white;
	box-shadow: $box-shadow-2;
	overflow: hidden;

	img {
		border-radius: 50%;
	}
}

.m-trip-review {

	.c-image-grid {
		@include span(3/4);
	}

	.m-trip-review__author-image {
		@include span(1/4);
		width: 28%;
		margin-left: -4%;
		transform: translateY(30%);
	}

}

@include respond-max( $mq-medium ) {

	.m-trip-review__images {
		@include clearfix();
		max-width: 80%;
		margin: $line-height auto;
	}

}

@include respond-min( $mq-medium ) {

	.m-trip-review__images {
		@include column(4.5/10, $gutter: 3);
	}

	.m-trip-review__quote {
		@include column(5.5/10, $gutter: 3);
	}

}
