﻿@using System.Configuration
@using StudyTripsFinder.Forms.Models
@inherits UmbracoViewPage<CallbackForm>
@{
	var success = TempData["CallbackFormValidationPasses"] != null;
	var error = TempData["CallbackFormValidationFailed"] != null;
	var folderId = TempData["CallbackFormFormFolderId"];
	var formId = "callback-form";

	Html.EnableClientValidation();
	Html.EnableUnobtrusiveJavaScript();
}

@if (success)
{
	if (folderId != null)
	{
		var folder = Umbraco.TypedContent(folderId);
		var message = folder.GetPropertyValue<string>("submitMessage");

		<div class="c-alert c-alert--success js-modal-success">
			<div class="o-wrap o-wrap--small u-center-content">
				@message
			</div>
		</div>
	}
}
else
{
	if (error)
	{
		<div class="c-alert c-alert--error u-space-bottom js-modal-error">
			<div class="o-wrap o-wrap--small u-center-content">
				@Html.ValidationSummary()
			</div>
		</div>
	}

	using (Html.BeginUmbracoForm("ProcessFormSubmission", "CallbackForm", FormMethod.Post, new { id = formId, @class = "c-form js-form" }))
	//using (Ajax.BeginForm("ProcessFormSubmission", "CallbackForm", new { id = "callback-form", @class = "c-form js-form" }, new AjaxOptions{HttpMethod = "POST"}))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(x => x.PageName)
		<fieldset class="o-form__fieldset">
			<legend class="o-legend u-visually-hidden">Callback Form</legend>
			<div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.SenderName, new { @class = "o-label" })
				@Html.TextBoxFor(x => x.SenderName, new { @class = "o-input", required = "required", @placeholder = "Name" })
				@Html.ValidationMessageFor(x => x.SenderName)
			</div>
			@*
				<div class="o-form__field o-form__field--compact is-required">
					@Html.LabelFor(x => x.SchoolName, new {@class = "o-label"})
					@Html.EditorFor(x => x.SchoolName, new {@class = "o-input", @placeholder = "Your School"})
					@Html.ValidationMessageFor(x => x.SchoolName)
				</div>
			*@
			<div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.Email, new { @class = "o-label" })
				@Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "o-input", required = "required", placeholder = "Email" } })
				@Html.ValidationMessageFor(x => x.Email)
			</div>
			<div class="o-form__field o-form__field--compact">
				@Html.LabelFor(x => x.Telephone, new { @class = "o-label" })
				@Html.EditorFor(x => x.Telephone, new { htmlAttributes = new { @class = "o-input", placeholder = "Phone" } })
				@Html.ValidationMessageFor(x => x.Telephone)
			</div>
			<div class="o-form__field o-form__field--submit">
				<button type="button" class="c-button c-button--primary c-button--icon g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["recaptcha-public-key"]" data-callback="submitCallback">
					<span>Send</span>
				</button>
			</div>
		</fieldset>
	}

	<script>
		function submitCallback(token) {
			var thisForm = document.getElementById("@formId");
			if ($(thisForm).valid()) {
				$(thisForm).submit();
			}
		}
	</script>
}
