﻿@using System.Configuration
@using StudyTripsFinder.Forms.Models
@inherits UmbracoViewPage<ContactForm>
@{
	var success = TempData["ContactFormValidationPasses"] != null;
	var error = TempData["ContactFormValidationFailed"] != null;
	var folderId = TempData["ContactFormFolderId"];
	var formId = "contact-form";

	Html.EnableClientValidation();
	Html.EnableUnobtrusiveJavaScript();

}

@if (success)
{
	if (folderId != null)
	{
		var folder = Umbraco.TypedContent(folderId);
		var message = folder.GetPropertyValue<string>("submitMessage");

		<div class="c-alert c-alert--success js-modal-success">
			<div class="o-wrap o-wrap--small u-center-content">
				@message
			</div>
		</div>
	}
}
else
{
	if (error)
	{
		<div class="c-alert c-alert--error u-space-bottom js-modal-error">
			<div class="o-wrap o-wrap--small u-center-content">
				@Html.ValidationSummary()
			</div>
		</div>
	}

	using (Html.BeginUmbracoForm("ProcessFormSubmission", "ContactForm", FormMethod.Post, new {id = formId, @class = "c-form js-form"}))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(x => x.PageName)
		<fieldset class="o-form__fieldset o-form--simple">
			<legend class="o-legend u-visually-hidden">Contact form</legend>
			<div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.SenderName, new {@class = "o-label"})
				@Html.TextBoxFor(x => x.SenderName, new {@class = "o-input", required = "required", @placeholder = "Name"})
				@Html.ValidationMessageFor(x => x.SenderName)
			</div>
			<div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.Email, new {@class = "o-label"})
				@Html.EditorFor(x => x.Email, new {htmlAttributes = new {@class = "o-input", required = "required", placeholder = "Email"}})
				@Html.ValidationMessageFor(x => x.Email)
			</div>
			<div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.Message, new {@class = "o-label"})
				@Html.TextAreaFor(x => x.Message, new {@class = "o-input", required = (string) null, rows = 5, @placeholder = "Message"})
				@Html.ValidationMessageFor(x => x.Message)
			</div>
			<div class="o-form__field o-form__field--submit">
				<button type="submit" class="c-button c-button--primary c-button--icon g-recaptcha s-contact__form-submit" data-sitekey="@ConfigurationManager.AppSettings["recaptcha-public-key"]" data-callback="submitContact">
					<span>Send</span>
					<svg class="u-icon u-icon--white">
						<use xlink:href="/assets/icons/icons.svg#paper-plane"></use>
					</svg>
				</button>
			</div>
		</fieldset>

		<script>
			function submitContact(token) {
				var thisForm = document.getElementById("@formId");
				if ($(thisForm).valid()) {
					$(thisForm).submit();
				}
			}
		</script>
	}
}
