@using System.Configuration
@using StudyTripsFinder.Forms.Models
@inherits UmbracoViewPage<EmailTripForm>
@{
	var success = TempData["EmailTripFormValidationPasses"] != null;
	var error = TempData["EmailTripFormValidationFailed"] != null;
	var folderId = TempData["EmailTripFormFolderId"];
	var formId = "email-trip-form";
}

@if (success)
{
	if (folderId != null)
	{
		var folder = Umbraco.TypedContent(folderId);
		var message = folder.GetPropertyValue<string>("submitMessage");

		<div class="c-alert c-alert--success js-modal-success">
			<div class="o-wrap o-wrap--small u-center-content">
				@message
			</div>
		</div>
	}
}
else
{
	if (error)
	{
		<div class="c-alert c-alert--error u-space-bottom js-modal-error">
			<div class="o-wrap o-wrap--small u-center-content">
				@Html.ValidationSummary()
			</div>
		</div>
	}

	using (Html.BeginUmbracoForm("ProcessFormSubmission", "EmailTripForm", FormMethod.Post, new { id = formId, @class = "c-form js-form" }))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(x => x.TripName)
		@Html.HiddenFor(x => x.Duration)
		@Html.HiddenFor(x => x.BasePrice)

		<fieldset class="o-form__fieldset o-section">
			<div class="o-wrap o-wrap--x-large">
				<h3 class="u-beta u-text-navy u-center-text">Trip details</h3>

				<div class="o-form__row o-form__row--two">
					<div class="o-form__field c-date">
						@Html.LabelFor(x => x.DepartureDate, new { @class = "o-label" })
						<div class="c-date__input">
							@Html.TextBoxFor(x => x.DepartureDate, new { required = "required", @class = "o-input-date js-datepicker" })
							<svg class="c-date__icon u-icon u-icon--24">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_dates_icon"></use>
							</svg>
						</div>
						@Html.ValidationMessageFor(x => x.DepartureDate)
					</div>
					<div class="o-form__field c-date">
						@Html.LabelFor(x => x.ReturnDate, new { @class = "o-label" })
						<div class="c-date__input">
							@Html.TextBoxFor(x => x.ReturnDate, new { required = "required", @class = "o-input-date js-datepicker" })
							<svg class="c-date__icon u-icon u-icon--24">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_dates_icon"></use>
							</svg>
						</div>
						@Html.ValidationMessageFor(x => x.ReturnDate)
					</div>
				</div>

				<div class="o-form__row o-form__row--two-one">

					<div class="o-form__field o-form__field--first">
						@Html.LabelFor(x => x.StudentNumber, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.StudentNumber, new { type = "number", required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.StudentNumber)
					</div>

					<div class="o-form__field o-form__field--second">
						@Html.LabelFor(x => x.GroupLeaderNumber, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.GroupLeaderNumber, new { type = "number", required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.GroupLeaderNumber)
					</div>

					<div class="o-form__field o-form__field--last">
						@Html.LabelFor(x => x.TravelMethod, new { @class = "o-label" })
						@*
							@Html.TextBoxFor(x => x.TravelMethod, new {required = "required", @class = "o-input" })
						*@
						@if (Model.TravelMethodOptions != null && Model.TravelMethodOptions.Any())
						{
							<div class="o-select">
								<select name="TravelMethod" id="TravelMethod">
									@foreach (var travelMethod in Model.TravelMethodOptions)
									{
										<option value="@travelMethod">@travelMethod</option>
									}
								</select>
							</div>
						}
						@Html.ValidationMessageFor(x => x.TravelMethod)
					</div>

				</div>

				<div class="o-form__row">
					<label class="o-label">Pupil / student age range</label>
					@renderRangeSlider()
				</div>

			</div>
		</fieldset>

		if (Model.EnhanceTripOptions != null && Model.EnhanceTripOptions.Any())
		{

			<fieldset class="o-form__fieldset o-section u-background--light">
				<div class="o-wrap o-wrap--x-large">
					<h3 class="u-beta u-text-navy u-center-text">Enhance trip</h3>

					<ul class="o-fieldset__list js-checkbox-group o-fieldset--description-list u-clearfix js-checkbox-list">
						@for (var i = 0; i < Model.EnhanceTripOptions.Count(); i++)
						{
							var label = Model.EnhanceTripOptions[i].Name;
							if (String.IsNullOrWhiteSpace(label))
							{
								continue;
							}
							var groupName = label.ToUrlSegment() + i;
							var id = "EnhanceTripOptions_" + i + "__Checked";

							<li class="o-fieldset__item">
								<label class="o-checkbox" for="@id">
									@*
										@Html.CheckBoxFor(x => Model.EnhanceTripOptions[i].Checked, new
										{
											@class = "o-checkbox__input", @data_group = groupName
										})
									*@
									<input class="o-checkbox__input" data-group="@groupName" id="@id" name="@id" type="checkbox" value="@label">
									<span class="o-checkbox__label">
										<span class="o-checkbox__button">
											<span class="o-checkbox__icon"></span>
										</span>
										@label
									</span>
									@* @Html.HiddenFor(x => Model.Workflow[i].Name) *@
								</label>
								<div class="o-fieldset__item-description">
									@Model.EnhanceTripOptions[i].Subtitle
								</div>
							</li>
						}
						@Html.HiddenFor(x => x.EnhanceTrip, new { @class = "js-checkbox-list-input" })
					</ul>
				</div>
			</fieldset>
		}


		<fieldset class="o-section">
			<div class="o-wrap o-wrap--x-large">
				<h3 class="u-beta u-text-navy u-center-text">School/College/University details</h3>
				<div class="o-form__row o-form__row--two">
					<div class="o-form__field">
						@Html.LabelFor(x => x.SchoolName, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.SchoolName, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.SchoolName)
					</div>
					<div class="o-form__field">
						@Html.LabelFor(x => x.Address, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.Address, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.Address)
					</div>
				</div>
				<div class="o-form__row o-form__row--two">
					<div class="o-form__field">
						@Html.LabelFor(x => x.Street, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.Street, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.Street)
					</div>
					<div class="o-form__field">
						@Html.LabelFor(x => x.Town, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.Town, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.Town)
					</div>
				</div>
				<div class="o-form__row o-form__row--two">
					<div class="o-form__field">
						@Html.LabelFor(x => x.Country, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.Country, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.Country)
					</div>
					<div class="o-form__field">
						@Html.LabelFor(x => x.Postcode, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.Postcode, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.Postcode)
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset class="o-section">
			<div class="o-wrap o-wrap--x-large">
				<h3 class="u-gamma u-text-navy u-center-text">Your details</h3>
				<div class="o-form__row o-form__row--three">
					<div class="o-form__field">
						@Html.LabelFor(x => x.RecipientName, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.RecipientName, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.RecipientName)
					</div>
					<div class="o-form__field">
						@Html.LabelFor(x => x.RecipientEmail, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.RecipientEmail, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.RecipientEmail)
					</div>
					<div class="o-form__field">
						@Html.LabelFor(x => x.RecipientTelephone, new { @class = "o-label" })
						@Html.TextBoxFor(x => x.RecipientTelephone, new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.RecipientTelephone)
					</div>
				</div>
			</div>
		</fieldset>

		<fieldset class="o-section js-form-repeater">
			<div class="o-wrap o-wrap--x-large">
				<h3 class="u-gamma u-text-navy u-center-text">Additional emails (optional)</h3>

				<div class="c-form-repeater__item js-form-repeater__item">
					<div class="o-form__field c-form-repeater__field">
						@*
							@Html.LabelFor(x => x.AdditionalEmails[0], new { @class = "o-label" })
						*@
						<label class="o-label" for="AdditionalEmails_0_">Email</label>
						@Html.TextBoxFor(x => x.AdditionalEmails[0], new { required = "required", @class = "o-input" })
						@Html.ValidationMessageFor(x => x.AdditionalEmails[0])
					</div>
					<span class="c-form-repeater__remove js-form-repeater__remove">
						<svg class="u-icon u-icon--24">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#minus"></use>
						</svg>
						<span class="u-visually-hidden">Remove field</span>
					</span>
				</div>

				<div class="c-form-repeater__add js-form-repeater__add c-button c-button--secondary c-button--center u-space-top">Add</div>
			</div>
		</fieldset>

		<div class="o-form__field u-center-content o-section">
			<button type="submit" class="c-button c-button--primary c-button--icon">
				<svg class="u-icon u-icon--24 u-icon--white">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/icons.svg#STF_curriculum_icon"></use>
				</svg>
				<span>Request a quote</span>
			</button>
		</div>
	}

	<script>
       function submitTripQuote(token) {
	       var thisForm = document.getElementById("@formId");
	       if ($(thisForm).valid()) {
		       $(thisForm).submit();
	       }
       }
	</script>
}


@helper renderRangeSlider(IPublishedContent model = null)
	{
		<div class="c-range-slider js-range-slider-container">
			<div class="c-range-slider__slider js-range-slider" data-min="1" data-max="30" data-start="13" data-end="18" data-step="1"></div>

			<div class="c-range-slider__values">
				<div class="c-range-slider__input-field">
					<span class="c-range-slider__input-descriptor"><span class="js-range-slider-value-lower"></span></span>
					@*
						<input type="number" hidden disabled class="c-range-slider__input js-range-slider-value-lower">
					*@

					@Html.HiddenFor(x => x.StudentAgeLower, new { @class = "c-range-slider__input js-range-slider-value-lower" })

				</div>
				<div class="c-range-slider__input-field">
					<span class="c-range-slider__input-descriptor"><span class="js-range-slider-value-upper"></span></span>
					@*
						<input type="number" hidden disabled class="c-range-slider__input js-range-slider-value-upper">
					*@
					@Html.HiddenFor(x => x.StudentAgeUpper, new { @class = "c-range-slider__input js-range-slider-value-upper" })
				</div>
			</div>
		</div>
}
