@using StudyTripsFinder.Forms.Models
@inherits UmbracoViewPage<GatedContentForm>
@{
    var success = TempData["GatedContentFormValidationPasses"] != null;
    var error = TempData["GatedContentFormValidationFailed"] != null;
    var folderId = TempData["GatedContentFormFormFolderId"];
}

@if (success)
{
    if (folderId != null)
    {
        var folder = Umbraco.TypedContent(folderId);
        var message = folder.GetPropertyValue<string>("submitMessage");

        @message
    }
}
else
{
	@*
    if (error)
    {
        @Html.ValidationSummary()
    }
	*@

    using (Html.BeginUmbracoForm("ProcessFormSubmission", "GatedContent", FormMethod.Post, new { id = "gated-content-form", @class = "c-form js-form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.PageName)
        <fieldset class="o-form__fieldset o-form--simple">
            <legend class="o-legend u-visually-hidden">Gated content form</legend>
            <div class="o-form__field o-form__field--compact is-required">
				@Html.LabelFor(x => x.Email, new { @class = "o-label" })
                @Html.TextBoxFor(x => x.Email, new { required = "required", @class = "o-input", @placeholder = "Email address" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="o-form__field o-form__field--submit">
                <button type="submit" class="c-button c-button--primary">Send</button>
            </div>
        </fieldset>
    }
}
