@using TGDH.Core.Data;
@using Diplo.Helpers;
@using TGDH.Core.Models;
@inherits UmbracoViewPage<IPublishedContent>
@{
	var qString = Request.QueryString.ToString();
	var tripPage = Umbraco.Content(1188);

	if (tripPage == null) {
		return;
	}

	var baseUrl = tripPage.Url;

	var subjectLinks = Filters.GetSubjectLinksWithQueryString(Umbraco, baseUrl, qString);

	QueryStringHelper qAll = new QueryStringHelper(qString);
	qAll.RemoveByName("page");

	var actionUrl = baseUrl + "?" + qAll.ToString();

	var subject = qAll.GetValueByName("subject");
	var country = qAll.GetValueByName("country");
	var city = qAll.GetValueByName("city");

	var hasSubject = !String.IsNullOrWhiteSpace(subject);
	var hasCountry = !String.IsNullOrWhiteSpace(country);
	var hasCity = !String.IsNullOrWhiteSpace(city);
}

<form class="c-search-trips o-wrap o-wrap--large js-trips-form" role="search" method="get" action="@actionUrl">
    <div class="c-search-trips__label u-font-sec u-gamma u-center-text" for="q">Search for your study trip</div>
    <div class="c-search-trips__inner u-clearfix">

		<div class="c-search-trips__input">
			@if (subjectLinks != null) {
				@*
				@Html.Partial("~/Views/Partials/Components/LinkListSelect.cshtml", new LinkListViewModel(subjectLinks))
				*@
				@RenderSelect(subjectLinks)
			}
		</div>

		<div class="c-search-trips__input">
			@Html.Partial("~/Views/Partials/Components/LocationLinks.cshtml")
		</div>


        <button type="submit" class="c-button c-button--primary c-button--icon c-search-trips__search">
			<span>Search</span>
            <svg class="u-icon u-icon--24 u-icon--white">
                <use xlink:href="/assets/icons/icons.svg#STF_glasses_icon"></use>
            </svg>
        </button>
    </div>
</form>

@helper RenderSelect(List<Link> Links) {
	<select id="subjectSelect" class="js-select">
		@foreach( var item in Links ) {
			var isSelected = item.IsActive ? "selected" : "";
			<option value="@item.Url" @isSelected>@item.Name</option>
		}
	</select>
}

@*
<select id="@Model.Id" onchange="location = this.options[this.selectedIndex].value;" class="js-select">
    @foreach( var item in Model.Links ) {
        var isSelected = item.IsActive ? "selected" : "";
		<option value="@item.Url" @isSelected>@item.Name</option>
    }
</select>
@**@
