/* ===========================================================

	# Mixins

=========================================================== */

@mixin heading-font-size( $font-size ) {
	font-size: $font-size;
	padding-bottom: $font-size / 2;
}

@mixin old-ie() {
	@if $old-ie {
		@content;
	}
}

@mixin respond-min( $width ) {
	@media only screen and ( min-width: $width ) {
		@content;
	}
}

@mixin respond-max( $width ) {
	@media only screen and ( max-width: $width - 1px) {
		@content;
	}
}

@mixin respond-min-max( $min, $max ) {
	@media only screen and ( min-width: $min ) and ( max-width: $max - 1px ) {
		@content;
	}
}

@mixin hi-res() {
	@media ( -webkit-min-device-pixel-ratio: 1.5 ), ( min-resolution: 144dppx ) {
		@content;
	}
}

@mixin clearfix() {
	&:before,
	&:after {
	    content:"";
	    display:table;
	}

	&:after {
	    clear:both;
	}
}

@mixin pad-top($width, $height) {
	padding-top: ($height / $width) * 100%;
}

@mixin hide-text {
    border: 0;
    clip: rect( 0 0 0 0 );
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin arrow-right($color: $dark-1) {
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 3.5px 0 3.5px 5px;
	border-color: transparent transparent transparent $color;
}

@mixin arrow-left($color: $dark-1) {
	width: 0;
	height: 0;
	display: block;
	border-style: solid;
	border-width: 3.5px 5px 3.5px 0;
	border-color: transparent $color transparent transparent;
}

@mixin arrow-up($color: $dark-1) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 3.5px 5px 3.5px;
	border-color: transparent transparent $color transparent;
}

@mixin arrow-down($color: $dark-1) {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 3.5px 0 3.5px;
border-color: $color transparent transparent transparent;
}
