﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#faa61a">
<link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#faa61a">
<meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="manifest" href="/manifest.json" />
