@inherits UmbracoViewPage<IPublishedContent>
<script type="text/javascript">
	if( localStorage.fontsLoaded ) {
		document.documentElement.className += " fonts-loaded";
	} else {
		var lato = new FontFaceObserver("lato");
		var merriweather = new FontFaceObserver("merriweather");

		Promise.all([
			lato.load(),
			merriweather.load()
		]).then(() => {
			document.documentElement.className += " fonts-loaded";
			localStorage.setItem('fonts-loaded', 'true');
		});
	}
</script>


