/* ===========================================================

	# Accordion
=========================================================== */

.no-enhance {

		.c-accordion__header {
			font-size: 1.8rem;
			line-height: 1.4;
		}

		.c-accordion__panel {

			& + .c-accordion__header {
				margin-top: $line-height * 2;
			}

		}

	}

	.enhance {

		.c-accordion__panel {
			transition: height $speed $ease,
						visibility $speed $ease;

			&[aria-hidden="true"] {
				visibility: hidden;
				height: 0;
			}

			&[aria-hidden="false"] {
				visibility: visible;
			}
		}

		.c-accordion--is-ready {

			.c-accordion__panel {
				overflow: hidden;

			}

			.c-accordion__header {
				cursor: pointer;
			}

		}


		// style

		.c-accordion__header {
			font-size: 1.5rem;
			background-color: $border-colour;
			border-top: 1px solid $white;
			border-bottom: 1px solid $white;
			margin-top: -1px;
			padding: 2rem 6rem 2.1rem 2rem;
			display: block;
			position: relative;
			transition: background-color $speed $ease;

			&:first-of-type {
				border-top: 0;
			}

			&:before,
			&:after {
				content: "";
				display: block;
				background-color: $grey-1;
				position: absolute;
				top: 50%;
				opacity: 0;
				border-radius: 3px;
				transition: opacity $speed $ease,
							background $speed $ease;
			}

			&:before {
				width: 1.8rem;
				height: .4rem;
				right: 2rem;
				margin-top: -.2rem;
			}

			&:after {
				width: .4rem;
				height: 1.8rem;
				right: 2.7rem;
				margin-top: -.9rem;

			}

			&:hover {
				background-color: $light-2;

				&:before,
				&:after {
					background-color: $grey-2;
				}

			}


			&:focus {

				&:before,
				&:after {
					background-color: $pri
				}

			}

			&[aria-selected="false"],
			&[aria-selected="true"] {

				&:before,
				&:after {
					opacity: 1;
				}

			}

			&[aria-selected="true"] {

				&:after {
					opacity: 0;
				}

			}

		}

		.c-accordion__panel-inner {
			padding: 2rem 0;
		}


	}
