/* ===========================================================

	# Alert

=========================================================== */

.c-alert {
	padding: 1rem 2rem;
	border-radius: $border-radius;
	transition: opacity $speed $ease,
				color $speed $ease,
				background $speed $ease,
				visibility $speed $ease;

	&.is-hidden {
		visibility: hidden;
		opacity: 0;
	}

	&.is-visible {
		visibility: visible;
		opacity: 1;
	}
}

.c-alert--success {
	color: darken($success, 15);
	background-color: $green-3;
}

.c-alert--error {
	color: $error;
	background-color: $l-red-3;
}

.c-alert--info {
	color: darken($yellow-1, 15);
	background-color: $yellow-3;
}

