/* ===========================================================

	# Article summary

=========================================================== */

.c-article-summary {
	position: relative;

	& + & {
		margin-top: $line-height;
	}

}

.c-article-summary__headline {
	transition: color $speed $ease;
}

.c-article-summary__link {
	color: $text-colour;
	display: block;
	padding: 2rem 0;

	&:hover,
	&:focus {
		color: inherit;

		.c-article-summary__headline {
			color: $pri;
		}
	}
}

.c-article-summary__subtitle {
	letter-spacing: 2px;
	font-size: 1.4rem;
	margin-bottom: .7rem;
}

.c-article-summary__label {
	font-size: 1.2rem;
	color: $white;
	background-color: $sec;
	border-radius: 2rem;
	padding: .6rem 1rem;
	display: inline-block;
	transform: translateX(-1.4rem);
	box-shadow: $box-shadow-1;
}

.c-article-summary__cta {
	color: $pri;
	font-weight: 900;
}

@include respond-max( $mq-small ) {

	.c-article-summary__image-wrap {
		margin-bottom: $line-height / 2;
	}

}

@include respond-min( $mq-small ) {

	.c-article-summary--has-image {

		.c-article-summary__image-wrap,
		.c-article-summary__content {
			@include column(1/2);
		}

	}

}


.flexbox {

	.c-article-summary {
		display: flex;
	}

	.c-article-summary__link {
		width: 100%;
	}

	.c-article-summary__content {
		display: flex;
		flex-direction: column;
	}

	.c-article-summary__subtitle {
		order: -1;
	}

	.c-article-summary__label {
		order: -2;
		align-self: flex-start;
	}

	.c-article-summary--has-image {

		.c-article-summary__label {
			position: absolute;
			top: 0;
			left: 0;
		}

	}

	.c-article-summary--no-image {

		.c-article-summary__label {
			margin-bottom: 1.4rem;
		}

	}

}

.no-flexbox {

	.c-article-summary__subtitle {
		display: inline-block;
		margin-right: 2rem;
	}

	.c-article-summary__label {
		margin-bottom: .4rem;
	}

}
