/* ===========================================================

	# Breadcrumb

=========================================================== */

.c-breadcrumb__label {
	@include hide-text;
}

.c-breadcrumb__items {
	margin: inherit;
	list-style: none;
	@include clearfix();
	font-size: 1.4rem;
}

.c-breadcrumb__item {
	float: left;
}

.c-breadcrumb__item {
	margin: 0;

	&:before {
		content: "\003E";
	}

	&:first-of-type {

		&:before {
			content: none;
		}

	}
}

.c-breadcrumb__link {
	color: $navy-1;
	padding: 1rem;
	display: inline-block;

	&.is-active {
		cursor: default;
		font-weight: 900;

		&:hover {
			color: $navy-1;
		}
	}
}

