/* ===========================================================

	# Buttons

=========================================================== */

.c-button {
	min-width: 19rem;
	border-radius: 3rem;
	display: block;
	line-height: 1;
	text-align: center;
	padding: 2rem 3rem;
	font-weight: $bold;
	box-shadow: $box-shadow-1;
	cursor: pointer;
	border: .2rem solid transparent;
	transition: background $speed $ease,
				box-shadow $speed $ease,
				color $speed $ease,
				border $speed $ease;

	&:hover,
	&:focus {
		color: $white;
	}

	&.is-disabled {
		background: $border-colour;
		color: $white;
		cursor: not-allowed;

		&:hover,
		&:focus {
			background: $border-colour;
		}
	}

	.u-icon {
		vertical-align: middle;
		margin-right: 1rem;
	}
}

.c-button--icon {
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
}

.c-button--primary {
	background: $pri;
	color: $white;

	&:hover {
		background: $yellow-2;
	}

	&:focus {
		border-color: $yellow-3;
	}
}

.c-button--secondary {
	background: $sec;
	color: $white;

	&:hover {
		background: $navy-3;
	}

	&:focus {
		border-color: $navy-4;
	}
}

.c-button--outline-invert {
	color: $white;
	border: .1rem solid $white;

	&:hover,
	&:focus {
		color: $sec;
		background-color: $white;
	}
}

.c-button--skiplink {
	color: $white;
	background-color: $pri;
	position: fixed;
	left: 100%; // Moves button off screen
	top: 1rem;
	z-index: 21;

	&:focus {
		left: 1rem; // Moves button back on screen
	}
}

.c-button.c-button--center {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.c-button--small {
	min-width: auto;
	padding: 1.5rem 2rem;
}

@include respond-max( $mq-small ) {

	.c-button + .c-button {
		margin-top: $line-height;
	}

}

@include respond-min( $mq-small ) {

	.c-button {
		display: inline-block;
	}

	.flexbox {

		.c-button-group--inline {
			display: flex;

			.c-button {
				flex-grow: 1;
				margin-left: 1rem;
				margin-right: 1rem;
			}
		}

	}

}
