/* ===========================================================

	# Card

=========================================================== */

.c-card__image-wrap {
	margin-bottom: $line-height;
}


//
/* ===========================================================

	# Article summary

=========================================================== */

.c-card {
	position: relative;
}

.c-card__headline {
	transition: color $speed $ease;
}

.c-card__link {
	color: $text-colour;
	display: block;
	padding: 2rem 0;

	&:hover,
	&:focus {
		color: inherit;

		.c-card__headline {
			color: $pri;
		}

	}
}

.c-card__subtitle {
	letter-spacing: 2px;
	font-size: 1.4rem;
	margin-bottom: .7rem;
}

.c-card__label {
	font-size: 1.2rem;
	color: $white;
	background-color: $sec;
	border-radius: 2rem;
	padding: .6rem 1rem;
	display: inline-block;
	transform: translateX(-1.4rem);
	box-shadow: $box-shadow-1;
	position: absolute;
	top: 0;
	left: 0;
}


.c-card__cta {
	color: $pri;
	font-weight: 900;
}

.flexbox {

	.c-card {
		display: flex;
	}

	.c-card__link {
		width: 100%;
	}

	.c-card__content {
		display: flex;
		flex-direction: column;
	}

	.c-card__subtitle {
		order: -1;
	}

}

.no-flexbox {

	.c-card__subtitle {
		display: inline-block;
		margin-right: 2.4rem;
	}

}
