/* ===========================================================

	# Carousel

=========================================================== */

.no-enhance {

	.c-carousel__inner {
		@include clearfix();
		margin-bottom: -$line-height;
	}

	.c-carousel__item {
		display: block;
		@include column(1/2, $cycle: 2);
		margin-bottom: $line-height;
	}

}

.enhance {

	.js-carousel {

		.c-carousel__item {
			display: none;

			&:first-child {
				display: block;
			}
		}

		&.slick-initialized {

			.c-carousel__item {
				display: block;
			}

		}

	}

	.c-carousel {
		position: relative;
	}

	.c-carousel--prev,
	.c-carousel--next {
		position: absolute;
		top: 50%;
		z-index: 2;
		line-height: 1;
		transform: translateY( -50% );
		background-color: $white;
		padding: 1.9rem 2rem;
		border-radius: 50%;
		box-shadow: 0 0 60px rgba(#444,0.3);
		transition: background-color $speed $ease,
					transform $speed $ease;

		&:before {
			color: $pri;
			transition: color $speed $ease;
		}

		.ico-arrow-left,
		.ico-arrow-right {
			transition: border-color $speed $ease;
		}

		.ico-arrow-left {
			@include arrow-left();
		}

		.ico-arrow-right {
			@include arrow-right();
		}

		&:hover,
		&:focus {
			background-color: $dark-1;;

			.ico-arrow-left {
				border-right-color: $white;
			}

			.ico-arrow-right {
				border-left-color: $white;
			}
		}

		&.slick-disabled {
			opacity: 0.2;
			cursor: default;

			&:hover {
				transform: translate(0, -50%);
				background-color: inherit;

				.ico-arrow-left {
					border-right-color: inherit;
				}

				.ico-arrow-right {
					border-left-color: inherit;
				}
			}
		}
	}

	.c-carousel--prev {
		left: -2.2rem;

		&:hover {
			transform: translate(-5px, -50%);
		}
	}

	.c-carousel--next {
		right: -2.2rem;

		&:hover {
			transform: translate(5px, -50%);
		}
	}

	/* dots */

	.c-carousel__dots {
		position: relative;
		list-style: none;
		display: block;
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;

		li {
			position: relative;
			display: inline-block;
			width: 2.1rem;
			height: 2.1rem;
			margin: 0 .5rem;
			padding: 0;
			cursor: pointer;

			&:before {
				display: none !important;
			}

			&:hover,
			&:focus,
			&.slick-active {

				button:before {
					background-color: $pri;
				}

			}

		}

		button {
			border: .2rem solid $pri;
			background: transparent;
			display: block;
			height: 2.1rem;
			width: 2.1rem;
			outline: none;
			line-height: 0;
			font-size: 0;
			color: transparent;
			padding: .5rem;
			cursor: pointer;
			border-radius: 50%;

			&:hover,
			&:focus {
				outline: none;
			}
		}

		.slick-active {
			button {
				background-color: $pri;
			}
		}

	}

}

// cards

.c-carousel--cards {

	.slick-list {
		overflow: visible;
	}

	.slick-slide {
		margin: 0 2rem;
		opacity: 0.1;
		transition: opacity 0.6s $ease;

		&.slick-active {
			opacity: 1;
		}
	}

}

@include respond-min( $mq-medium ) {

	.no-enhance {

		.c-carousel--cards {
			@include clearfix();

			.c-card {
				@include column(1/3, $cycle: 3);
			}

		}

	}

}


@include respond-min( $mq-xx-large + 60px ) {

	.c-carouse--large,
	.c-carousel--cards {

		.c-carousel--prev,
		.c-carousel--next {
			padding: 2.6rem 2.7rem;
			box-shadow: 0 0 60px rgba(68, 68, 68, 0.5);
		}

		.c-carousel--prev {
			left: -6rem;
		}

		.c-carousel--next {
			right: -6rem;
		}

	}

}
