/* ===========================================================

	# Contact details

=========================================================== */

.c-contact-details__list {
	list-style: none;
	word-wrap: break-word;

	li {
		margin-left: 0;
	}

}
