/* ===========================================================

	# Cover

=========================================================== */

.c-cover {
	color: $white;
	position: relative;
	overflow: hidden;
	background-color: $dark-1;

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		opacity: 0.67;
		background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 56%);
	}
}

.c-cover__inner {
	z-index: 2;
	position: absolute;
	top: 30%;
	right: 0;
	left: 0;
}

.c-cover__headline {
	color: $white;
}

.c-cover__subtitle {
	letter-spacing: 2px;
	font-size: 1.8rem;
	margin-bottom: 1.8rem;
}

.csstransforms {

	.c-cover__inner {
		top: 50%;
		transform: translateY(-50%);
	}

}

.c-cover__image-wrap {

	&::before {
		content: "";
		width: 100%;
		height: 28%;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		background-image: linear-gradient(0deg,rgba(0,0,0,.3) 0%,rgba(0,0,0,.0) 100%);
	}

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.15);
	}
}

.c-cover__image {
	width: 100%;
}

.c-cover__wrap,
.c-cover__image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.c-cover__video-wrap {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
}

/* ===========================================================
	# Cover breakpoints
=========================================================== */

.c-cover {

	&:before {
		content: '';
		display: block;
		height: 0;
		width: 100%;
		@include pad-top( 160, 90 );
	}

}

@include respond-max( $mq-small ) {

	.c-cover::before {

		@include pad-top( 30, 40 );
	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.c-cover::before {
		padding-top: 100%;
	}

}

@include respond-min( $mq-large ) {

	.c-cover__content {
		max-width: $mq-xx-large / 1.5;
	}

	.c-cover__copy {
		max-width: 52rem;
	}

}

.flexbox {

	.c-cover__content {
		display: flex;
		flex-direction: column;
	}

	.c-cover__subtitle {
		order: -1;
	}

}
