/* ===========================================================

	# Date input

=========================================================== */


.c-date__input {
	position: relative;

	input {
		padding-right: 4.4rem;
		background-color: transparent;
	}
}

.c-date__icon {
	position: absolute;
	z-index: -1;
	bottom: 1.2rem;
	right: 1rem;
}
