/* ===========================================================

	# Footer

=========================================================== */

.c-footer {
	color: $white;
	background-color: $navy-1;

	h2,
	h3 {
		color: inherit;
	}

	svg {
		fill: $white;
	}

	.c-footer__logo {
		max-width: 8.5rem;
		opacity: 0.4;
	}

}

.c-footer__sub {
	font-size: 1.4rem;
	background-color: $navy-2;
	padding: 1.5rem 0;
}

.c-footer__social {
	margin-top: 1.8rem;
}

.c-footer__scroll-top {
	display: none
}

.c-footer__micro {
	font-size: 1.2rem;

	a {
		font-weight: 900;
	}
}

.c-footer__tgdh {
	display: inline-block;

	a {
		font-weight: 900;
	}
}

@include respond-min( $mq-large ) {

	.c-footer__inner {
		position: relative;
	}

	.c-footer__scroll-top {
		display: inline-block;
		background-color: $pri;
		border-radius: 50%;
		padding: 2.7rem 2.6rem;
		box-shadow: $box-shadow-1;
		position: absolute;
		right: 2rem;
		top: 0;
		z-index: 3;
		transform: translateY(-50%);
		border: .1rem solid transparent;
		transition: background-color $speed $ease,
					border-color $speed $ease;

		&:hover {
			background: $yellow-2;
		}

		&:focus {
			border-color: $yellow-3;
		}
	}

	.c-footer__scroll-top__icon {
		display: block;
		@include arrow-up($white);
	}

	.c-footer__col {
		@include column( 1/2 );
	}

	.c-footer__nav,
	.c-footer__copyright {
		display: inline-block;
	}

	.c-footer__copyright {
		margin-right: 2rem;
	}

	.flexbox {

		.c-footer__sub .o-wrap {
			display: flex;
			align-items: center;
		}

		.c-footer__tgdh {
			margin-left: auto;
		}

	}

}

@include respond-min( $mq-xxx-large ) {

	.c-footer__scroll-top {
		right: 0;
	}
}
