/* ===========================================================

	# Form field repeater

=========================================================== */

.c-form-repeater__item {
	@include clearfix();
	position: relative;

	& + & {
		margin-top: $line-height;
	}
}

.c-form-repeater__field {
	padding-right: 4rem;
}

.c-form-repeater__remove {
	position: absolute;
	right: 0;
	bottom: 0;
	line-height: 1;
	cursor: pointer;
	padding: 1.2rem 0 1.2rem 1.6rem;

	svg {
		fill: $navy-4;
		transition: fill $speed $ease;
	}

	&:hover {

		svg {
			fill: $sec;
		}

	}
}
