/* ===========================================================

	# Header

=========================================================== */

.enhance {

	.c-header {
		width: 100%;
		top: 0;
		left: 0;
	}

}

.c-header {
	color: $white;
	background-color: $navy-1;
	position: relative;
	z-index: 20;
	transition: background $speed $ease,
				border-color $speed $ease;

	svg {
		fill: $white;
	}

	&.is-fixed {
		position: fixed;
	}
}

.c-header__logo-link {
	display: block;
	float: left;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.c-header__logo-image {
	width: 12rem;
	height: 3.6rem;
}

.c-header__toggle-menu-button {
	display: none;
}

@include respond-max( $mq-large ) {

	.enhance {

		.c-header__toggle-menu-button {
			color: $pri;
			font-size: 2.4rem;
			display: block;
			float: right;
			padding: .9rem 1.3rem .8rem;
			transition: color $speed $ease,
						background $speed ease;

			i {
				vertical-align: middle;
			}

			&:hover,
			&:focus {
				color: $sec;
			}
		}

		.c-header__logo-link {
			position: relative;
		}

		&.nav-main-open {

			.c-header__toggle-menu-button {
				color: $white;

				&:hover,
				&:focus {
					color: $pri;
				}
			}

		}

	}

}

@include respond-max( $mq-large ) {

		.enhance {

			.c-header__nav-wrap {
				position: absolute;
				top: 6rem;
				right: 0;
				left: 0;
				visibility: hidden;
				opacity: 0;
				background-color: $sec;
				transform: translateY(-1rem);
				transition: opacity $speed $ease,
							visibility $speed $ease,
							transform $speed $ease;
			}

			.c-header__cta {
				display: block;
				margin: 2rem 1.5rem;
			}

			&.nav-main-open {

				.c-header__nav-wrap {
					opacity: 1;
					visibility: visible;
					transform: translateY(0rem);

					.c-nav__link {
						color: $white;

						&.is-active {
							color: $pri;
						}
					}

				}

			}

		}

	}

@include respond-min( $mq-large ) {

	.c-header {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	.c-header__logo-image {
		width: 23rem;
		height: 6.8rem;
	}

	.c-header__group {
		float: right;
	}

	.c-header__cta-group {
		text-align: right;
		margin-right: 1rem;
	}

	.c-header__social {
		display: inline-block;
		vertical-align: middle;
		margin-right: 3rem;
	}

	.c-header__cta {
		font-size: 1.4rem;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.s-has-cover {

		.c-header {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: transparent linear-gradient(180deg,rgba(0,0,0,.4),transparent);
		}

	}

}


