/* ===========================================================

	# Header - compact

=========================================================== */

.enhance {

	.is-fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
	}

	.c-header {
		transition: padding $speed $ease;
		will-change: padding;
	}

	.c-header__cta-group {
		overflow: hidden;
		transition: opacity $speed $ease,
					max-height $speed $ease;
		will-change: opacity, max-height;
	}

}

@include respond-min( $mq-medium )  {

	.enhance {

		.c-header__logo-image {
			will-change: width, height, opacity;
			transition: opacity $speed $ease;
		}

		.c-header--compact {
			position: fixed;
			left: 0;
			right: 0;
			padding-top: 0;
			padding-bottom: 0;

			.c-header__logo-image {
				transform: scale(0.5);
				transform-origin: top left;
			}
		}

	}

}
