/* ===========================================================

	# Heading

=========================================================== */

.c-heading {
	text-align: center;
	margin-bottom: 4rem;
}

.c-heading__headline,
.c-heading__subtitle {
	color: $navy-1;
}

.c-heading__subtitle {
	font-size: 1.4rem;
}
