/* ===========================================================

	# Icon list

=========================================================== */

.c-icon-list {
	list-style: none;
}

.c-icon-list__item {
	margin: 0 0 4rem;
	@include clearfix();
}

.c-icon-list__icon {
	width: 3.2rem;
	height: 3.2rem;
	fill: $navy-1;
	vertical-align: top;
	margin-right: 2rem;
	display: block;
	float: left;
}

.c-icon-list__text {
	width: calc(100% - 5.2rem);
	float: right;
}


@include respond-min( $mq-medium ) {

	.c-icon-list__icon {
		margin-right: 4rem;
	}

	.c-icon-list__text {
		width: calc(100% - 7.2rem);
	}

	.icon-list--grid-two {

		.c-icon-list__item {
			@include column(1/2, $cycle: 2);
		}

	}

}
