/* ===========================================================

	# Image grid

=========================================================== */

.c-image-grid {
	position: relative;
}

.c-image-grid__image-wrap {
	border: 0.5rem solid $white;
	box-shadow: $box-shadow-2;
}

.c-image-grid__image-pos-1,
.c-image-grid__image-pos-2,
.c-image-grid__image-pos-3 {
	width: 47%;
	float: left;
}

.c-image-grid__image-pos-1,
.c-image-grid__image-pos-2 {
	transform: translateY(30%);
}

.c-image-grid__image-pos-2 {
	position: absolute;
	right: 41%;
	top: -51%;
	z-index: 1;
}

.c-image-grid__image-pos-3 {
	float: right;
}
