/* ===========================================================

	# Key/Val

=========================================================== */

.c-key-val__key {
	color: $sec;
	font-weight: 900;
	position: relative;
	padding-left: 3.4rem;
}

.c-key-val__icon {
	width: 2.4rem;
	height: 2.4rem;
	position: absolute;
	left: 0;
}

.c-key-val__key,
.c-key-val__val {
	word-wrap: break-word;
	margin-bottom: 2rem;
}

@include respond-max($mq-medium) {

	.c-key-val__key {
		@include column(1/3, $cycle: 2);
	}

	.c-key-val__val {
		@include column(2/3, $cycle: 2);
	}

}

@include respond-min($mq-medium) {

		.c-key-val__key {
			@include column(2/10, $cycle: 4, $gutter: 1.5);
		}

		.c-key-val__val {
			@include column(3/10, $cycle: 4, $gutter: 3);
		}

	}
