/* ===========================================================
	# Label with logo
=========================================================== */

.c-label-logo__link {
	color: $grey-1;
	display: block;
	font-size: 1.2rem;

	&:hover {
		color: $grey-1;

		.c-label-logo__image {
			opacity: 0.7;
		}
	}
}

.c-label-logo__label {
	display: inline-block;
	margin-right: 1rem;
}

.c-label-logo__image {
	display: inline-block;
	max-width: 16rem;
	max-height: 6rem;
	opacity: 0.4;
	transition: opacity $speed $ease;
}


.flexbox {

	.c-label-logo__wrap {
		display: flex;
		align-items: center;
	}

}
