/* ===========================================================

	# Link list

=========================================================== */

.c-link-list {
	list-style: none;
}

.c-link-list__item {
	margin: 0;

	&.is-active {

		.c-link-list__link {
			color: $pri;
		}

	}
}

.c-link-list__link {
	display: block;
	font-weight: 900;
	color: $heading-colour;
	padding: 2.5rem 0;
	border-bottom: $border-width solid $light-2;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}

}
