
/* ===========================================================
	# Logos
=========================================================== */

.c-logo {
	float: left;
	padding: $line-height / 2 0;
}

.c-logo__link {
	display: block;
}

.c-logo__image {
	display: block;
    margin: auto;
    max-width: 65%;
}

.flexwrap {

	.c-logos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

}
