/* ===========================================================

	# Multi image listing

=========================================================== */

.c-multi-image-listing {
	padding: 0 1rem;
}

.c-multi-image-listing__image {
	border: 0.5rem solid $white;
	box-shadow: $box-shadow-2;
}

.c-multi-image-listing__image {
	width: 55%;
	float: left;

	&:nth-child(2) {
		margin-left: -10%;
		margin-top: $line-height;
	}
}

.c-multi-image-listing__link {
	display: block;
	color: $text-colour;

	&:hover,
	&:focus {
		color: inherit;
	}
}

.c-multi-image-listing__cta {
	color: $pri;
}

@include respond-max( $mq-medium ) {

	.c-multi-image-listing--has-images {

		.c-multi-image-listing__images {
			margin-bottom: $line-height;
		}

	}

}


@include respond-min( $mq-medium ) {

	.c-multi-image-listing--has-images {

		.c-multi-image-listing__images {
			@include column(4/10);
		}

		.c-multi-image-listing__content {
			@include column(6/10);
		}
	}

}
