/* ===========================================================

	# Nav - Sub

=========================================================== */

.c-nav--sub {

	.c-nav__item {
		margin: 0;
		list-style: none;

		&.is-active {

			& > .c-nav__link {
				color: $pri;
			}

		}
	}

	.c-nav__link {
		display: block;
		color: $heading-colour;
		padding: .5rem 0;
		font-family: $ff-sec-fallback;
		transition: color $speed $ease;

		.fonts-loaded & {
			font-family: $ff-sec-webfont;
		}

		&.is-active {
			color: $pri;
		}

		&:hover,
		&:focus {
			color: $link-colour-hover;
		}

	}

	.c-nav__item--parent {
		border-bottom: $border-width solid $light-2;

		& > .c-nav__link {
			font-weight: 900;
			padding: 2.5rem 0;
		}

		&:last-child {
			border-bottom: 0;
		}

	}

	.c-nav__list--sub {
		margin: 0;
		padding-left: 2rem;

		& > .c-nav__link {
			font-size: 1.5rem;
		}
	}

	.c-nav__item--child--4  {

		&:last-child {
			margin-bottom: 2rem;
		}

	}

	.c-nav__item--child--5 {

		.c-nav__link {
			font-size: 1.4rem;
		}

	}

}
