/* ===========================================================

	# Footer nav

=========================================================== */

.c-nav--footer {

	.c-nav__list {
		list-style: none;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		padding: 1rem 0;
		display: block;
		font-weight: 900;
		transition: color $speed $ease,
					background $speed $ease;
	}
}

@include respond-min( $mq-small ) {

	.c-nav--footer {

		.c-nav__item {
			display: inline;

			+ .c-nav__item:before {
				content: "";
				width: .1rem;
				height: 1.4rem;
				background-color: $white;
				position: relative;
				display: inline-block;
				vertical-align: middle;
			}
		}

		.c-nav__link {
			display: inline-block;
			padding: 1rem;
		}
	}

}
