/* ===========================================================

	# Nav

=========================================================== */

.c-nav--main {

	.c-nav__list {
		list-style: none;
	}

	.c-nav__item {
		margin: 0;
	}

	.c-nav__link {
		color: $white;
		padding: 1rem;
		display: block;
		font-weight: 900;
		transition: color $speed $ease,
					background $speed $ease;

		&:hover,
		&:focus {
			color: $link-colour-hover;
		}

		&.is-active {
			color: $pri;
		}
	}

	.c-nav__item--parent .c-nav__list-sub {
		display: none;
	}

}

@include respond-max( $mq-small ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 1.5rem;
			}

		}

	}

}

@include respond-min-max( $mq-small, $mq-medium ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 2rem;
			}

		}

	}

}

@include respond-min-max( $mq-medium, $mq-large ) {

	.enhance {

		.c-nav--main {

			.c-nav__link {
				padding: 1rem 4rem;
			}

		}

	}

}

@include respond-max( $mq-large ) {

	.c-nav--main {

		.c-nav__link {

			&.is-active {
				background-color: $sec;
			}

		}

	}

}

@include respond-min( $mq-large ) {

	.c-nav--main {
		position: relative;
		z-index: 10;

		.c-nav__item {
			display: inline;
			position: relative;
		}

		.c-nav__link {
			display: inline-block;
			padding: 1.5rem;
			transition: color $speed $ease,
						background $speed $ease;

			&.is-active {
				color: $pri;
			}
		}

		.c-nav__list--parent {
			position: relative;

			.c-nav__link {

				&:after {
					content: "";
					display: block;
					width: 4rem;
					height: .3rem;
					margin: .4rem auto 0;
					background-color: $yellow-1;
					opacity: 0;
					transition: opacity $speed $ease;
				}

				&.is-active {
					color: $pri;

					&:after {
						opacity: 1;
					}
				}

			}
		}

		.c-nav__list--sub {
			min-width: 20rem;
			color: $white;
			background-color: $pri;
			position: absolute;
			left: 0;
			opacity: 0;
			visibility: hidden;
			margin-top: 0;
			transform: translateY(-.3rem);
			transition: opacity $speed $ease,
						visibility $speed $ease,
						transform $speed $ease;

			.c-nav__item,
			.c-nav__link {
				display: block;
			}

			.c-nav__link {
				margin: 0;
				padding-top: 1rem;


				&:hover,
				&:focus {
					color: $white;
					background-color: darken( $pri, 15 );
				}

				&.is-active {
					color: $white;
					background-color: $sec;

					&:hover,
					&:focus {
						background-color: $sec;
					}
				}

			}

		}

		.c-nav__item--parent:hover {

			.c-nav__list--sub {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}

		}

	}

}
