/* ===========================================================

	# Newsletter

=========================================================== */

.o-section + .c-newsletter
{
	margin-top: -$padding-small;
}

.c-newsletter
{

	&::before
	{
		content: "";
		width: 100%;
		display: block;
		@include pad-top(640, 94);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
	}
}

.c-newsletter--light
{

	&::before
	{
		background-color: $light-2;
	}
}

.c-newsletter__wrap
{
	overflow: hidden;
}

.c-newsletter__headline
{
	color: $sec;
	font-weight: 500;

	strong
	{
		font-weight: 900;
		-webkit-font-smoothing: auto;
	}
}

.c-newsletter__image-wrap
{
	display: none;
}

@include respond-min($mq-medium)
{

	.o-section + .c-newsletter
	{
		margin-top: -$padding-large;
	}

	.c-newsletter
	{
		position: relative;

		&::before
		{
			margin-bottom: -8%;
		}
	}

	.c-newsletter__image-wrap,
	.c-newsletter__content
	{
		min-height: 1px;
		@include span(1/2);
		z-index: 1;
	}

	.c-newsletter__image-wrap
	{
		display: block;
		position: relative;
	}

	.c-newsletter__image
	{
		width: 100%;
		max-width: 58rem;
		padding-right: 2rem;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}



	.c-newsletter__copy
	{
		max-width: 40rem;
	}
}

@include respond-max($mq-xxx-large)
{

	.c-newsletter::before
	{
		background-image: url('/assets/img/clouds-small.png'), linear-gradient(to top, $light-3 0%, rgba(0,0,0,0) 100%);
	}
}

@include respond-min( $mq-large )
{

	.c-newsletter__content
	{
		margin-top: 6rem;
	}
}


@include respond-min( $mq-xxx-large )
{

	.c-newsletter::before
	{
		background-image: url('/assets/img/clouds.png'), linear-gradient(to top, $light-3 0%, rgba(0,0,0,0) 100%);
	}
}

//This is to hide the header on the main signup page, not the popup
.s-newsletter h2.c-heading__headline.u-alpha
{
	display: none;
}
.mfp-container h2.c-heading__headline.u-alpha
{
	display: block;
}
#mc_embed_signup
{
	.mc-field-group
	{
		margin-bottom: 1.0rem;

		ul, ol
		{
			list-style: none;
		}

		li
		{
			margin: 0;
			line-height: 2;

			label
			{
				display: inline-block;
			}
		}

		select
		{
			padding: 1em;

			option
			{
				white-space: normal;
				min-height: 2em;
				padding: 1em;
				line-height: 2;
			}
		}

		&.input-group
		{
			strong
			{
				font-weight: normal;
				display: block;
				padding-bottom: 1rem;
			}
		}
	}
}
