/* ===========================================================

	# Pagination

=========================================================== */

.c-pagination {
	margin-top: $line-height;
	text-align: center;
}

.c-pagination__item {
	list-style: none;
	margin: 0;
	display: inline-block;
	vertical-align: middle;

	&.is-active {
		font-weight: $bold;

		.c-pagination__link {
			color: $navy-1;
		}
	}
}

.c-pagination__link {
	padding: 1.5rem;
	color: $light-3;
	display: inline-block;
	font-weight: 900;
	font-size: 1.8rem;
	border-radius: 50%;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}

}

.c-pagination__link--prev {
	margin-right: 2rem;
}

.c-pagination__link--next {
	margin-left: 2rem;
}

.c-pagination__link--prev,
.c-pagination__link--next {
	padding: 2.6rem 2.7rem;
	margin-bottom: -0.7rem;
	box-shadow: 0 0 60px rgba(#444,0.3);
	transition: box-shadow $speed $ease;

	&.is-disabled {
		opacity: 0.2;
	}

	&:hover {
		box-shadow: 0 0 30px rgba(#444,0.3);
	}
}
