/* ===========================================================

	# Profile

=========================================================== */

.c-profile__image-wrap {
	overflow: hidden;
}

.c-profile__image-wrap,
.c-profile__image {
	border-radius: 50%;
}

.c-profile__image-wrap {
	border: 0.5rem solid $white;
	background-color: $white;
}

.c-profile--has-image {

	.c-profile__image-wrap {
		@include column(1/5);
	}

	.c-profile__content {
		@include column(4/5);
	}

}

.c-profile__headline {
	padding-bottom: 0;
	margin-top: .5rem;
}

.c-profile__subtitle {
	font-size: 1.4rem;
	letter-spacing: 1px;
}

.c-profile__details {
	list-style: none;
}

.c-profile__item {
	margin: .5rem 2rem .5rem 0;
	display: inline-block;
}
