/* ===========================================================

	# Quote

=========================================================== */

.c-quote {
	color: $dark-1;
	quotes: "\201C""\201D""\2018""\2019";
}

.c-quote__copy {
	display: block;
	font-size: 2.4rem;
	font-weight: $bold;
	font-style: italic;
	line-height: 1.8;
	position: relative;
}

.c-quote__src {
	font-size: 1.4rem;
	margin-top: $line-height / 2;
	letter-spacing: 2px;
}

.c-quote__copy:after {
	content: "\201D";
	font-size: 2.4rem;

	line-height: 1;
	position: absolute;
	top: .7rem;
	right: -1rem;
	font-weight: 700;
	font-style: normal;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}
}
