/* ===========================================================

	# Range slider

=========================================================== */

.c-range-slider__slider {
	box-shadow: $box-shadow-2;
	border: 1px solid $light-1;
	background-color: $white;

	&.noUi-horizontal {
		height: 20px;
	}

	.noUi-connect {
		background: $navy-4;
		box-shadow: none;
	}

	.noUi-handle {
		width: 40px;
		height: 30px;
		border-radius: 2rem;
		background-color: $pri;
		border: 0;
		box-shadow: none;
		transition: background-color $speed $ease;
		cursor: drag;

		&:hover {
			background-color: $yellow-2;
		}

		&:before,
		&:after {
			width: 2px;
			height: 14px;
			background-color: $white;
			opacity: 0.7;
			top: 8px;
			left: 50%;
			box-shadow: $box-shadow-2;
		}

		&:before {
			margin-left: -3px;
		}

		&:after {
			margin-left: 1px;
		}
	}
}

.c-range-slider__values {
	text-align: center;
	font-size: 1.8rem;
	margin-top: $line-height;
}

.c-range-slider__input-field {
	display: inline-block;

	&:first-child:after {
		content: "–"
	}

}
