/* ===========================================================

	# Review

=========================================================== */

.c-review {
	color: $dark-1;
	quotes: "\201C""\201D""\2018""\2019";

	&.has-image {

		.c-review__image-wrap {
			@include column(1.3/6, $gutter: 3);
		}

		.c-review__content {
			@include column(4.7/6, $gutter: 3);
		}

	}
}

.c-review__copy {
	display: block;
	font-size: 2.4rem;
	font-weight: $bold;
	font-style: italic;
	line-height: 1.5;
	position: relative;
	padding-right: 1rem;
}

.c-review__src {
	font-size: 1.4rem;
	margin-top: $line-height / 2;
	letter-spacing: 2px;
}

.c-review__copy:after {
	content: "\201D";
	font-size: 2.4rem;

	line-height: 1;
	position: absolute;
	top: .7rem;
	right: -1rem;
	font-weight: 700;
	font-style: normal;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}
}

.c-review__image-wrap,
.c-review__image {
	border-radius: 50%;
	overflow: hidden;
}
