/* ===========================================================

	# Review - compact

=========================================================== */

.c-review-compact {
	color: $dark-1;
	quotes: "\201C""\201D""\2018""\2019";
}

.c-review-compact__copy {
	display: block;
	font-size: 1.8rem;
	font-weight: $bold;
	font-style: italic;
	line-height: 1.5;
	position: relative;
	padding-right: 1rem;
}

.c-review-compact__src {
	font-size: 1.4rem;
	letter-spacing: 3px;
}

.c-review-compact__copy:after {
	content: "\201D";
	font-size: 1.4rem;

	line-height: 1;
	position: absolute;
	top: .7rem;
	right: -1rem;
	font-weight: 700;
	font-style: normal;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}
}

.c-review-compact__image-wrap,
.c-review-compact__image {
	border-radius: 50%;
	overflow: hidden;
}

.c-review-compact__author {
	margin-top: $line-height / 2;
}

.c-review-compact__image-wrap {
	@include column(1/4);
}
.c-review-compact__src {
	@include column(3/4);
}


.flexbox {

	.c-review-compact__author {
		display: flex;
		align-items: center;
	}

}
