/* ===========================================================

	# Search trips form

=========================================================== */

.c-search-trips {

	.selectric {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

}

.c-search-trips__label {
	margin-bottom: 1.8rem;
}

@include respond-min( $mq-medium ) {

	.c-search-trips__input {
		@include column(3/8);
	}

	.c-search-trips__search {
		@include column(2/8);
		min-width: auto;
		text-align: center;
	}

	.c-trip-search__cover-wrap {
		position: relative;
	}

}

@include respond-max( $mq-large ) {

	.c-search-trips {
		margin-top: 6rem;
	}

	.c-search-trips__input {
		margin-bottom: $line-height;
	}

	.c-search-trips__search {
		float: right;
	}

}

@include respond-min( $mq-large ) {

	.c-search-trips {
		width: 100%;
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(3rem);
	}

	.c-search-trips__label {
		color: $white;
	}

}
