/* ===========================================================
	# Select
=========================================================== */

.selectric-items li {

	&.c-select__item--level-1 {
		font-size: 1.8rem;
		font-weight: 900;
	}

	&.c-select__item--level-2 {
		padding-left: 4rem;
	}


}
