/* ===========================================================

	# Sitemap

=========================================================== */

.c-sitemap {
	list-style: none;

	> li > ul {
		margin-top: $line-height;
	}
}

.c-sitemap__item {
	line-height: $line-height;
	vertical-align: top;
	position: relative;
	list-style: none;
	margin: 0;
}

.c-sitemap__link {
	text-decoration: none;
	display: inline-block;
	color: $text-colour;

	&:hover,
	&:focus {
		background-color: rgba($yellow-3, 0.3);
	}
}

.c-sitemap__list {
	margin-top: 0;
	margin-bottom: $line-height;
	margin-left: $line-height;

	.c-sitemap__item {
		position: relative;

		&:before {
			content: "";
			display: inline-block;
			width: $line-height;
			height: $line-height;
			position: absolute;
			top: -$line-height / 2;
			border-left: 1px solid $light-2;
			border-bottom: 1px solid $light-2;
		}

		.c-sitemap__link {
			margin-left: $line-height * 1.5;
		}
	}
}

.c-sitemap__item--level-2 {

	& > .c-sitemap__link {
		font-weight: 900;
		color: $sec;
	}

}
