/* ===========================================================

	# Social links

=========================================================== */

.c-social__link {
	color: $white;
	display: inline-block;
	transition: background $speed $ease,
				color $speed $ease;

	.u-icon {
		transition: fill $speed $ease;
	}

	&:hover,
	&:focus {

		.u-icon {
			fill: $link-colour-hover;
		}
	}

}

/*
.c-social__link--facebook {
	background-color: $facebook;

	&:hover,
	&:focus {
		color: $facebook;
	}
}

.c-social__link--twitter {
	background-color: $twitter;

	&:hover,
	&:focus {
		color: $twitter;
	}
}

.c-social__link--google {
	background-color: $google;

	&:hover,
	&:focus {
		color: $google;
	}
}

.c-social__link--instagram {
	background-color: $instagram;

	&:hover,
	&:focus {
		color: $instagram;
	}
}

.c-social__link--linkedin {
	background-color: $linkedin;

	&:hover,
	&:focus {
		color: $linkedin;
	}
}

.c-social__link--pinterest {
	background-color: $pinterest;

	&:hover,
	&:focus {
		color: $pinterest;
	}
}

.c-social__link--youtube {
	background-color: $youtube;

	&:hover,
	&:focus {
		color: $youtube;
	}
}

.c-social__link--vimeo {
	background-color: $vimeo;

	&:hover,
	&:focus {
		color: $vimeo;
	}
}

.c-social__link--flcikr {
	background-color: $flcikr;

	&:hover,
	&:focus {
		color: $flcikr;
	}
}

*/


@include respond-max( $mq-large ) {

	.enhance {

		.c-social {
			display: flex;
		}

		.c-social__link {
			flex-grow: 1;
			text-align: center;
			padding: 2rem;
		}

	}

}

