/* ===========================================================

	# Spaced text

=========================================================== */

.c-spaced-text {
	line-height: 1.4;
}

.c-spaced-text__item {
	margin-right: 1rem;
}

@include respond-min( $mq-medium ) {

	.flexwrap {

		.c-spaced-text {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

	}

}
