/* ===========================================================

	# Stars

=========================================================== */

.no-svg .c-stars {
	display: none;
}

 .c-stars__icon {
	 width: 13px;
	 height: 13px;
	 display: inline-block;
	 fill: $light-3;
 }

 .c-stars__icon--fill {
	fill: $dark-1;
 }
