/* ===========================================================

	# Tile

=========================================================== */

.c-tile {
	position: relative;
}

.c-tile__link {
	color: $white;
	display: block;

	&:before,
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 1;
	}

	&:before {
		top: 0;
		background-color: rgba($dark-1, 0.05);
	}

	&:after {
		bottom: 0;
		opacity: 0.8;
		background-image: linear-gradient(to right top, #000000, rgba(0,0,0, 0) 50%);
	}
}

.c-tile__headline {
	color: inherit;
}

.c-tile__content {
	padding: 1.6rem;
	z-index: 2;
	position: absolute;
	bottom: 4rem;
	font-weight: $bold;
	transition: background $speed $ease;
}

.c-tile__cta-label {
	color: $pri;
	margin-top: $line-height / 2;
}
