/* ===========================================================

	# Timeline

=========================================================== */

.c-timeline {
	list-style: none;
	font-size: 1.8rem;
}

.c-timeline__item {
	margin: 0;
}

.c-timeline__icon-wrap,
.c-timeline__content {
	padding: 2rem 0;
}

.c-timeline__icon-wrap {
	width: 5rem;
	float: left;
}

.c-timeline__icon {
	width: 3.2rem;
	height: 3.2rem;
	fill: $navy-1;
}

.c-timeline__label {
	font-weight: 900;
	color: $grey-1;
}

.c-timeline__content {
	width: 80%;
	width: calc(100% - 5rem);
	float: left;
}


@include respond-min( $mq-large ) {

	.c-timeline__label {
		@include column(1/9);
	}

	.c-timeline__copy {
		@include column(8/9);
	}

	.c-timeline__icon-wrap {
		@include column(1/10);
		text-align: center;
		background-color: $light-1;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 4px;
			height: 100%;
			position: absolute;
			top: 0rem;
			left: calc(50% - 3px);

			background-image: linear-gradient(rgba($navy-2,0.2) 12px, rgba(255,255,255,0) 0%);
			background-position: top right;
			background-size: 3px 24px;
			background-repeat: repeat-y;
		}
	}

	.c-timeline__item {

		&:first-child {

			.c-timeline__icon-wrap::after {
				content: "";
				width: 100%;
				height: 2rem;
				display: block;
				background-color: $light-1;
				position: absolute;
				top: 0;
				left: 0;
			}

		}

		&:last-child {

			.c-timeline__icon-wrap {

				&:before {
					height: 2rem;
				}
			}

		}

	}

	.c-timeline__icon {
		position: relative;
		z-index: 1;
		background-color: $light-1;
	}

	.c-timeline__content {
		@include column(9/10);
	}

	.flexbox {

		.c-timeline__item,
		.c-timeline__icon-content {
			display: flex;
		}

	}

}
