/* ===========================================================

	# Travel alert

=========================================================== */

.c-travel-alert {
	text-align: center;
}

.c-travel-alert__inner {
	position: relative;
}

.c-travel-alert__link {
	background-color: $navy-1;
	display: block;
	color: $white;
	padding-top: 2.3rem;
	padding-bottom: 2.3rem;
}

.c-travel-alert__icon {
	display: inline;
	margin-right: 1.6rem;

	vertical-align: middle;
}

.c-travel-alert__copy > div:first-of-type {
	display: inline;

	p {
		display: inline;
	}
}

.c-travel-alert__copy {
	display: inline;
	vertical-align: middle;
}

.c-travel-alert__cta {
	font-weight: 900;
	color: $yellow-1;
	display: inline;
}
