/* ===========================================================

	# trip summary

=========================================================== */

.c-trip-summary {
	position: relative;

	& + & {
		margin-top: $line-height * 2;
	}

	&.is-recommended {

		.c-trip-summary__link {
			background-color: $light-0;
		}

	}

}

.c-trips-summary__note {
	color: $white;
	font-size: 1.5rem;
	font-weight: $bold;
	text-align: right;
	padding: .5rem 1rem;
	background-color: $dark-1;

	.u-icon {
		fill: $pri;
	}
}

.c-trip-summary__content {
	font-size: 1.4rem;
}

.c-trip-summary__headline {
	transition: color $speed $ease;
}

.c-trip-summary__link {
	color: $text-colour;
	display: block;

	&:hover,
	&:focus {
		color: inherit;

		.c-trip-summary__headline {
			color: $pri;
		}
	}
}

.c-trip-summary__inner {
	padding: 1rem;
}

.c-trip-summary__subject,
.c-trip-summary__country,
.c-trip-summary__subtitle {
	letter-spacing: 2px;
}

.c-trip-summary__country,
.c-trip-summary__subject {
	padding-right: 1.7rem;
}

.c-trip-summary__operator {
	float: right;

	.c-label-logo__image {
		max-height: 4rem;
	}

}

.c-trip-summary__label {
	font-size: 1.2rem;
	color: $white;
	background-color: $sec;
	border-radius: 2rem;
	padding: .6rem 1rem;
	display: inline-block;
	transform: translateX(-1.4rem);
	box-shadow: $box-shadow-1;
}

.c-trip-summary__cta {
	color: $pri;
	font-weight: 900;
}

@include respond-max( $mq-small ) {

	.c-trip-summary__image-wrap {
		margin-bottom: $line-height / 2;
	}

}

@include respond-min( $mq-small ) {

	.c-trip-summary--has-image {

		.c-trip-summary__image-wrap {
			@include column(2.5/7.5, $gutter: 3);

			&:before {
				display: block;
			}
		}

		.c-trip-summary__content {
			@include column(5/7.5, $gutter: 3);
		}

	}

}

.c-trip-summary__header {
	margin-bottom: .7rem;
}

.flexbox {

	.c-trip-summary {
		display: flex;
	}

	.c-trip-summary__link {
		width: 100%;
	}

	.c-trip-summary__content {
		display: flex;
		flex-direction: column;
	}

	.c-trip-summary__header {
		order: -1;
		display: flex;
		align-items: center;
		line-height: 1.4;
	}

	.c-trip-summary__operator {
		margin-left: auto;
		margin-right: 1rem;
	}

	.c-trip-summary__label {
		order: -2;
		align-self: flex-start;
		margin-bottom: 0;
	}

	.c-trip-summary--has-image {

		.c-trip-summary__label {
			position: absolute;
			top: 0;
			left: 0;
		}

	}

	.c-trip-summary--no-image {

		.c-trip-summary__label {
			margin-bottom: 1.4rem;
		}

	}

}

.no-flexbox {

	.c-trip-summary__subject,
	.c-trip-summary__country {
		display: inline-block;
	}

	.c-trip-summary__label {
		margin-bottom: .4rem;
	}

}
