/* ===========================================================

	# Anchor

=========================================================== */

a {
	color: $link-colour;
	transition: color $speed $ease,
				background $speed $ease;

	&:hover,
	&:focus {
		color: $link-colour-hover;
	}

	&:not([class]) {
		font-weight: $bold;

		&:hover,
		&:focus {
			background-color: rgba($yellow-3, 0.3);
		}
	}
}
