/* ===========================================================

	Base - Fonts

=========================================================== */

//lato
@font-face {
    font-family: 'Lato';
    src: url('#{$fonts}/lato/lato-regular-webfont.woff2') format('woff2'),
         url('#{$fonts}/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$fonts}/lato/lato-bold-webfont.woff2') format('woff2'),
         url('#{$fonts}/lato/lato-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$fonts}/lato/lato-black-webfont.woff2') format('woff2'),
         url('#{$fonts}/lato/lato-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


// merriweather
@font-face {
    font-family: 'merriweather';
    src: url('#{$fonts}/merriweather/merriweather-regular-webfont.woff2') format('woff2'),
         url('#{$fonts}/merriweather/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweather';
    src: url('#{$fonts}/merriweather/merriweather-bold-webfont.woff2') format('woff2'),
         url('#{$fonts}/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'merriweather';
    src: url('#{$fonts}/merriweather/merriweather-bolditalic-webfont.woff2') format('woff2'),
         url('#{$fonts}/merriweather/merriweather-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
