/* ===========================================================

	# Table

=========================================================== */

table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	font-size: 1.5rem;
}

th,
td {
	border-right: $border-width solid $border-colour;
	border-bottom: $border-width solid $border-colour;
	padding: 1.5rem 2rem;
	text-align: left;

	&:last-child {
		border-right: 0;
	}
}

th,
thead td {
	color: $heading-colour;
	font-weight: $bold;
	background-color: $light-1;
	font-family: $ff-sec-fallback;

	.fonts-loaded & {
		font-family: $ff-sec-webfont;
	}
}


tbody tr:last-child {

	td {
		border-bottom: 0;
	}

}
